In this section of the codes, the term frequency-inverse document frequency is computed on the keywords in the job and self description columns of the processed user data. Three similarity measures,namely,cosine similarity, manhattan distance and euclidean distance are computed on the resulting TF-IDF vector to obtain a set of similar users for a particular user.

In [1]:
from rake_nltk import Rake
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
import pandas as pd
user_data = pd.read_csv('linkedindata.csv')

In [4]:
user_data

,Unnamed: 0,Name,Job Title,Location,URL,Old Positions,Old Companies,Number of years,job description,self description,Position1,Position2,Position3,Position4,Position5,Position6,Position7,exp_years,exp_months
0,0,Paul Garner,Freelance Python Developer at Depop,"London, United Kingdom",https://www.linkedin.com/in/pauljgarner/?origi...,"Freelance Python Developer, Freelance Python D...","Depop, project work for various digital agenci...","4 yrs 2 mos, 4 yrs 6 mos, 3 mos, 10 mos, 1 yr","Python development using: Django, PostgreSQL, ...","I am a highly skilled Python developer, experi...",Freelance Python Developer,Freelance Python Developer,Freelance Python Developer,Python Developer,Django Developer,NaN,NaN,10,8
1,1,Bartosz Dziendzik,Python developer,"London, United Kingdom",https://www.linkedin.com/in/bartoszdziendzik/?...,Python Developer,Intelligent Optimisations,10 mos,"\n Python, JavaScript, Django, ...",NaN,Python Developer,NaN,NaN,NaN,NaN,NaN,NaN,1,0
2,2,Cal Paterson,Contract Python Developer at J.P. Morgan,"London, Greater London, United Kingdom",https://www.linkedin.com/in/cal-paterson-290a2...,"Contract Python Developer, Contract Python Dev...","Citi, Bank of America Merrill Lynch","4 mos, 1 yr 3 mos",DevOps (primarily infrastructure automation) o...,\n Senior software engineer with a varied...,Contract Python Developer,Contract Python Developer,NaN,NaN,NaN,NaN,NaN,2,3
3,3,Danny Butler,Backend Python Developer at Ostmodern,"London, United Kingdom",https://www.linkedin.com/in/danny-butler-62834...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
4,4,Georgi Georgiev,Python Developer/Data Engineer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/georgigeorgiev1/?o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
5,5,Luca Romagnoli,Python Developer at Mavens of London,"London, United Kingdom",https://www.linkedin.com/in/lucaromagnoli79/?o...,Supervisor,Chilango,2 yrs 3 mos,"â€¢ Design, develop and execute automation scrip...",NaN,Supervisor,NaN,NaN,NaN,NaN,NaN,NaN,3,3
6,6,Sandra Greiss,Freelance Data Scientist and Python Developer ...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/sandra-greiss-0666...,"Data Scientist, Internship","Lyst, Commercial Bank","1 yr 7 mos, 1 mo",I spent my internship in the Treasury and Inve...,NaN,Data Scientist,Internship,NaN,NaN,NaN,NaN,NaN,2,7
7,7,Pablo Chao Andrade,Python developer,"London, United Kingdom",https://www.linkedin.com/in/pablo-chao-andrade...,"Python Developer, FX Risk developer, FX Risk d...","Bank of America Merrill Lynch, JPMorgan Chase,...","1 yr 7 mos, 2 yrs 7 mos, 12 mos, 1 yr 2 mos",Worked on a reconciliation tool between front ...,"\n Specialties: python, test driven devel...",Python Developer,FX Risk developer,FX Risk developer,Market data developer,NaN,NaN,NaN,8,4
8,8,Scott White,Python Developer / Django Developer at Rockste...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/scott-white-6a377a...,"Python Developer / Django Developer, Python/Dj...","Rocksteady Games, Monumental Games","7 yrs 7 mos, 4 yrs",Working in a team of two on new and legacy pro...,NaN,Python Developer / Django Developer,Python/Django Web Developer,NaN,NaN,NaN,NaN,NaN,12,7
9,9,Lukasz Szczesiak,Software Engineer / Stand-Up Comedian,"London, Greater London, United Kingdom",https://www.linkedin.com/in/szczesiaklukasz/?o...,"Senior Software Engineer, Quantitative Investm...","Yoyo, Macquarie Group, J.P. Morgan, Apple","5 mos, 6 mos, 3 yrs 8 mos, 3 yrs 11 mos","Working with the B2B, design and marketing tea...","My IT trades include multi-language, multi-par...",Senior Software Engineer,Quantitative Investment Strategies as Python ...,Manager,Valuation Control Group Tech as Python Developer,Senior Associate,Apple Store Buchanan Street as Mac Specialist,NaN,9,7
10,10,Harish .N,Python Developer at CISCO,"Sunnyvale, California",https://www.linkedin.com/in/harish-n-29235314a/,"Python Developer, Python Developer, Python Dev...","Express Scripts, JPMorgan Chase & Co., MetLife...","11 mos, 1 yr 3 mos, 1 yr 11 mos, 1 yr 6 mos",â€¢\tDjango Framework that was used in developin...,NaN,Python Developer,Python Developer,Python Developer,Python Developer,NaN,NaN,NaN,6,8
11,11,Keshav M,Python Developer,"San Francisco, California",https://www.linkedin.com/in/keshav-m-17869487/,"Python Developer, Python Developer, Python Dev...","State of California-\tSan Francisco, CA, Edife...","2 yrs 1 mo, 1 yr, 1 yr, 2 yrs 4 mos, 2 yrs 1 mo",â€¢\tDeveloped the application using Agile metho...,Senior Software Engineer with 7 years of exper...,Python Developer,Python Developer,Python Developer,Python Developer,Linux Administrator,NaN,NaN,8,6
12,12,Iskandar Bakhtizin,Python Developer,"Santa Monica, California",https://www.linkedin.com/in/iskandar-bakhtizin...,NaN,NaN,NaN,"Ecommerce Lov2lov (lov2lov.com), Within this p...",Junior results-oriented software developer I a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
13,13,Isaac To,Python Developer,Greater Los Angeles Area,https://www.linkedin.com/in/candleindark/,Software Developer,"Smart Software Solutions, Inc",4 yrs 4 mos,Develop Python libraries for interacting with ...,NaN,Software Developer,NaN,NaN,NaN,NaN,NaN,NaN,5,4
14,14,Anastasiia Konak,Python Developer at Django Stars,"San Francisco, California",https://www.linkedin.com/in/anastasiia-konak-9...,Python Developer at Uniblue,Ciklum,1 yr 8 mos,Developed a Windows performance enhancement so...,"Communicative and eager to learn, want to adva...",Python Developer at Uniblue,NaN,NaN,NaN,NaN,NaN,NaN,2,8
15,15,Nivedha Balaji,Associate Technical Consultant at Perficient,San Francisco Bay Area,https://www.linkedin.com/in/nivedha-balaji/,"Python Developer Intern, Software Engineer, Re...","HCL , Uniq Technologies, RMD Engineering college","6 mos, 10 mos, 1 yr",Â·\tDeveloped web-based applications using Pyth...,Self-motivated engineer with 2+ years of exper...,Python Developer Intern,Software Engineer,Research Assistant,NaN,NaN,NaN,NaN,1,0
16,16,Michael Alber,"Senior PHP, Python Developer, and Cloud Admini...",San Francisco Bay Area,https://www.linkedin.com/in/albermichael/,Senior Software Developer and Cloud Administra...,"California Business Technology, Inc., ONE2Mark...","6 yrs 8 mos, 9 yrs 4 mos, 6 yrs 11 mos, 1 yr 1...","A senior PHP, Python developer, and technical ...","Strong professional skills in Python, PHP, Jav...",Senior Software Developer and Cloud Administrator,Partner / Senior Software Developer,Senior Software Developer and Team Lead,Lead Software Developer,Senior Software Developer,NaN,NaN,27,9
17,17,Srinivas Murthy,Python Developer at The affinity project,"Danville, California",https://www.linkedin.com/in/srinivas-murthy-53...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
18,18,mounika s,Python Developer at CapitalOne,Greater Los Angeles Area,https://www.linkedin.com/in/mounikas3333/,"Python Developer, Software Engineer, Software ...","CapitalOne, FGMC, Intense","1 yr 10 mos, 1 yr 8 mos, 1 yr",Capital One is a diversified bank that offers ...,\uf0a7\tAbout 4+ years of IT experience in all...,Python Developer,Software Engineer,Software Engineer,NaN,NaN,NaN,NaN,6,6
19,19,Santhosh Kumar,Technology Lead at Infosys,"Bengaluru, Karnataka, India",https://www.linkedin.com/in/santhosh156/?origi...,NaN,NaN,NaN,Designation:\tTechnology lead and Senior Pytho...,A result driven technology professional with a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
20,20,Jeremy N Pitt,Freelance Full-Stack Developer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/jeremypitt/?origin...,NaN,NaN,NaN,NaN,I am an experienced Freelance Full-Stack Devel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
21,21,Peter Kadlot,Full Stack Developer,"London, United Kingdom",https://www.linkedin.com/in/peterkadlot/?origi...,"Freelance Full Stack JS Developer, Full Stack ...","MakeThink Ltd., StreetHub, Ustream, Inc., agen...","9 yrs, 3 yrs 7 mos, 4 mos, 1 yr",A mobile app and CRM specialized for the real ...,I have built systems that are used by thousand...,Freelance Full Stack JS Developer,Full Stack Software Developer,Designer/Frontend Developer Intern,Developer,UX,Co-Founder,NaN,14,7
22,22,Tiago Fernandes,Full Stack Developer at Zava,"London, United Kingdom",https://www.linkedin.com/in/tmsfernandes/?orig...,Researcher,Universidade do Minho,11 mos,"Research in Cryptography, particularly Concret...",NaN,Researcher,NaN,NaN,NaN,NaN,NaN,NaN,1,0
23,23,Mohammad Abdullah,Software Intern at TkXel,Pakistan,https://www.linkedin.com/in/abd28xd/?originalS...,Language Consultant,what3words,4 mos,Employed as a temp on a contract basis for a p...,Highly motivated and dynamic individual with a...,Language Consultant,NaN,NaN,NaN,NaN,NaN,NaN,1,0
24,24,Onur Yasar,Full Stack Web Developer,"London, United Kingdom",https://www.linkedin.com/in/onuryasar/?origina...,"Contract Full Stack Web Developer, Contract Fu...","ITRM Ltd, Spinach Design, Cobra Group of Compa...","1 yr 5 mos, 3 mos, 9 mos","I was part of a 9 developers team, coding in a...",I am a 10+ years experienced senior full stack...,Contract Full Stack Web Developer,Contract Full Stack Web Developer,Contract Full Stack Web Developer,NaN,NaN,NaN,NaN,2,5
25,25,RubÃ©n GarcÃ­a LÃ³pez,Full Stack Developer at Toptal,"London, United Kingdom",https://www.linkedin.com/in/rub%C3%A9n-garc%C3...,"Full Stack Developer, Senior Software Develope...","Toptal, Thomas Cook, Meganexus, Software AG, C...","3 yrs 7 mos, 2 yrs 8 mos, 1 yr 5 mos, 4 yrs 6 ...",Full stack javascript developer working remote...,Software engineer with over 10 years experienc...,Full Stack Developer,Senior Software Developer,Senior Software Developer,Senior Software Developer,Software Developer,NaN,NaN,13,2
26,26,Kiran Kulkarni,Full Stack Web Developer at IBM,"London, Greater London, United Kingdom",https://www.linkedin.com/in/kiran-kulkarni-bb3...,"Inside Sales Executive, Barstaff","Advanced Business Solutions, Allenburys Sports...","9 mos, 2 yrs 7 mos",Advanced Computer Solutions is a leading UK so...,NaN,Inside Sales Executive,Barstaff,NaN,NaN,NaN,NaN,NaN,3,7
27,27,Vito Tardia,Full Stack Developer at Akkroo,"London, United Kingdom",https://www.linkedin.com/in/vitotardia/?origin...,"web and software developer, web developer / pr...","OFFICINEBIT.CH, Melismelis Srl, nearForm","8 yrs 2 mos, 9 yrs 7 mos, 1 yr 9 mos","Backend web development, e-commerce web sites ...",Iâ€™m a web designer and full stack developer w...,web and software developer,web developer / project manager,Full stack developer,NaN,NaN,NaN,NaN,21,6
28,28,Julian Wyatt,Junior Full Stack Developer. Angular JS | Node...,"London, United Kingdom",https://www.linkedin.com/in/julesjam/?original...,"Student, Operations Manager, Student - Part Ti...","WDI General Assembly London, Webstar-Health, G...","3 yrs 3 mos, 3 yrs 2 mos, less than a year, 3 yrs",Operations Manager Webstar-Health Ltd: Webstar...,"Following a very enjoyable career in Pharmacy,...",Student,Operations Manager,Student - Part Time - Front End Web Developme...,Consultancy for Pharmacy Retail Systems,NaN,NaN,NaN,10,5
29,29,Andrea Dammino,Senior Full Stack Developer (contract) at Nati...,"London, United Kingdom",https://www.linkedin.com/in/andrea-dammino-gig...,"Senior Full Stack Developer (contract), Senior...","Nationwide Building Society, Salmon, Lloyds Ba...","2 mos, 4 mos, 1 yr 2 mos",\n - Developing Nationwide for Business a...,Passionate and qualified IT expert with strong...,Senior Full Stack Developer (contract),Senior Front-end Developer (contract),Senior Front-end Developer (contract),NaN,NaN,NaN,NaN,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,117,Karim Norman Gorjux,Senior Python/Django Developer,"Melbourne, Australia",https://www.linkedin.com/in/karimgorjux/,"Senior Python Django Developer, Python/Django ...",NaN,NaN,"Python/Django development, Frontend (Jquery, J...",I am a really a passionate in the IT field. I ...,Senior Python Django Developer,Python/Django Developer,Owner,Owner,Web Developer,IT Consultant,NaN,1,0
118,118,Andrew Milburn,Database Developer at University of South Aust...,"Adelaide, South Australia, Australia",https://www.linkedin.com/in/andrew-milburn-9b6...,NaN,"University of South Australia, DMAC, Universit...","1 yr 4 mos, 7 yrs 2 mos",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,6
119,119,Oscar Alston,Database Developer at ITS Management,"Sydney, Australia",https://www.linkedin.com/in/oscar-alston-0a28a...,NaN,"ITS Management, UNSW, Accroo, BOQ Specialist,I...","1 yr 8 mos, 7 mos, 1 yr 7 mos, 6 mos,5 yrs 7 mos",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,10
120,120,Melangeline De Castro,Senior Database Developer at Hometrack Australia,"Sydney, Australia",https://www.linkedin.com/in/melangelinedecastro/,"Senior Database Developer, Application Databas...",NaN,NaN,- Performs analysis of property-related data t...,â€¢\tAn IT professional with extensive experienc...,Senior Database Developer,Application Database Administrator,Senior Database Developer (Contractor),Developer III,Database Developer,NaN,NaN,1,0
121,121,David Ingleton,SQL Server Database Developer/Administrator,"Adelaide, Australia",https://www.linkedin.com/in/david-ingleton-86b...,"Archive Database Developer, Systems Database C...",NaN,NaN,Supporting the implementation of the ePAS (Ent...,Almost 13 years experience in Database Adminis...,Archive Database Developer,Systems Database Coordinator,Database Administrator,NaN,NaN,NaN,NaN,1,0
122,122,Tarun Jain,Senior Database Developer,"Sydney, Australia",https://www.linkedin.com/in/tarun-jain-59669a57/,"Senior Associate, Module Lead, Sr. Software En...",Commonwealth Bank of Australia,4 yrs 3 mos,- Interact with client representatives and tea...,-- More than 11 years of work experience in so...,Senior Associate,Module Lead,Sr. Software Engineer,Jr. Software Engineer,NaN,NaN,NaN,5,3
123,123,Mikhail Gvozdev,Database Developer at Class,"Sydney, Australia",https://www.linkedin.com/in/mikhail-gvozdev-53...,"Database Developer, Systems Analyst/Programmer",NaN,NaN,Working on the greenfield project of refactori...,"Versatile and accomplished, I am a technically...",Database Developer,Systems Analyst/Programmer,NaN,NaN,NaN,NaN,NaN,1,0
124,124,Swarnika Kumari,Database Administrator at Loup.,"Melbourne, Australia",https://www.linkedin.com/in/swarnika-kumari-96...,"Database Developer and Data Analyst , IT Engi...",NaN,NaN,"Key Responsibilities:, -\tGather and analyse s...",Results-oriented IT Professional with over 5 y...,Database Developer and Data Analyst,IT Engineer,Software Engineer,IT Software Engineer,NaN,NaN,NaN,1,0
125,125,Mal Knott,IT Database Developer at Broadcast Australia,"Queensland, Australia",https://www.linkedin.com/in/mal-knott-64bbaba3/,NaN,Broadcast Australia,20 yrs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,0
126,126,Bharat Prasad Satyal,SQL database Developer at Credit Sense Australia,"Southport, Queensland, Australia",https://www.linkedin.com/in/bharatsatyal/,NaN,NaN,NaN,NaN,â€¢ Database Engineer with more than 7 years of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
127,127,Paul Brennan,Owner at Web Developer - Database Developer,"Sydney, Australia",https://www.linkedin.com/in/paul-brennan-12207...,NaN,Web Developer - Database Developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
128,128,Nick Nguyen,Senior Database Developer/DBA,"Orange County, California Area",https://www.linkedin.com/in/nicknguyendba/,DBA/ Database Developer,"L3, First American Financial Corporation, Hyun...","2 yrs 9 mos, 1 yr 8 mos, 7 yrs 5 mos, 2 yrs",Admin and maintain the PTSâ€™s clients SQL Serve...,Experienced Senior Database Administrator with...,DBA/ Database Developer,NaN,NaN,NaN,NaN,NaN,NaN,15,10
129,129,Veronika Movagharian Pour,"Sr Database/SQL Developer at Music Reports, Inc","Glendale, California",https://www.linkedin.com/in/veronika-movaghari...,"Web Application Designer/Developer, Software D...","Music Reports, Inc",6 yrs 1 mo,- Take the ownership of database projects lead...,I have years of experience in designing and de...,Web Application Designer/Developer,Software Developer and QA Engineer,Database & Web Application Designer/Developer,NaN,NaN,NaN,NaN,7,1
130,130,Douglas Swehla,MS SQL Server Database Developer,"Pasadena, California",https://www.linkedin.com/in/douglasswehla/,"Data Analyst, Database Developer, MS Access & ...",Sony Pictures Entertainment,5 mos,"At Streamlyne, a software consulting company, ...",While serving as a military intelligence analy...,Data Analyst,Database Developer,MS Access & SQL Server Developer,MS Access & SQL Server Developer,NaN,NaN,NaN,1,0
131,131,Chithra Kumar,Database Developer,"Irvine, California",https://www.linkedin.com/in/chithra-kumar-a145...,Database Developer,"ADP,Wipro Technologies","7 mos,6 yrs 11 mos","Database Design, Development, Testing, Data lo...","Data Professional, with a high-quality and var...",Database Developer,NaN,NaN,NaN,NaN,NaN,NaN,7,11
132,132,Nicole Sanders,Senior Application Developer at California Ass...,"Los Angeles, California",https://www.linkedin.com/in/nicole-sanders-444...,"Senior Database Developer, Senior Programmer/A...",CALIFORNIA ASSOCIATION OF REALTORSÂ®,11 mos,"â€¢ Create, modify and maintain existing existin...",Experienced Senior Database/Software Engineer ...,Senior Database Developer,Senior Programmer/Analyst at CSRA,Inc,Senior Programmer/Analyst,Software Engineer,NaN,NaN,1,0
133,133,Ragamaye Chandupatla,Senior Database Developer at ADP,"Yorba Linda, California",https://www.linkedin.com/in/ragamaye/,NaN,"ADP, Kaiser Permanente (Oracle/mLogica), Gatew...","2 mos, 1 yr, 2 yrs 11 mos, 8 mos, 1 yr",NaN,\n Experienced Senior Application Enginee...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,11
134,134,Christine Murphy,Senior Database Developer at ProSearch Strateg...,"Pasadena, California",https://www.linkedin.com/in/christinemurphy3/,"Software Systems Analyst, Technical Support An...","ProSearch Strategies, Inc,ETC Processing Techn...","11 mos,3 yrs 10 mos, 7 mos",Manage and encourage professional development ...,I am a reliable and detail-oriented software d...,Software Systems Analyst,Technical Support Analyst,NaN,NaN,NaN,NaN,NaN,4,10
135,135,Venkat Mechineni MBA,Database Administrator (DBA) at The Financial ...,"Sacramento, California",https://www.linkedin.com/in/venkat-mechineni-m...,"Database Administrator (DBA), Sr Database Deve...",NaN,NaN,The Financial Information System for Californi...,NaN,Database Administrator (DBA),Sr Database Developer,Sr Business Systems Analyst,Tech Lead,Sr. Software Engineer,NaN,NaN,1,0
136,136,Swathi B.,Sr Software Database Developer at Partnership ...,"Vallejo, California",https://www.linkedin.com/in/swathi-battula-302...,Data Analyst,"Partnership HealthPlan of California, Universi...","5 yrs 7 mos, 1 yr 5 mos",Developed Database Applications using Oracle ....,Experienced Developer with a demonstrated hist...,Data Analyst,NaN,NaN,NaN,NaN,NaN,NaN,10,0
137,137,Sagar Kadiyala,Senior Database Developer at BCD Travel,"London, Greater London, United Kingdom",https://www.linkedin.com/in/sagar-kadiyala-098...,"Senior Database Developer, Azure SQL BI Develo...",NaN,NaN,"\n Senior SQLServer developer, ... , \uf0...",Experienced SQL Developer with a demonstrated ...,Senior Database Developer,Azure SQL BI Developer,Senior Database Developer,Database Developer,Oracle Developer,NaN,NaN,1,0
138,138,Luke Ingram,Senior Database Developer at more2,"London, Greater London, United Kingdom",https://www.linkedin.com/in/luke-ingram-0b787798/,Cashier,more2,3 yrs 5 mos,Member of the production team for more2. Worki...,"\n Experience in C#, T-SQL, SSIS & SSRS p...",Cashier,NaN,NaN,NaN,NaN,NaN,NaN,4,5

In [5]:
user_data=user_data.drop(user_data.columns[0], axis=1)

In [6]:
user_data

,Name,Job Title,Location,URL,Old Positions,Old Companies,Number of years,job description,self description,Position1,Position2,Position3,Position4,Position5,Position6,Position7,exp_years,exp_months
0,Paul Garner,Freelance Python Developer at Depop,"London, United Kingdom",https://www.linkedin.com/in/pauljgarner/?origi...,"Freelance Python Developer, Freelance Python D...","Depop, project work for various digital agenci...","4 yrs 2 mos, 4 yrs 6 mos, 3 mos, 10 mos, 1 yr","Python development using: Django, PostgreSQL, ...","I am a highly skilled Python developer, experi...",Freelance Python Developer,Freelance Python Developer,Freelance Python Developer,Python Developer,Django Developer,NaN,NaN,10,8
1,Bartosz Dziendzik,Python developer,"London, United Kingdom",https://www.linkedin.com/in/bartoszdziendzik/?...,Python Developer,Intelligent Optimisations,10 mos,"\n Python, JavaScript, Django, ...",NaN,Python Developer,NaN,NaN,NaN,NaN,NaN,NaN,1,0
2,Cal Paterson,Contract Python Developer at J.P. Morgan,"London, Greater London, United Kingdom",https://www.linkedin.com/in/cal-paterson-290a2...,"Contract Python Developer, Contract Python Dev...","Citi, Bank of America Merrill Lynch","4 mos, 1 yr 3 mos",DevOps (primarily infrastructure automation) o...,\n Senior software engineer with a varied...,Contract Python Developer,Contract Python Developer,NaN,NaN,NaN,NaN,NaN,2,3
3,Danny Butler,Backend Python Developer at Ostmodern,"London, United Kingdom",https://www.linkedin.com/in/danny-butler-62834...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
4,Georgi Georgiev,Python Developer/Data Engineer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/georgigeorgiev1/?o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
5,Luca Romagnoli,Python Developer at Mavens of London,"London, United Kingdom",https://www.linkedin.com/in/lucaromagnoli79/?o...,Supervisor,Chilango,2 yrs 3 mos,"â€¢ Design, develop and execute automation scrip...",NaN,Supervisor,NaN,NaN,NaN,NaN,NaN,NaN,3,3
6,Sandra Greiss,Freelance Data Scientist and Python Developer ...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/sandra-greiss-0666...,"Data Scientist, Internship","Lyst, Commercial Bank","1 yr 7 mos, 1 mo",I spent my internship in the Treasury and Inve...,NaN,Data Scientist,Internship,NaN,NaN,NaN,NaN,NaN,2,7
7,Pablo Chao Andrade,Python developer,"London, United Kingdom",https://www.linkedin.com/in/pablo-chao-andrade...,"Python Developer, FX Risk developer, FX Risk d...","Bank of America Merrill Lynch, JPMorgan Chase,...","1 yr 7 mos, 2 yrs 7 mos, 12 mos, 1 yr 2 mos",Worked on a reconciliation tool between front ...,"\n Specialties: python, test driven devel...",Python Developer,FX Risk developer,FX Risk developer,Market data developer,NaN,NaN,NaN,8,4
8,Scott White,Python Developer / Django Developer at Rockste...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/scott-white-6a377a...,"Python Developer / Django Developer, Python/Dj...","Rocksteady Games, Monumental Games","7 yrs 7 mos, 4 yrs",Working in a team of two on new and legacy pro...,NaN,Python Developer / Django Developer,Python/Django Web Developer,NaN,NaN,NaN,NaN,NaN,12,7
9,Lukasz Szczesiak,Software Engineer / Stand-Up Comedian,"London, Greater London, United Kingdom",https://www.linkedin.com/in/szczesiaklukasz/?o...,"Senior Software Engineer, Quantitative Investm...","Yoyo, Macquarie Group, J.P. Morgan, Apple","5 mos, 6 mos, 3 yrs 8 mos, 3 yrs 11 mos","Working with the B2B, design and marketing tea...","My IT trades include multi-language, multi-par...",Senior Software Engineer,Quantitative Investment Strategies as Python ...,Manager,Valuation Control Group Tech as Python Developer,Senior Associate,Apple Store Buchanan Street as Mac Specialist,NaN,9,7
10,Harish .N,Python Developer at CISCO,"Sunnyvale, California",https://www.linkedin.com/in/harish-n-29235314a/,"Python Developer, Python Developer, Python Dev...","Express Scripts, JPMorgan Chase & Co., MetLife...","11 mos, 1 yr 3 mos, 1 yr 11 mos, 1 yr 6 mos",â€¢\tDjango Framework that was used in developin...,NaN,Python Developer,Python Developer,Python Developer,Python Developer,NaN,NaN,NaN,6,8
11,Keshav M,Python Developer,"San Francisco, California",https://www.linkedin.com/in/keshav-m-17869487/,"Python Developer, Python Developer, Python Dev...","State of California-\tSan Francisco, CA, Edife...","2 yrs 1 mo, 1 yr, 1 yr, 2 yrs 4 mos, 2 yrs 1 mo",â€¢\tDeveloped the application using Agile metho...,Senior Software Engineer with 7 years of exper...,Python Developer,Python Developer,Python Developer,Python Developer,Linux Administrator,NaN,NaN,8,6
12,Iskandar Bakhtizin,Python Developer,"Santa Monica, California",https://www.linkedin.com/in/iskandar-bakhtizin...,NaN,NaN,NaN,"Ecommerce Lov2lov (lov2lov.com), Within this p...",Junior results-oriented software developer I a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
13,Isaac To,Python Developer,Greater Los Angeles Area,https://www.linkedin.com/in/candleindark/,Software Developer,"Smart Software Solutions, Inc",4 yrs 4 mos,Develop Python libraries for interacting with ...,NaN,Software Developer,NaN,NaN,NaN,NaN,NaN,NaN,5,4
14,Anastasiia Konak,Python Developer at Django Stars,"San Francisco, California",https://www.linkedin.com/in/anastasiia-konak-9...,Python Developer at Uniblue,Ciklum,1 yr 8 mos,Developed a Windows performance enhancement so...,"Communicative and eager to learn, want to adva...",Python Developer at Uniblue,NaN,NaN,NaN,NaN,NaN,NaN,2,8
15,Nivedha Balaji,Associate Technical Consultant at Perficient,San Francisco Bay Area,https://www.linkedin.com/in/nivedha-balaji/,"Python Developer Intern, Software Engineer, Re...","HCL , Uniq Technologies, RMD Engineering college","6 mos, 10 mos, 1 yr",Â·\tDeveloped web-based applications using Pyth...,Self-motivated engineer with 2+ years of exper...,Python Developer Intern,Software Engineer,Research Assistant,NaN,NaN,NaN,NaN,1,0
16,Michael Alber,"Senior PHP, Python Developer, and Cloud Admini...",San Francisco Bay Area,https://www.linkedin.com/in/albermichael/,Senior Software Developer and Cloud Administra...,"California Business Technology, Inc., ONE2Mark...","6 yrs 8 mos, 9 yrs 4 mos, 6 yrs 11 mos, 1 yr 1...","A senior PHP, Python developer, and technical ...","Strong professional skills in Python, PHP, Jav...",Senior Software Developer and Cloud Administrator,Partner / Senior Software Developer,Senior Software Developer and Team Lead,Lead Software Developer,Senior Software Developer,NaN,NaN,27,9
17,Srinivas Murthy,Python Developer at The affinity project,"Danville, California",https://www.linkedin.com/in/srinivas-murthy-53...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
18,mounika s,Python Developer at CapitalOne,Greater Los Angeles Area,https://www.linkedin.com/in/mounikas3333/,"Python Developer, Software Engineer, Software ...","CapitalOne, FGMC, Intense","1 yr 10 mos, 1 yr 8 mos, 1 yr",Capital One is a diversified bank that offers ...,\uf0a7\tAbout 4+ years of IT experience in all...,Python Developer,Software Engineer,Software Engineer,NaN,NaN,NaN,NaN,6,6
19,Santhosh Kumar,Technology Lead at Infosys,"Bengaluru, Karnataka, India",https://www.linkedin.com/in/santhosh156/?origi...,NaN,NaN,NaN,Designation:\tTechnology lead and Senior Pytho...,A result driven technology professional with a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
20,Jeremy N Pitt,Freelance Full-Stack Developer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/jeremypitt/?origin...,NaN,NaN,NaN,NaN,I am an experienced Freelance Full-Stack Devel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
21,Peter Kadlot,Full Stack Developer,"London, United Kingdom",https://www.linkedin.com/in/peterkadlot/?origi...,"Freelance Full Stack JS Developer, Full Stack ...","MakeThink Ltd., StreetHub, Ustream, Inc., agen...","9 yrs, 3 yrs 7 mos, 4 mos, 1 yr",A mobile app and CRM specialized for the real ...,I have built systems that are used by thousand...,Freelance Full Stack JS Developer,Full Stack Software Developer,Designer/Frontend Developer Intern,Developer,UX,Co-Founder,NaN,14,7
22,Tiago Fernandes,Full Stack Developer at Zava,"London, United Kingdom",https://www.linkedin.com/in/tmsfernandes/?orig...,Researcher,Universidade do Minho,11 mos,"Research in Cryptography, particularly Concret...",NaN,Researcher,NaN,NaN,NaN,NaN,NaN,NaN,1,0
23,Mohammad Abdullah,Software Intern at TkXel,Pakistan,https://www.linkedin.com/in/abd28xd/?originalS...,Language Consultant,what3words,4 mos,Employed as a temp on a contract basis for a p...,Highly motivated and dynamic individual with a...,Language Consultant,NaN,NaN,NaN,NaN,NaN,NaN,1,0
24,Onur Yasar,Full Stack Web Developer,"London, United Kingdom",https://www.linkedin.com/in/onuryasar/?origina...,"Contract Full Stack Web Developer, Contract Fu...","ITRM Ltd, Spinach Design, Cobra Group of Compa...","1 yr 5 mos, 3 mos, 9 mos","I was part of a 9 developers team, coding in a...",I am a 10+ years experienced senior full stack...,Contract Full Stack Web Developer,Contract Full Stack Web Developer,Contract Full Stack Web Developer,NaN,NaN,NaN,NaN,2,5
25,RubÃ©n GarcÃ­a LÃ³pez,Full Stack Developer at Toptal,"London, United Kingdom",https://www.linkedin.com/in/rub%C3%A9n-garc%C3...,"Full Stack Developer, Senior Software Develope...","Toptal, Thomas Cook, Meganexus, Software AG, C...","3 yrs 7 mos, 2 yrs 8 mos, 1 yr 5 mos, 4 yrs 6 ...",Full stack javascript developer working remote...,Software engineer with over 10 years experienc...,Full Stack Developer,Senior Software Developer,Senior Software Developer,Senior Software Developer,Software Developer,NaN,NaN,13,2
26,Kiran Kulkarni,Full Stack Web Developer at IBM,"London, Greater London, United Kingdom",https://www.linkedin.com/in/kiran-kulkarni-bb3...,"Inside Sales Executive, Barstaff","Advanced Business Solutions, Allenburys Sports...","9 mos, 2 yrs 7 mos",Advanced Computer Solutions is a leading UK so...,NaN,Inside Sales Executive,Barstaff,NaN,NaN,NaN,NaN,NaN,3,7
27,Vito Tardia,Full Stack Developer at Akkroo,"London, United Kingdom",https://www.linkedin.com/in/vitotardia/?origin...,"web and software developer, web developer / pr...","OFFICINEBIT.CH, Melismelis Srl, nearForm","8 yrs 2 mos, 9 yrs 7 mos, 1 yr 9 mos","Backend web development, e-commerce web sites ...",Iâ€™m a web designer and full stack developer w...,web and software developer,web developer / project manager,Full stack developer,NaN,NaN,NaN,NaN,21,6
28,Julian Wyatt,Junior Full Stack Developer. Angular JS | Node...,"London, United Kingdom",https://www.linkedin.com/in/julesjam/?original...,"Student, Operations Manager, Student - Part Ti...","WDI General Assembly London, Webstar-Health, G...","3 yrs 3 mos, 3 yrs 2 mos, less than a year, 3 yrs",Operations Manager Webstar-Health Ltd: Webstar...,"Following a very enjoyable career in Pharmacy,...",Student,Operations Manager,Student - Part Time - Front End Web Developme...,Consultancy for Pharmacy Retail Systems,NaN,NaN,NaN,10,5
29,Andrea Dammino,Senior Full Stack Developer (contract) at Nati...,"London, United Kingdom",https://www.linkedin.com/in/andrea-dammino-gig...,"Senior Full Stack Developer (contract), Senior...","Nationwide Building Society, Salmon, Lloyds Ba...","2 mos, 4 mos, 1 yr 2 mos",\n - Developing Nationwide for Business a...,Passionate and qualified IT expert with strong...,Senior Full Stack Developer (contract),Senior Front-end Developer (contract),Senior Front-end Developer (contract),NaN,NaN,NaN,NaN,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Karim Norman Gorjux,Senior Python/Django Developer,"Melbourne, Australia",https://www.linkedin.com/in/karimgorjux/,"Senior Python Django Developer, Python/Django ...",NaN,NaN,"Python/Django development, Frontend (Jquery, J...",I am a really a passionate in the IT field. I ...,Senior Python Django Developer,Python/Django Developer,Owner,Owner,Web Developer,IT Consultant,NaN,1,0
118,Andrew Milburn,Database Developer at University of South Aust...,"Adelaide, South Australia, Australia",https://www.linkedin.com/in/andrew-milburn-9b6...,NaN,"University of South Australia, DMAC, Universit...","1 yr 4 mos, 7 yrs 2 mos",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,6
119,Oscar Alston,Database Developer at ITS Management,"Sydney, Australia",https://www.linkedin.com/in/oscar-alston-0a28a...,NaN,"ITS Management, UNSW, Accroo, BOQ Specialist,I...","1 yr 8 mos, 7 mos, 1 yr 7 mos, 6 mos,5 yrs 7 mos",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,10
120,Melangeline De Castro,Senior Database Developer at Hometrack Australia,"Sydney, Australia",https://www.linkedin.com/in/melangelinedecastro/,"Senior Database Developer, Application Databas...",NaN,NaN,- Performs analysis of property-related data t...,â€¢\tAn IT professional with extensive experienc...,Senior Database Developer,Application Database Administrator,Senior Database Developer (Contractor),Developer III,Database Developer,NaN,NaN,1,0
121,David Ingleton,SQL Server Database Developer/Administrator,"Adelaide, Australia",https://www.linkedin.com/in/david-ingleton-86b...,"Archive Database Developer, Systems Database C...",NaN,NaN,Supporting the implementation of the ePAS (Ent...,Almost 13 years experience in Database Adminis...,Archive Database Developer,Systems Database Coordinator,Database Administrator,NaN,NaN,NaN,NaN,1,0
122,Tarun Jain,Senior Database Developer,"Sydney, Australia",https://www.linkedin.com/in/tarun-jain-59669a57/,"Senior Associate, Module Lead, Sr. Software En...",Commonwealth Bank of Australia,4 yrs 3 mos,- Interact with client representatives and tea...,-- More than 11 years of work experience in so...,Senior Associate,Module Lead,Sr. Software Engineer,Jr. Software Engineer,NaN,NaN,NaN,5,3
123,Mikhail Gvozdev,Database Developer at Class,"Sydney, Australia",https://www.linkedin.com/in/mikhail-gvozdev-53...,"Database Developer, Systems Analyst/Programmer",NaN,NaN,Working on the greenfield project of refactori...,"Versatile and accomplished, I am a technically...",Database Developer,Systems Analyst/Programmer,NaN,NaN,NaN,NaN,NaN,1,0
124,Swarnika Kumari,Database Administrator at Loup.,"Melbourne, Australia",https://www.linkedin.com/in/swarnika-kumari-96...,"Database Developer and Data Analyst , IT Engi...",NaN,NaN,"Key Responsibilities:, -\tGather and analyse s...",Results-oriented IT Professional with over 5 y...,Database Developer and Data Analyst,IT Engineer,Software Engineer,IT Software Engineer,NaN,NaN,NaN,1,0
125,Mal Knott,IT Database Developer at Broadcast Australia,"Queensland, Australia",https://www.linkedin.com/in/mal-knott-64bbaba3/,NaN,Broadcast Australia,20 yrs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,0
126,Bharat Prasad Satyal,SQL database Developer at Credit Sense Australia,"Southport, Queensland, Australia",https://www.linkedin.com/in/bharatsatyal/,NaN,NaN,NaN,NaN,â€¢ Database Engineer with more than 7 years of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
127,Paul Brennan,Owner at Web Developer - Database Developer,"Sydney, Australia",https://www.linkedin.com/in/paul-brennan-12207...,NaN,Web Developer - Database Developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
128,Nick Nguyen,Senior Database Developer/DBA,"Orange County, California Area",https://www.linkedin.com/in/nicknguyendba/,DBA/ Database Developer,"L3, First American Financial Corporation, Hyun...","2 yrs 9 mos, 1 yr 8 mos, 7 yrs 5 mos, 2 yrs",Admin and maintain the PTSâ€™s clients SQL Serve...,Experienced Senior Database Administrator with...,DBA/ Database Developer,NaN,NaN,NaN,NaN,NaN,NaN,15,10
129,Veronika Movagharian Pour,"Sr Database/SQL Developer at Music Reports, Inc","Glendale, California",https://www.linkedin.com/in/veronika-movaghari...,"Web Application Designer/Developer, Software D...","Music Reports, Inc",6 yrs 1 mo,- Take the ownership of database projects lead...,I have years of experience in designing and de...,Web Application Designer/Developer,Software Developer and QA Engineer,Database & Web Application Designer/Developer,NaN,NaN,NaN,NaN,7,1
130,Douglas Swehla,MS SQL Server Database Developer,"Pasadena, California",https://www.linkedin.com/in/douglasswehla/,"Data Analyst, Database Developer, MS Access & ...",Sony Pictures Entertainment,5 mos,"At Streamlyne, a software consulting company, ...",While serving as a military intelligence analy...,Data Analyst,Database Developer,MS Access & SQL Server Developer,MS Access & SQL Server Developer,NaN,NaN,NaN,1,0
131,Chithra Kumar,Database Developer,"Irvine, California",https://www.linkedin.com/in/chithra-kumar-a145...,Database Developer,"ADP,Wipro Technologies","7 mos,6 yrs 11 mos","Database Design, Development, Testing, Data lo...","Data Professional, with a high-quality and var...",Database Developer,NaN,NaN,NaN,NaN,NaN,NaN,7,11
132,Nicole Sanders,Senior Application Developer at California Ass...,"Los Angeles, California",https://www.linkedin.com/in/nicole-sanders-444...,"Senior Database Developer, Senior Programmer/A...",CALIFORNIA ASSOCIATION OF REALTORSÂ®,11 mos,"â€¢ Create, modify and maintain existing existin...",Experienced Senior Database/Software Engineer ...,Senior Database Developer,Senior Programmer/Analyst at CSRA,Inc,Senior Programmer/Analyst,Software Engineer,NaN,NaN,1,0
133,Ragamaye Chandupatla,Senior Database Developer at ADP,"Yorba Linda, California",https://www.linkedin.com/in/ragamaye/,NaN,"ADP, Kaiser Permanente (Oracle/mLogica), Gatew...","2 mos, 1 yr, 2 yrs 11 mos, 8 mos, 1 yr",NaN,\n Experienced Senior Application Enginee...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,11
134,Christine Murphy,Senior Database Developer at ProSearch Strateg...,"Pasadena, California",https://www.linkedin.com/in/christinemurphy3/,"Software Systems Analyst, Technical Support An...","ProSearch Strategies, Inc,ETC Processing Techn...","11 mos,3 yrs 10 mos, 7 mos",Manage and encourage professional development ...,I am a reliable and detail-oriented software d...,Software Systems Analyst,Technical Support Analyst,NaN,NaN,NaN,NaN,NaN,4,10
135,Venkat Mechineni MBA,Database Administrator (DBA) at The Financial ...,"Sacramento, California",https://www.linkedin.com/in/venkat-mechineni-m...,"Database Administrator (DBA), Sr Database Deve...",NaN,NaN,The Financial Information System for Californi...,NaN,Database Administrator (DBA),Sr Database Developer,Sr Business Systems Analyst,Tech Lead,Sr. Software Engineer,NaN,NaN,1,0
136,Swathi B.,Sr Software Database Developer at Partnership ...,"Vallejo, California",https://www.linkedin.com/in/swathi-battula-302...,Data Analyst,"Partnership HealthPlan of California, Universi...","5 yrs 7 mos, 1 yr 5 mos",Developed Database Applications using Oracle ....,Experienced Developer with a demonstrated hist...,Data Analyst,NaN,NaN,NaN,NaN,NaN,NaN,10,0
137,Sagar Kadiyala,Senior Database Developer at BCD Travel,"London, Greater London, United Kingdom",https://www.linkedin.com/in/sagar-kadiyala-098...,"Senior Database Developer, Azure SQL BI Develo...",NaN,NaN,"\n Senior SQLServer developer, ... , \uf0...",Experienced SQL Developer with a demonstrated ...,Senior Database Developer,Azure SQL BI Developer,Senior Database Developer,Database Developer,Oracle Developer,NaN,NaN,1,0
138,Luke Ingram,Senior Database Developer at more2,"London, Greater London, United Kingdom",https://www.linkedin.com/in/luke-ingram-0b787798/,Cashier,more2,3 yrs 5 mos,Member of the production team for more2. Worki...,"\n Experience in C#, T-SQL, SSIS & SSRS p...",Cashier,NaN,NaN,NaN,NaN,NaN,NaN,4,5
139,Paul Snook,"Experienced VBA & SQL Developer, currently loo...","Walderslade, Kent, United Kingdom",https://www.linkedin.com/in/paulsnook71/,"Database Developer, Microsoft Access Developer...",NaN,NaN,â€¢\tEmployed to support and enhance the existin...,I have extensive experience as a VBA & SQL Dev...,Database Developer,Microsoft Access Developer,Microsoft Access Developer,VBA / RAD Developer,VBA Developer,NaN,NaN,1,0

In [7]:
user_data['description'] = user_data['job description'].str.cat(user_data['self description'],sep=" ")

In [8]:
user_data

,Name,Job Title,Location,URL,Old Positions,Old Companies,Number of years,job description,self description,Position1,Position2,Position3,Position4,Position5,Position6,Position7,exp_years,exp_months,description
0,Paul Garner,Freelance Python Developer at Depop,"London, United Kingdom",https://www.linkedin.com/in/pauljgarner/?origi...,"Freelance Python Developer, Freelance Python D...","Depop, project work for various digital agenci...","4 yrs 2 mos, 4 yrs 6 mos, 3 mos, 10 mos, 1 yr","Python development using: Django, PostgreSQL, ...","I am a highly skilled Python developer, experi...",Freelance Python Developer,Freelance Python Developer,Freelance Python Developer,Python Developer,Django Developer,NaN,NaN,10,8,"Python development using: Django, PostgreSQL, ..."
1,Bartosz Dziendzik,Python developer,"London, United Kingdom",https://www.linkedin.com/in/bartoszdziendzik/?...,Python Developer,Intelligent Optimisations,10 mos,"\n Python, JavaScript, Django, ...",NaN,Python Developer,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN
2,Cal Paterson,Contract Python Developer at J.P. Morgan,"London, Greater London, United Kingdom",https://www.linkedin.com/in/cal-paterson-290a2...,"Contract Python Developer, Contract Python Dev...","Citi, Bank of America Merrill Lynch","4 mos, 1 yr 3 mos",DevOps (primarily infrastructure automation) o...,\n Senior software engineer with a varied...,Contract Python Developer,Contract Python Developer,NaN,NaN,NaN,NaN,NaN,2,3,DevOps (primarily infrastructure automation) o...
3,Danny Butler,Backend Python Developer at Ostmodern,"London, United Kingdom",https://www.linkedin.com/in/danny-butler-62834...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN
4,Georgi Georgiev,Python Developer/Data Engineer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/georgigeorgiev1/?o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN
5,Luca Romagnoli,Python Developer at Mavens of London,"London, United Kingdom",https://www.linkedin.com/in/lucaromagnoli79/?o...,Supervisor,Chilango,2 yrs 3 mos,"â€¢ Design, develop and execute automation scrip...",NaN,Supervisor,NaN,NaN,NaN,NaN,NaN,NaN,3,3,NaN
6,Sandra Greiss,Freelance Data Scientist and Python Developer ...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/sandra-greiss-0666...,"Data Scientist, Internship","Lyst, Commercial Bank","1 yr 7 mos, 1 mo",I spent my internship in the Treasury and Inve...,NaN,Data Scientist,Internship,NaN,NaN,NaN,NaN,NaN,2,7,NaN
7,Pablo Chao Andrade,Python developer,"London, United Kingdom",https://www.linkedin.com/in/pablo-chao-andrade...,"Python Developer, FX Risk developer, FX Risk d...","Bank of America Merrill Lynch, JPMorgan Chase,...","1 yr 7 mos, 2 yrs 7 mos, 12 mos, 1 yr 2 mos",Worked on a reconciliation tool between front ...,"\n Specialties: python, test driven devel...",Python Developer,FX Risk developer,FX Risk developer,Market data developer,NaN,NaN,NaN,8,4,Worked on a reconciliation tool between front ...
8,Scott White,Python Developer / Django Developer at Rockste...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/scott-white-6a377a...,"Python Developer / Django Developer, Python/Dj...","Rocksteady Games, Monumental Games","7 yrs 7 mos, 4 yrs",Working in a team of two on new and legacy pro...,NaN,Python Developer / Django Developer,Python/Django Web Developer,NaN,NaN,NaN,NaN,NaN,12,7,NaN
9,Lukasz Szczesiak,Software Engineer / Stand-Up Comedian,"London, Greater London, United Kingdom",https://www.linkedin.com/in/szczesiaklukasz/?o...,"Senior Software Engineer, Quantitative Investm...","Yoyo, Macquarie Group, J.P. Morgan, Apple","5 mos, 6 mos, 3 yrs 8 mos, 3 yrs 11 mos","Working with the B2B, design and marketing tea...","My IT trades include multi-language, multi-par...",Senior Software Engineer,Quantitative Investment Strategies as Python ...,Manager,Valuation Control Group Tech as Python Developer,Senior Associate,Apple Store Buchanan Street as Mac Specialist,NaN,9,7,"Working with the B2B, design and marketing tea..."
10,Harish .N,Python Developer at CISCO,"Sunnyvale, California",https://www.linkedin.com/in/harish-n-29235314a/,"Python Developer, Python Developer, Python Dev...","Express Scripts, JPMorgan Chase & Co., MetLife...","11 mos, 1 yr 3 mos, 1 yr 11 mos, 1 yr 6 mos",â€¢\tDjango Framework that was used in developin...,NaN,Python Developer,Python Developer,Python Developer,Python Developer,NaN,NaN,NaN,6,8,NaN
11,Keshav M,Python Developer,"San Francisco, California",https://www.linkedin.com/in/keshav-m-17869487/,"Python Developer, Python Developer, Python Dev...","State of California-\tSan Francisco, CA, Edife...","2 yrs 1 mo, 1 yr, 1 yr, 2 yrs 4 mos, 2 yrs 1 mo",â€¢\tDeveloped the application using Agile metho...,Senior Software Engineer with 7 years of exper...,Python Developer,Python Developer,Python Developer,Python Developer,Linux Administrator,NaN,NaN,8,6,â€¢\tDeveloped the application using Agile metho...
12,Iskandar Bakhtizin,Python Developer,"Santa Monica, California",https://www.linkedin.com/in/iskandar-bakhtizin...,NaN,NaN,NaN,"Ecommerce Lov2lov (lov2lov.com), Within this p...",Junior results-oriented software developer I a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,"Ecommerce Lov2lov (lov2lov.com), Within this p..."
13,Isaac To,Python Developer,Greater Los Angeles Area,https://www.linkedin.com/in/candleindark/,Software Developer,"Smart Software Solutions, Inc",4 yrs 4 mos,Develop Python libraries for interacting with ...,NaN,Software Developer,NaN,NaN,NaN,NaN,NaN,NaN,5,4,NaN
14,Anastasiia Konak,Python Developer at Django Stars,"San Francisco, California",https://www.linkedin.com/in/anastasiia-konak-9...,Python Developer at Uniblue,Ciklum,1 yr 8 mos,Developed a Windows performance enhancement so...,"Communicative and eager to learn, want to adva...",Python Developer at Uniblue,NaN,NaN,NaN,NaN,NaN,NaN,2,8,Developed a Windows performance enhancement so...
15,Nivedha Balaji,Associate Technical Consultant at Perficient,San Francisco Bay Area,https://www.linkedin.com/in/nivedha-balaji/,"Python Developer Intern, Software Engineer, Re...","HCL , Uniq Technologies, RMD Engineering college","6 mos, 10 mos, 1 yr",Â·\tDeveloped web-based applications using Pyth...,Self-motivated engineer with 2+ years of exper...,Python Developer Intern,Software Engineer,Research Assistant,NaN,NaN,NaN,NaN,1,0,Â·\tDeveloped web-based applications using Pyth...
16,Michael Alber,"Senior PHP, Python Developer, and Cloud Admini...",San Francisco Bay Area,https://www.linkedin.com/in/albermichael/,Senior Software Developer and Cloud Administra...,"California Business Technology, Inc., ONE2Mark...","6 yrs 8 mos, 9 yrs 4 mos, 6 yrs 11 mos, 1 yr 1...","A senior PHP, Python developer, and technical ...","Strong professional skills in Python, PHP, Jav...",Senior Software Developer and Cloud Administrator,Partner / Senior Software Developer,Senior Software Developer and Team Lead,Lead Software Developer,Senior Software Developer,NaN,NaN,27,9,"A senior PHP, Python developer, and technical ..."
17,Srinivas Murthy,Python Developer at The affinity project,"Danville, California",https://www.linkedin.com/in/srinivas-murthy-53...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN
18,mounika s,Python Developer at CapitalOne,Greater Los Angeles Area,https://www.linkedin.com/in/mounikas3333/,"Python Developer, Software Engineer, Software ...","CapitalOne, FGMC, Intense","1 yr 10 mos, 1 yr 8 mos, 1 yr",Capital One is a diversified bank that offers ...,\uf0a7\tAbout 4+ years of IT experience in all...,Python Developer,Software Engineer,Software Engineer,NaN,NaN,NaN,NaN,6,6,Capital One is a diversified bank that offers ...
19,Santhosh Kumar,Technology Lead at Infosys,"Bengaluru, Karnataka, India",https://www.linkedin.com/in/santhosh156/?origi...,NaN,NaN,NaN,Designation:\tTechnology lead and Senior Pytho...,A result driven technology professional with a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Designation:\tTechnology lead and Senior Pytho...
20,Jeremy N Pitt,Freelance Full-Stack Developer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/jeremypitt/?origin...,NaN,NaN,NaN,NaN,I am an experienced Freelance Full-Stack Devel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN
21,Peter Kadlot,Full Stack Developer,"London, United Kingdom",https://www.linkedin.com/in/peterkadlot/?origi...,"Freelance Full Stack JS Developer, Full Stack ...","MakeThink Ltd., StreetHub, Ustream, Inc., agen...","9 yrs, 3 yrs 7 mos, 4 mos, 1 yr",A mobile app and CRM specialized for the real ...,I have built systems that are used by thousand...,Freelance Full Stack JS Developer,Full Stack Software Developer,Designer/Frontend Developer Intern,Developer,UX,Co-Founder,NaN,14,7,A mobile app and CRM specialized for the real ...
22,Tiago Fernandes,Full Stack Developer at Zava,"London, United Kingdom",https://www.linkedin.com/in/tmsfernandes/?orig...,Researcher,Universidade do Minho,11 mos,"Research in Cryptography, particularly Concret...",NaN,Researcher,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN
23,Mohammad Abdullah,Software Intern at TkXel,Pakistan,https://www.linkedin.com/in/abd28xd/?originalS...,Language Consultant,what3words,4 mos,Employed as a temp on a contract basis for a p...,Highly motivated and dynamic individual with a...,Language Consultant,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Employed as a temp on a contract basis for a p...
24,Onur Yasar,Full Stack Web Developer,"London, United Kingdom",https://www.linkedin.com/in/onuryasar/?origina...,"Contract Full Stack Web Developer, Contract Fu...","ITRM Ltd, Spinach Design, Cobra Group of Compa...","1 yr 5 mos, 3 mos, 9 mos","I was part of a 9 developers team, coding in a...",I am a 10+ years experienced senior full stack...,Contract Full Stack Web Developer,Contract Full Stack Web Developer,Contract Full Stack Web Developer,NaN,NaN,NaN,NaN,2,5,"I was part of a 9 developers team, coding in a..."
25,RubÃ©n GarcÃ­a LÃ³pez,Full Stack Developer at Toptal,"London, United Kingdom",https://www.linkedin.com/in/rub%C3%A9n-garc%C3...,"Full Stack Developer, Senior Software Develope...","Toptal, Thomas Cook, Meganexus, Software AG, C...","3 yrs 7 mos, 2 yrs 8 mos, 1 yr 5 mos, 4 yrs 6 ...",Full stack javascript developer working remote...,Software engineer with over 10 years experienc...,Full Stack Developer,Senior Software Developer,Senior Software Developer,Senior Software Developer,Software Developer,NaN,NaN,13,2,Full stack javascript developer working remote...
26,Kiran Kulkarni,Full Stack Web Developer at IBM,"London, Greater London, United Kingdom",https://www.linkedin.com/in/kiran-kulkarni-bb3...,"Inside Sales Executive, Barstaff","Advanced Business Solutions, Allenburys Sports...","9 mos, 2 yrs 7 mos",Advanced Computer Solutions is a leading UK so...,NaN,Inside Sales Executive,Barstaff,NaN,NaN,NaN,NaN,NaN,3,7,NaN
27,Vito Tardia,Full Stack Developer at Akkroo,"London, United Kingdom",https://www.linkedin.com/in/vitotardia/?origin...,"web and software developer, web developer / pr...","OFFICINEBIT.CH, Melismelis Srl, nearForm","8 yrs 2 mos, 9 yrs 7 mos, 1 yr 9 mos","Backend web development, e-commerce web sites ...",Iâ€™m a web designer and full stack developer w...,web and software developer,web developer / project manager,Full stack developer,NaN,NaN,NaN,NaN,21,6,"Backend web development, e-commerce web sites ..."
28,Julian Wyatt,Junior Full Stack Developer. Angular JS | Node...,"London, United Kingdom",https://www.linkedin.com/in/julesjam/?original...,"Student, Operations Manager, Student - Part Ti...","WDI General Assembly London, Webstar-Health, G...","3 yrs 3 mos, 3 yrs 2 mos, less than a year, 3 yrs",Operations Manager Webstar-Health Ltd: Webstar...,"Following a very enjoyable career in Pharmacy,...",Student,Operations Manager,Student - Part Time - Front End Web Developme...,Consultancy for Pharmacy Retail Systems,NaN,NaN,NaN,10,5,Operations Manager Webstar-Health Ltd: Webstar...
29,Andrea Dammino,Senior Full Stack Developer (contract) at Nati...,"London, United Kingdom",https://www.linkedin.com/in/andrea-dammino-gig...,"Senior Full Stack Developer (contract), Senior...","Nationwide Building Society, Salmon, Lloyds Ba...","2 mos, 4 mos, 1 yr 2 mos",\n - Developing Nationwide for Business a...,Passionate and qualified IT expert with strong...,Senior Full Stack Developer (contract),Senior Front-end Developer (contract),Senior Front-end Developer (contract),NaN,NaN,NaN,NaN,1,2,\n - Developing Nationwide for Business a...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Karim Norman Gorjux,Senior Python/Django Developer,"Melbourne, Australia",https://www.linkedin.com/in/karimgorjux/,"Senior Python Django Developer, Python/Django ...",NaN,NaN,"Python/Django development, Frontend (Jquery, J...",I am a really a passionate in the IT field. I ...,Senior Python Django Developer,Python/Django Developer,Owner,Owner,Web Developer,IT Consultant,NaN,1,0,"Python/Django development, Frontend (Jquery, J..."
118,Andrew Milburn,Database Developer at University of South Aust...,"Adelaide, South Australia, Australia",https://www.linkedin.com/in/andrew-milburn-9b6...,NaN,"University of South Australia, DMAC, Universit...","1 yr 4 mos, 7 yrs 2 mos",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,6,NaN
119,Oscar Alston,Database Developer at ITS Management,"Sydney, Australia",https://www.linkedin.com/in/oscar-alston-0a28a...,NaN,"ITS Management, UNSW, Accroo, BOQ Specialist,I...","1 yr 8 mos, 7 mos, 1 yr 7 mos, 6 mos,5 yrs 7 mos",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,10,NaN
120,Melangeline De Castro,Senior Database Developer at Hometrack Australia,"Sydney, Australia",https://www.linkedin.com/in/melangelinedecastro/,"Senior Database Developer, Application Databas...",NaN,NaN,- Performs analysis of property-related data t...,â€¢\tAn IT professional with extensive experienc...,Senior Database Developer,Application Database Administrator,Senior Database Developer (Contractor),Developer III,Database Developer,NaN,NaN,1,0,- Performs analysis of property-related data t...
121,David Ingleton,SQL Server Database Developer/Administrator,"Adelaide, Australia",https://www.linkedin.com/in/david-ingleton-86b...,"Archive Database Developer, Systems Database C...",NaN,NaN,Supporting the implementation of the ePAS (Ent...,Almost 13 years experience in Database Adminis...,Archive Database Developer,Systems Database Coordinator,Database Administrator,NaN,NaN,NaN,NaN,1,0,Supporting the implementation of the ePAS (Ent...
122,Tarun Jain,Senior Database Developer,"Sydney, Australia",https://www.linkedin.com/in/tarun-jain-59669a57/,"Senior Associate, Module Lead, Sr. Software En...",Commonwealth Bank of Australia,4 yrs 3 mos,- Interact with client representatives and tea...,-- More than 11 years of work experience in so...,Senior Associate,Module Lead,Sr. Software Engineer,Jr. Software Engineer,NaN,NaN,NaN,5,3,- Interact with client representatives and tea...
123,Mikhail Gvozdev,Database Developer at Class,"Sydney, Australia",https://www.linkedin.com/in/mikhail-gvozdev-53...,"Database Developer, Systems Analyst/Programmer",NaN,NaN,Working on the greenfield project of refactori...,"Versatile and accomplished, I am a technically...",Database Developer,Systems Analyst/Programmer,NaN,NaN,NaN,NaN,NaN,1,0,Working on the greenfield project of refactori...
124,Swarnika Kumari,Database Administrator at Loup.,"Melbourne, Australia",https://www.linkedin.com/in/swarnika-kumari-96...,"Database Developer and Data Analyst , IT Engi...",NaN,NaN,"Key Responsibilities:, -\tGather and analyse s...",Results-oriented IT Professional with over 5 y...,Database Developer and Data Analyst,IT Engineer,Software Engineer,IT Software Engineer,NaN,NaN,NaN,1,0,"Key Responsibilities:, -\tGather and analyse s..."
125,Mal Knott,IT Database Developer at Broadcast Australia,"Queensland, Australia",https://www.linkedin.com/in/mal-knott-64bbaba3/,NaN,Broadcast Australia,20 yrs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,0,NaN
126,Bharat Prasad Satyal,SQL database Developer at Credit Sense Australia,"Southport, Queensland, Australia",https://www.linkedin.com/in/bharatsatyal/,NaN,NaN,NaN,NaN,â€¢ Database Engineer with more than 7 years of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN
127,Paul Brennan,Owner at Web Developer - Database Developer,"Sydney, Australia",https://www.linkedin.com/in/paul-brennan-12207...,NaN,Web Developer - Database Developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,NaN
128,Nick Nguyen,Senior Database Developer/DBA,"Orange County, California Area",https://www.linkedin.com/in/nicknguyendba/,DBA/ Database Developer,"L3, First American Financial Corporation, Hyun...","2 yrs 9 mos, 1 yr 8 mos, 7 yrs 5 mos, 2 yrs",Admin and maintain the PTSâ€™s clients SQL Serve...,Experienced Senior Database Administrator with...,DBA/ Database Developer,NaN,NaN,NaN,NaN,NaN,NaN,15,10,Admin and maintain the PTSâ€™s clients SQL Serve...
129,Veronika Movagharian Pour,"Sr Database/SQL Developer at Music Reports, Inc","Glendale, California",https://www.linkedin.com/in/veronika-movaghari...,"Web Application Designer/Developer, Software D...","Music Reports, Inc",6 yrs 1 mo,- Take the ownership of database projects lead...,I have years of experience in designing and de...,Web Application Designer/Developer,Software Developer and QA Engineer,Database & Web Application Designer/Developer,NaN,NaN,NaN,NaN,7,1,- Take the ownership of database projects lead...
130,Douglas Swehla,MS SQL Server Database Developer,"Pasadena, California",https://www.linkedin.com/in/douglasswehla/,"Data Analyst, Database Developer, MS Access & ...",Sony Pictures Entertainment,5 mos,"At Streamlyne, a software consulting company, ...",While serving as a military intelligence analy...,Data Analyst,Database Developer,MS Access & SQL Server Developer,MS Access & SQL Server Developer,NaN,NaN,NaN,1,0,"At Streamlyne, a software consulting company, ..."
131,Chithra Kumar,Database Developer,"Irvine, California",https://www.linkedin.com/in/chithra-kumar-a145...,Database Developer,"ADP,Wipro Technologies","7 mos,6 yrs 11 mos","Database Design, Development, Testing, Data lo...","Data Professional, with a high-quality and var...",Database Developer,NaN,NaN,NaN,NaN,NaN,NaN,7,11,"Database Design, Development, Testing, Data lo..."
132,Nicole Sanders,Senior Application Developer at California Ass...,"Los Angeles, California",https://www.linkedin.com/in/nicole-sanders-444...,"Senior Database Developer, Senior Programmer/A...",CALIFORNIA ASSOCIATION OF REALTORSÂ®,11 mos,"â€¢ Create, modify and maintain existing existin...",Experienced Senior Database/Software Engineer ...,Senior Database Developer,Senior Programmer/Analyst at CSRA,Inc,Senior Programmer/Analyst,Software Engineer,NaN,NaN,1,0,"â€¢ Create, modify and maintain existing existin..."
133,Ragamaye Chandupatla,Senior Database Developer at ADP,"Yorba Linda, California",https://www.linkedin.com/in/ragamaye/,NaN,"ADP, Kaiser Permanente (Oracle/mLogica), Gatew...","2 mos, 1 yr, 2 yrs 11 mos, 8 mos, 1 yr",NaN,\n Experienced Senior Application Enginee...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,11,NaN
134,Christine Murphy,Senior Database Developer at ProSearch Strateg...,"Pasadena, California",https://www.linkedin.com/in/christinemurphy3/,"Software Systems Analyst, Technical Support An...","ProSearch Strategies, Inc,ETC Processing Techn...","11 mos,3 yrs 10 mos, 7 mos",Manage and encourage professional development ...,I am a reliable and detail-oriented software d...,Software Systems Analyst,Technical Support Analyst,NaN,NaN,NaN,NaN,NaN,4,10,Manage and encourage professional development ...
135,Venkat Mechineni MBA,Database Administrator (DBA) at The Financial ...,"Sacramento, California",https://www.linkedin.com/in/venkat-mechineni-m...,"Database Administrator (DBA), Sr Database Deve...",NaN,NaN,The Financial Information System for Californi...,NaN,Database Administrator (DBA),Sr Database Developer,Sr Business Systems Analyst,Tech Lead,Sr. Software Engineer,NaN,NaN,1,0,NaN

In [11]:
user_data['description']=user_data['description'].fillna(user_data['Job Title'])

In [12]:
user_data.dtypes

Name                object
Job Title           object
Location            object
URL                 object
Old Positions       object
Old Companies       object
Number of years     object
job description     object
self description    object
Position1           object
Position2           object
Position3           object
Position4           object
Position5           object
Position6           object
Position7           object
exp_years            int64
exp_months           int64
description         object
dtype: object

In [13]:
user_data.to_csv('newlinkedindata.csv')

In [18]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
def findKeywords(example_sent):
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(example_sent)
    filtered_sentence = [w for w in word_tokens if not w in stop_words] 
    filtered_sentence = [] 
    for w in word_tokens: 
        if w not in stop_words: 
            filtered_sentence.append(w) 
    return filtered_sentence

In [19]:
import nltk
import pandas as pd
import csv
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))
df = pd.read_csv('newlinkedindata.csv')
with open('newlinkedindata.csv', 'r', encoding="utf8") as csvfile:
    rows = csv.reader(csvfile)
    next(rows, None)
    newCol = []
    for row in rows:
        sentence = row[19]
        keywords = findKeywords(sentence)
        newCol.append(keywords)
df2 = pd.DataFrame({'Keywords': newCol})
data = pd.concat([user_data, df2], axis=1)
#print(data)
data.to_csv('linkedinkeywords.csv',index=False)

In [20]:
new_user_data = pd.read_csv('linkedinkeywords.csv')

In [21]:
new_user_data

,Name,Job Title,Location,URL,Old Positions,Old Companies,Number of years,job description,self description,Position1,Position2,Position3,Position4,Position5,Position6,Position7,exp_years,exp_months,description,Keywords
0,Paul Garner,Freelance Python Developer at Depop,"London, United Kingdom",https://www.linkedin.com/in/pauljgarner/?origi...,"Freelance Python Developer, Freelance Python D...","Depop, project work for various digital agenci...","4 yrs 2 mos, 4 yrs 6 mos, 3 mos, 10 mos, 1 yr","Python development using: Django, PostgreSQL, ...","I am a highly skilled Python developer, experi...",Freelance Python Developer,Freelance Python Developer,Freelance Python Developer,Python Developer,Django Developer,NaN,NaN,10,8,"Python development using: Django, PostgreSQL, ...","['Python', 'development', 'using', ':', 'Djang..."
1,Bartosz Dziendzik,Python developer,"London, United Kingdom",https://www.linkedin.com/in/bartoszdziendzik/?...,Python Developer,Intelligent Optimisations,10 mos,"\n Python, JavaScript, Django, ...",NaN,Python Developer,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python developer,"['Python', 'developer']"
2,Cal Paterson,Contract Python Developer at J.P. Morgan,"London, Greater London, United Kingdom",https://www.linkedin.com/in/cal-paterson-290a2...,"Contract Python Developer, Contract Python Dev...","Citi, Bank of America Merrill Lynch","4 mos, 1 yr 3 mos",DevOps (primarily infrastructure automation) o...,\n Senior software engineer with a varied...,Contract Python Developer,Contract Python Developer,NaN,NaN,NaN,NaN,NaN,2,3,DevOps (primarily infrastructure automation) o...,"['DevOps', '(', 'primarily', 'infrastructure',..."
3,Danny Butler,Backend Python Developer at Ostmodern,"London, United Kingdom",https://www.linkedin.com/in/danny-butler-62834...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Backend Python Developer at Ostmodern,"['Backend', 'Python', 'Developer', 'Ostmodern']"
4,Georgi Georgiev,Python Developer/Data Engineer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/georgigeorgiev1/?o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python Developer/Data Engineer,"['Python', 'Developer/Data', 'Engineer']"
5,Luca Romagnoli,Python Developer at Mavens of London,"London, United Kingdom",https://www.linkedin.com/in/lucaromagnoli79/?o...,Supervisor,Chilango,2 yrs 3 mos,"â€¢ Design, develop and execute automation scrip...",NaN,Supervisor,NaN,NaN,NaN,NaN,NaN,NaN,3,3,Python Developer at Mavens of London,"['Python', 'Developer', 'Mavens', 'London']"
6,Sandra Greiss,Freelance Data Scientist and Python Developer ...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/sandra-greiss-0666...,"Data Scientist, Internship","Lyst, Commercial Bank","1 yr 7 mos, 1 mo",I spent my internship in the Treasury and Inve...,NaN,Data Scientist,Internship,NaN,NaN,NaN,NaN,NaN,2,7,Freelance Data Scientist and Python Developer ...,"['Freelance', 'Data', 'Scientist', 'Python', '..."
7,Pablo Chao Andrade,Python developer,"London, United Kingdom",https://www.linkedin.com/in/pablo-chao-andrade...,"Python Developer, FX Risk developer, FX Risk d...","Bank of America Merrill Lynch, JPMorgan Chase,...","1 yr 7 mos, 2 yrs 7 mos, 12 mos, 1 yr 2 mos",Worked on a reconciliation tool between front ...,"\n Specialties: python, test driven devel...",Python Developer,FX Risk developer,FX Risk developer,Market data developer,NaN,NaN,NaN,8,4,Worked on a reconciliation tool between front ...,"['Worked', 'reconciliation', 'tool', 'front', ..."
8,Scott White,Python Developer / Django Developer at Rockste...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/scott-white-6a377a...,"Python Developer / Django Developer, Python/Dj...","Rocksteady Games, Monumental Games","7 yrs 7 mos, 4 yrs",Working in a team of two on new and legacy pro...,NaN,Python Developer / Django Developer,Python/Django Web Developer,NaN,NaN,NaN,NaN,NaN,12,7,Python Developer / Django Developer at Rockste...,"['Python', 'Developer', '/', 'Django', 'Develo..."
9,Lukasz Szczesiak,Software Engineer / Stand-Up Comedian,"London, Greater London, United Kingdom",https://www.linkedin.com/in/szczesiaklukasz/?o...,"Senior Software Engineer, Quantitative Investm...","Yoyo, Macquarie Group, J.P. Morgan, Apple","5 mos, 6 mos, 3 yrs 8 mos, 3 yrs 11 mos","Working with the B2B, design and marketing tea...","My IT trades include multi-language, multi-par...",Senior Software Engineer,Quantitative Investment Strategies as Python ...,Manager,Valuation Control Group Tech as Python Developer,Senior Associate,Apple Store Buchanan Street as Mac Specialist,NaN,9,7,"Working with the B2B, design and marketing tea...","['Working', 'B2B', ',', 'design', 'marketing',..."
10,Harish .N,Python Developer at CISCO,"Sunnyvale, California",https://www.linkedin.com/in/harish-n-29235314a/,"Python Developer, Python Developer, Python Dev...","Express Scripts, JPMorgan Chase & Co., MetLife...","11 mos, 1 yr 3 mos, 1 yr 11 mos, 1 yr 6 mos",â€¢\tDjango Framework that was used in developin...,NaN,Python Developer,Python Developer,Python Developer,Python Developer,NaN,NaN,NaN,6,8,Python Developer at CISCO,"['Python', 'Developer', 'CISCO']"
11,Keshav M,Python Developer,"San Francisco, California",https://www.linkedin.com/in/keshav-m-17869487/,"Python Developer, Python Developer, Python Dev...","State of California-\tSan Francisco, CA, Edife...","2 yrs 1 mo, 1 yr, 1 yr, 2 yrs 4 mos, 2 yrs 1 mo",â€¢\tDeveloped the application using Agile metho...,Senior Software Engineer with 7 years of exper...,Python Developer,Python Developer,Python Developer,Python Developer,Linux Administrator,NaN,NaN,8,6,â€¢\tDeveloped the application using Agile metho...,"['â€¢\\tDeveloped', 'application', 'using', 'Agi..."
12,Iskandar Bakhtizin,Python Developer,"Santa Monica, California",https://www.linkedin.com/in/iskandar-bakhtizin...,NaN,NaN,NaN,"Ecommerce Lov2lov (lov2lov.com), Within this p...",Junior results-oriented software developer I a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,"Ecommerce Lov2lov (lov2lov.com), Within this p...","['Ecommerce', 'Lov2lov', '(', 'lov2lov.com', '..."
13,Isaac To,Python Developer,Greater Los Angeles Area,https://www.linkedin.com/in/candleindark/,Software Developer,"Smart Software Solutions, Inc",4 yrs 4 mos,Develop Python libraries for interacting with ...,NaN,Software Developer,NaN,NaN,NaN,NaN,NaN,NaN,5,4,Python Developer,"['Python', 'Developer']"
14,Anastasiia Konak,Python Developer at Django Stars,"San Francisco, California",https://www.linkedin.com/in/anastasiia-konak-9...,Python Developer at Uniblue,Ciklum,1 yr 8 mos,Developed a Windows performance enhancement so...,"Communicative and eager to learn, want to adva...",Python Developer at Uniblue,NaN,NaN,NaN,NaN,NaN,NaN,2,8,Developed a Windows performance enhancement so...,"['Developed', 'Windows', 'performance', 'enhan..."
15,Nivedha Balaji,Associate Technical Consultant at Perficient,San Francisco Bay Area,https://www.linkedin.com/in/nivedha-balaji/,"Python Developer Intern, Software Engineer, Re...","HCL , Uniq Technologies, RMD Engineering college","6 mos, 10 mos, 1 yr",Â·\tDeveloped web-based applications using Pyth...,Self-motivated engineer with 2+ years of exper...,Python Developer Intern,Software Engineer,Research Assistant,NaN,NaN,NaN,NaN,1,0,Â·\tDeveloped web-based applications using Pyth...,"['Â·\\tDeveloped', 'web-based', 'applications',..."
16,Michael Alber,"Senior PHP, Python Developer, and Cloud Admini...",San Francisco Bay Area,https://www.linkedin.com/in/albermichael/,Senior Software Developer and Cloud Administra...,"California Business Technology, Inc., ONE2Mark...","6 yrs 8 mos, 9 yrs 4 mos, 6 yrs 11 mos, 1 yr 1...","A senior PHP, Python developer, and technical ...","Strong professional skills in Python, PHP, Jav...",Senior Software Developer and Cloud Administrator,Partner / Senior Software Developer,Senior Software Developer and Team Lead,Lead Software Developer,Senior Software Developer,NaN,NaN,27,9,"A senior PHP, Python developer, and technical ...","['A', 'senior', 'PHP', ',', 'Python', 'develop..."
17,Srinivas Murthy,Python Developer at The affinity project,"Danville, California",https://www.linkedin.com/in/srinivas-murthy-53...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python Developer at The affinity project,"['Python', 'Developer', 'The', 'affinity', 'pr..."
18,mounika s,Python Developer at CapitalOne,Greater Los Angeles Area,https://www.linkedin.com/in/mounikas3333/,"Python Developer, Software Engineer, Software ...","CapitalOne, FGMC, Intense","1 yr 10 mos, 1 yr 8 mos, 1 yr",Capital One is a diversified bank that offers ...,\uf0a7\tAbout 4+ years of IT experience in all...,Python Developer,Software Engineer,Software Engineer,NaN,NaN,NaN,NaN,6,6,Capital One is a diversified bank that offers ...,"['Capital', 'One', 'diversified', 'bank', 'off..."
19,Santhosh Kumar,Technology Lead at Infosys,"Bengaluru, Karnataka, India",https://www.linkedin.com/in/santhosh156/?origi...,NaN,NaN,NaN,Designation:\tTechnology lead and Senior Pytho...,A result driven technology professional with a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Designation:\tTechnology lead and Senior Pytho...,"['Designation', ':', '\\tTechnology', 'lead', ..."
20,Jeremy N Pitt,Freelance Full-Stack Developer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/jeremypitt/?origin...,NaN,NaN,NaN,NaN,I am an experienced Freelance Full-Stack Devel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Freelance Full-Stack Developer,"['Freelance', 'Full-Stack', 'Developer']"
21,Peter Kadlot,Full Stack Developer,"London, United Kingdom",https://www.linkedin.com/in/peterkadlot/?origi...,"Freelance Full Stack JS Developer, Full Stack ...","MakeThink Ltd., StreetHub, Ustream, Inc., agen...","9 yrs, 3 yrs 7 mos, 4 mos, 1 yr",A mobile app and CRM specialized for the real ...,I have built systems that are used by thousand...,Freelance Full Stack JS Developer,Full Stack Software Developer,Designer/Frontend Developer Intern,Developer,UX,Co-Founder,NaN,14,7,A mobile app and CRM specialized for the real ...,"['A', 'mobile', 'app', 'CRM', 'specialized', '..."
22,Tiago Fernandes,Full Stack Developer at Zava,"London, United Kingdom",https://www.linkedin.com/in/tmsfernandes/?orig...,Researcher,Universidade do Minho,11 mos,"Research in Cryptography, particularly Concret...",NaN,Researcher,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Full Stack Developer at Zava,"['Full', 'Stack', 'Developer', 'Zava']"
23,Mohammad Abdullah,Software Intern at TkXel,Pakistan,https://www.linkedin.com/in/abd28xd/?originalS...,Language Consultant,what3words,4 mos,Employed as a temp on a contract basis for a p...,Highly motivated and dynamic individual with a...,Language Consultant,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Employed as a temp on a contract basis for a p...,"['Employed', 'temp', 'contract', 'basis', 'per..."
24,Onur Yasar,Full Stack Web Developer,"London, United Kingdom",https://www.linkedin.com/in/onuryasar/?origina...,"Contract Full Stack Web Developer, Contract Fu...","ITRM Ltd, Spinach Design, Cobra Group of Compa...","1 yr 5 mos, 3 mos, 9 mos","I was part of a 9 developers team, coding in a...",I am a 10+ years experienced senior full stack...,Contract Full Stack Web Developer,Contract Full Stack Web Developer,Contract Full Stack Web Developer,NaN,NaN,NaN,NaN,2,5,"I was part of a 9 developers team, coding in a...","['I', 'part', '9', 'developers', 'team', ',', ..."
25,RubÃ©n GarcÃ­a LÃ³pez,Full Stack Developer at Toptal,"London, United Kingdom",https://www.linkedin.com/in/rub%C3%A9n-garc%C3...,"Full Stack Developer, Senior Software Develope...","Toptal, Thomas Cook, Meganexus, Software AG, C...","3 yrs 7 mos, 2 yrs 8 mos, 1 yr 5 mos, 4 yrs 6 ...",Full stack javascript developer working remote...,Software engineer with over 10 years experienc...,Full Stack Developer,Senior Software Developer,Senior Software Developer,Senior Software Developer,Software Developer,NaN,NaN,13,2,Full stack javascript developer working remote...,"['Full', 'stack', 'javascript', 'developer', '..."
26,Kiran Kulkarni,Full Stack Web Developer at IBM,"London, Greater London, United Kingdom",https://www.linkedin.com/in/kiran-kulkarni-bb3...,"Inside Sales Executive, Barstaff","Advanced Business Solutions, Allenburys Sports...","9 mos, 2 yrs 7 mos",Advanced Computer Solutions is a leading UK so...,NaN,Inside Sales Executive,Barstaff,NaN,NaN,NaN,NaN,NaN,3,7,Full Stack Web Developer at IBM,"['Full', 'Stack', 'Web', 'Developer', 'IBM']"
27,Vito Tardia,Full Stack Developer at Akkroo,"London, United Kingdom",https://www.linkedin.com/in/vitotardia/?origin...,"web and software developer, web developer / pr...","OFFICINEBIT.CH, Melismelis Srl, nearForm","8 yrs 2 mos, 9 yrs 7 mos, 1 yr 9 mos","Backend web development, e-commerce web sites ...",Iâ€™m a web designer and full stack developer w...,web and software developer,web developer / project manager,Full stack developer,NaN,NaN,NaN,NaN,21,6,"Backend web development, e-commerce web sites ...","['Backend', 'web', 'development', ',', 'e-comm..."
28,Julian Wyatt,Junior Full Stack Developer. Angular JS | Node...,"London, United Kingdom",https://www.linkedin.com/in/julesjam/?original...,"Student, Operations Manager, Student - Part Ti...","WDI General Assembly London, Webstar-Health, G...","3 yrs 3 mos, 3 yrs 2 mos, less than a year, 3 yrs",Operations Manager Webstar-Health Ltd: Webstar...,"Following a very enjoyable career in Pharmacy,...",Student,Operations Manager,Student - Part Time - Front End Web Developme...,Consultancy for Pharmacy Retail Systems,NaN,NaN,NaN,10,5,Operations Manager Webstar-Health Ltd: Webstar...,"['Operations', 'Manager', 'Webstar-Health', 'L..."
29,Andrea Dammino,Senior Full Stack Developer (contract) at Nati...,"London, United Kingdom",https://www.linkedin.com/in/andrea-dammino-gig...,"Senior Full Stack Developer (contract), Senior...","Nationwide Building Society, Salmon, Lloyds Ba...","2 mos, 4 mos, 1 yr 2 mos",\n - Developing Nationwide for Business a...,Passionate and qualified IT expert with strong...,Senior Full Stack Developer (contract),Senior Front-end Developer (contract),Senior Front-end Developer (contract),NaN,NaN,NaN,NaN,1,2,\n - Developing Nationwide for Business a...,"['\\n', '-', 'Developing', 'Nationwide', 'Busi..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Karim Norman Gorjux,Senior Python/Django Developer,"Melbourne, Australia",https://www.linkedin.com/in/karimgorjux/,"Senior Python Django Developer, Python/Django ...",NaN,NaN,"Python/Django development, Frontend (Jquery, J...",I am a really a passionate in the IT field. I ...,Senior Python Django Developer,Python/Django Developer,Owner,Owner,Web Developer,IT Consultant,NaN,1,0,"Python/Django development, Frontend (Jquery, J...","['Python/Django', 'development', ',', 'Fronten..."
118,Andrew Milburn,Database Developer at University of South Aust...,"Adelaide, South Australia, Australia",https://www.linkedin.com/in/andrew-milburn-9b6...,NaN,"University of South Australia, DMAC, Universit...","1 yr 4 mos, 7 yrs 2 mos",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,6,Database Developer at University of South Aust...,"['Database', 'Developer', 'University', 'South..."
119,Oscar Alston,Database Developer at ITS Management,"Sydney, Australia",https://www.linkedin.com/in/oscar-alston-0a28a...,NaN,"ITS Management, UNSW, Accroo, BOQ Specialist,I...","1 yr 8 mos, 7 mos, 1 yr 7 mos, 6 mos,5 yrs 7 mos",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,10,Database Developer at ITS Management,"['Database', 'Developer', 'ITS', 'Management']"
120,Melangeline De Castro,Senior Database Developer at Hometrack Australia,"Sydney, Australia",https://www.linkedin.com/in/melangelinedecastro/,"Senior Database Developer, Application Databas...",NaN,NaN,- Performs analysis of property-related data t...,â€¢\tAn IT professional with extensive experienc...,Senior Database Developer,Application Database Administrator,Senior Database Developer (Contractor),Developer III,Database Developer,NaN,NaN,1,0,- Performs analysis of property-related data t...,"['-', 'Performs', 'analysis', 'property-relate..."
121,David Ingleton,SQL Server Database Developer/Administrator,"Adelaide, Australia",https://www.linkedin.com/in/david-ingleton-86b...,"Archive Database Developer, Systems Database C...",NaN,NaN,Supporting the implementation of the ePAS (Ent...,Almost 13 years experience in Database Adminis...,Archive Database Developer,Systems Database Coordinator,Database Administrator,NaN,NaN,NaN,NaN,1,0,Supporting the implementation of the ePAS (Ent...,"['Supporting', 'implementation', 'ePAS', '(', ..."
122,Tarun Jain,Senior Database Developer,"Sydney, Australia",https://www.linkedin.com/in/tarun-jain-59669a57/,"Senior Associate, Module Lead, Sr. Software En...",Commonwealth Bank of Australia,4 yrs 3 mos,- Interact with client representatives and tea...,-- More than 11 years of work experience in so...,Senior Associate,Module Lead,Sr. Software Engineer,Jr. Software Engineer,NaN,NaN,NaN,5,3,- Interact with client representatives and tea...,"['-', 'Interact', 'client', 'representatives',..."
123,Mikhail Gvozdev,Database Developer at Class,"Sydney, Australia",https://www.linkedin.com/in/mikhail-gvozdev-53...,"Database Developer, Systems Analyst/Programmer",NaN,NaN,Working on the greenfield project of refactori...,"Versatile and accomplished, I am a technically...",Database Developer,Systems Analyst/Programmer,NaN,NaN,NaN,NaN,NaN,1,0,Working on the greenfield project of refactori...,"['Working', 'greenfield', 'project', 'refactor..."
124,Swarnika Kumari,Database Administrator at Loup.,"Melbourne, Australia",https://www.linkedin.com/in/swarnika-kumari-96...,"Database Developer and Data Analyst , IT Engi...",NaN,NaN,"Key Responsibilities:, -\tGather and analyse s...",Results-oriented IT Professional with over 5 y...,Database Developer and Data Analyst,IT Engineer,Software Engineer,IT Software Engineer,NaN,NaN,NaN,1,0,"Key Responsibilities:, -\tGather and analyse s...","['Key', 'Responsibilities', ':', ',', '-\\tGat..."
125,Mal Knott,IT Database Developer at Broadcast Australia,"Queensland, Australia",https://www.linkedin.com/in/mal-knott-64bbaba3/,NaN,Broadcast Australia,20 yrs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,0,IT Database Developer at Broadcast Australia,"['IT', 'Database', 'Developer', 'Broadcast', '..."
126,Bharat Prasad Satyal,SQL database Developer at Credit Sense Australia,"Southport, Queensland, Australia",https://www.linkedin.com/in/bharatsatyal/,NaN,NaN,NaN,NaN,â€¢ Database Engineer with more than 7 years of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,SQL database Developer at Credit Sense Australia,"['SQL', 'database', 'Developer', 'Credit', 'Se..."
127,Paul Brennan,Owner at Web Developer - Database Developer,"Sydney, Australia",https://www.linkedin.com/in/paul-brennan-12207...,NaN,Web Developer - Database Developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Owner at Web Developer - Database Developer,"['Owner', 'Web', 'Developer', '-', 'Database',..."
128,Nick Nguyen,Senior Database Developer/DBA,"Orange County, California Area",https://www.linkedin.com/in/nicknguyendba/,DBA/ Database Developer,"L3, First American Financial Corporation, Hyun...","2 yrs 9 mos, 1 yr 8 mos, 7 yrs 5 mos, 2 yrs",Admin and maintain the PTSâ€™s clients SQL Serve...,Experienced Senior Database Administrator with...,DBA/ Database Developer,NaN,NaN,NaN,NaN,NaN,NaN,15,10,Admin and maintain the PTSâ€™s clients SQL Serve...,"['Admin', 'maintain', 'PTS', 'â€™', 'clients', '..."

In [22]:
term_freq = TfidfVectorizer()

In [23]:
freq_matrix = term_freq.fit_transform(new_user_data['Keywords'])

In [24]:
freq_matrix

<147x3048 sparse matrix of type '<class 'numpy.float64'>'
	with 8519 stored elements in Compressed Sparse Row format>

In [25]:
cosine_sim = cosine_similarity(freq_matrix, freq_matrix)
cosine_sim

array([[1.        , 0.2301834 , 0.06168891, ..., 0.02146703, 0.0525327 ,
        0.01890875],
       [0.2301834 , 1.        , 0.07054952, ..., 0.0742599 , 0.        ,
        0.        ],
       [0.06168891, 0.07054952, 1.        , ..., 0.        , 0.05619956,
        0.03022042],
       ...,
       [0.02146703, 0.0742599 , 0.        , ..., 1.        , 0.07028034,
        0.02052292],
       [0.0525327 , 0.        , 0.05619956, ..., 0.07028034, 1.        ,
        0.10416587],
       [0.01890875, 0.        , 0.03022042, ..., 0.02052292, 0.10416587,
        1.        ]])

In [26]:
cosine_sim_df=pd.DataFrame(cosine_sim)

In [27]:
user_df = new_user_data[['Name']]

In [28]:
user_df

                          Name
0                  Paul Garner
1            Bartosz Dziendzik
2                 Cal Paterson
3                 Danny Butler
4              Georgi Georgiev
5               Luca Romagnoli
6                Sandra Greiss
7           Pablo Chao Andrade
8                  Scott White
9             Lukasz Szczesiak
10                   Harish .N
11                    Keshav M
12          Iskandar Bakhtizin
13                    Isaac To
14            Anastasiia Konak
15              Nivedha Balaji
16               Michael Alber
17             Srinivas Murthy
18                   mounika s
19              Santhosh Kumar
20               Jeremy N Pitt
21                Peter Kadlot
22             Tiago Fernandes
23           Mohammad Abdullah
24                  Onur Yasar
25          RubÃ©n GarcÃ­a LÃ³pez
26              Kiran Kulkarni
27                 Vito Tardia
28                Julian Wyatt
29              Andrea Dammino
..                         ...
117        Karim Norman Gorjux
118             Andrew Milburn
119               Oscar Alston
120      Melangeline De Castro
121             David Ingleton
122                 Tarun Jain
123            Mikhail Gvozdev
124            Swarnika Kumari
125                  Mal Knott
126       Bharat Prasad Satyal
127               Paul Brennan
128                Nick Nguyen
129  Veronika Movagharian Pour
130             Douglas Swehla
131              Chithra Kumar
132             Nicole Sanders
133       Ragamaye Chandupatla
134           Christine Murphy
135       Venkat Mechineni MBA
136                  Swathi B.
137             Sagar Kadiyala
138                Luke Ingram
139                 Paul Snook
140                 Purvi Vyas
141             Pamela Masters
142               Robin Warner
143                Peter Scott
144               Frank Mouton
145           Jeremy Smallwood
146               Nozrul Islam

[147 rows x 1 columns]

In [29]:
cosine_sim_df=pd.concat([user_df,cosine_sim_df], axis=1)

In [30]:
cosine_sim_df

,Name,0,1,2,3,4,5,6,7,8,...,137,138,139,140,141,142,143,144,145,146
0,Paul Garner,1.000000,0.230183,0.061689,0.126858,0.176090,0.086504,0.068700,0.072651,0.213532,...,0.027708,0.032794,0.046051,0.069818,0.024841,0.029012,0.005069,0.021467,0.052533,0.018909
1,Bartosz Dziendzik,0.230183,1.000000,0.070550,0.406314,0.578365,0.375805,0.225643,0.215828,0.380940,...,0.015576,0.000000,0.017161,0.000000,0.085930,0.100359,0.089418,0.074260,0.000000,0.000000
2,Cal Paterson,0.061689,0.070550,1.000000,0.028665,0.111959,0.026513,0.015919,0.179746,0.021764,...,0.037822,0.011803,0.047840,0.054070,0.033418,0.000000,0.000000,0.000000,0.056200,0.030220
3,Danny Butler,0.126858,0.406314,0.028665,1.000000,0.234998,0.152695,0.091682,0.087694,0.154781,...,0.006329,0.000000,0.006973,0.000000,0.034915,0.040777,0.036332,0.030173,0.000000,0.000000
4,Georgi Georgiev,0.176090,0.578365,0.111959,0.234998,1.000000,0.217352,0.216005,0.160455,0.220322,...,0.046705,0.000000,0.023770,0.056245,0.049699,0.058044,0.051716,0.042949,0.021500,0.053166
5,Luca Romagnoli,0.086504,0.375805,0.026513,0.152695,0.217352,1.000000,0.084798,0.081109,0.143159,...,0.005853,0.000000,0.006449,0.000000,0.032293,0.037715,0.033604,0.027907,0.000000,0.000000
6,Sandra Greiss,0.068700,0.225643,0.015919,0.091682,0.216005,0.084798,1.000000,0.062600,0.085957,...,0.018221,0.000000,0.009274,0.021943,0.019390,0.022645,0.020177,0.016756,0.035354,0.020742
7,Pablo Chao Andrade,0.072651,0.215828,0.179746,0.087694,0.160455,0.081109,0.062600,1.000000,0.066581,...,0.012133,0.006844,0.043476,0.053377,0.000000,0.000000,0.000000,0.000000,0.034036,0.056581
8,Scott White,0.213532,0.380940,0.021764,0.154781,0.220322,0.143159,0.085957,0.066581,1.000000,...,0.009610,0.000000,0.010588,0.000000,0.053018,0.061920,0.055170,0.045817,0.000000,0.000000
9,Lukasz Szczesiak,0.122102,0.117979,0.073139,0.047936,0.121238,0.044337,0.069459,0.139445,0.062544,...,0.046223,0.035696,0.078440,0.122042,0.004007,0.004679,0.004169,0.003462,0.098382,0.085129
10,Harish .N,0.123559,0.536786,0.037870,0.218104,0.310458,0.201727,0.121122,0.115853,0.204483,...,0.008361,0.000000,0.009212,0.000000,0.046126,0.053871,0.047999,0.039862,0.000000,0.000000
11,Keshav M,0.089640,0.057919,0.168189,0.045787,0.062706,0.021766,0.013069,0.063574,0.054833,...,0.152437,0.040157,0.138230,0.143488,0.051633,0.044281,0.000000,0.032766,0.171946,0.076778
12,Iskandar Bakhtizin,0.006107,0.015588,0.046395,0.006334,0.009016,0.005858,0.003517,0.000000,0.009618,...,0.020407,0.011339,0.062807,0.022003,0.005704,0.006661,0.005935,0.004929,0.018247,0.056665
13,Isaac To,0.230183,1.000000,0.070550,0.406314,0.578365,0.375805,0.225643,0.215828,0.380940,...,0.015576,0.000000,0.017161,0.000000,0.085930,0.100359,0.089418,0.074260,0.000000,0.000000
14,Anastasiia Konak,0.095190,0.137724,0.038967,0.055959,0.079654,0.051757,0.031076,0.053670,0.042487,...,0.021058,0.018687,0.013233,0.025077,0.000000,0.000000,0.000000,0.000000,0.029910,0.009787
15,Nivedha Balaji,0.108667,0.097131,0.092147,0.039466,0.119494,0.036502,0.030052,0.050914,0.060823,...,0.104042,0.029267,0.103658,0.114877,0.038372,0.026393,0.021335,0.033161,0.140297,0.081621
16,Michael Alber,0.077737,0.092073,0.077508,0.037410,0.053252,0.034601,0.020776,0.120667,0.035074,...,0.039274,0.043572,0.048501,0.046390,0.041283,0.092110,0.008233,0.006837,0.111056,0.040229
17,Srinivas Murthy,0.087759,0.381258,0.055805,0.154910,0.220506,0.143279,0.086028,0.082286,0.145236,...,0.005938,0.000000,0.081224,0.000000,0.032762,0.038263,0.034091,0.028312,0.017790,0.000000
18,mounika s,0.069670,0.085824,0.076633,0.034871,0.147795,0.032253,0.044741,0.064095,0.032694,...,0.087856,0.036535,0.080250,0.116884,0.033611,0.024889,0.020474,0.029047,0.115073,0.062489
19,Santhosh Kumar,0.049913,0.047384,0.076046,0.019253,0.063314,0.017807,0.024702,0.056987,0.018050,...,0.081809,0.054923,0.117326,0.127167,0.054630,0.043746,0.004237,0.032369,0.085934,0.069962
20,Jeremy N Pitt,0.006048,0.106700,0.032053,0.043354,0.061712,0.040098,0.339758,0.000000,0.065832,...,0.007077,0.000000,0.007797,0.000000,0.039041,0.045597,0.040626,0.033739,0.000000,0.024388
21,Peter Kadlot,0.034785,0.000000,0.014145,0.000000,0.000000,0.000000,0.000000,0.015332,0.000000,...,0.007785,0.014143,0.034356,0.016136,0.000000,0.000000,0.000000,0.041442,0.049613,0.048030
22,Tiago Fernandes,0.005742,0.101294,0.030429,0.041157,0.058585,0.038067,0.022856,0.000000,0.062497,...,0.006718,0.000000,0.007402,0.000000,0.037063,0.043287,0.038568,0.032030,0.000000,0.023153
23,Mohammad Abdullah,0.047815,0.019509,0.046971,0.007927,0.011283,0.084458,0.004402,0.053343,0.012037,...,0.013211,0.021836,0.057237,0.035696,0.007138,0.008337,0.007428,0.006169,0.059105,0.041789
24,Onur Yasar,0.026926,0.013323,0.041311,0.005413,0.007705,0.005007,0.003006,0.047802,0.008220,...,0.020055,0.065731,0.070169,0.031919,0.025436,0.005693,0.005073,0.004213,0.093729,0.072651
25,RubÃ©n GarcÃ­a LÃ³pez,0.081679,0.036495,0.112453,0.014828,0.101058,0.013715,0.077299,0.082588,0.022517,...,0.046500,0.060236,0.115460,0.072616,0.032128,0.015596,0.013896,0.011540,0.087792,0.051884
26,Kiran Kulkarni,0.051290,0.109457,0.032881,0.044474,0.063306,0.041134,0.024698,0.000000,0.067533,...,0.007259,0.000000,0.007998,0.000000,0.040050,0.046775,0.041676,0.034611,0.030085,0.025018
27,Vito Tardia,0.071296,0.019806,0.029218,0.057636,0.011455,0.085745,0.004469,0.018406,0.012220,...,0.026270,0.025792,0.059345,0.030273,0.007247,0.008464,0.080418,0.006263,0.082212,0.036718
28,Julian Wyatt,0.032279,0.000000,0.030193,0.000000,0.017300,0.042388,0.027040,0.030159,0.000000,...,0.010119,0.045204,0.080626,0.079892,0.013087,0.000000,0.013618,0.011310,0.041646,0.048039
29,Andrea Dammino,0.083756,0.017801,0.050196,0.007233,0.010296,0.006690,0.004017,0.018026,0.010983,...,0.012195,0.017884,0.034492,0.039802,0.006514,0.007607,0.006778,0.005629,0.062199,0.015525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Karim Norman Gorjux,0.204498,0.153344,0.079348,0.084510,0.088688,0.057627,0.034601,0.046894,0.160693,...,0.034243,0.021507,0.083756,0.105381,0.052300,0.095071,0.003377,0.045197,0.092868,0.026052
118,Andrew Milburn,0.004720,0.083264,0.000000,0.033831,0.048157,0.031291,0.018788,0.000000,0.051372,...,0.014733,0.000000,0.066974,0.041229,0.132098,0.035582,0.137460,0.114157,0.078802,0.000000
119,Oscar Alston,0.005768,0.101750,0.000000,0.041343,0.058849,0.038238,0.022959,0.000000,0.062778,...,0.018004,0.000000,0.081844,0.065364,0.161426,0.043481,0.167979,0.139503,0.182197,0.021241
120,Melangeline De Castro,0.050433,0.000000,0.015591,0.000000,0.158153,0.000000,0.061702,0.050847,0.000000,...,0.137433,0.072325,0.156146,0.362243,0.155694,0.105618,0.067909,0.134548,0.175662,0.134079
121,David Ingleton,0.048022,0.012354,0.044061,0.005020,0.027078,0.004643,0.010564,0.018910,0.007622,...,0.090873,0.087482,0.180418,0.219273,0.158051,0.179102,0.051778,0.136586,0.114452,0.047926
122,Tarun Jain,0.042111,0.000000,0.033819,0.000000,0.105023,0.000000,0.040974,0.053989,0.000000,...,0.153347,0.046151,0.149399,0.202161,0.063560,0.000000,0.066140,0.054928,0.185530,0.076117
123,Mikhail Gvozdev,0.051272,0.000000,0.021725,0.000000,0.107413,0.000000,0.041906,0.045449,0.000000,...,0.074438,0.048242,0.109850,0.242929,0.093260,0.085193,0.021139,0.080594,0.122033,0.050191
124,Swarnika Kumari,0.075293,0.000000,0.033868,0.000000,0.000000,0.000000,0.000000,0.024158,0.000000,...,0.149644,0.151992,0.193149,0.260400,0.256982,0.230455,0.062080,0.222080,0.152985,0.037886
125,Mal Knott,0.004873,0.085962,0.000000,0.034927,0.049717,0.032305,0.019397,0.000000,0.053037,...,0.015210,0.000000,0.083639,0.042565,0.136378,0.036735,0.141914,0.117856,0.103864,0.000000
126,Bharat Prasad Satyal,0.021029,0.072746,0.000000,0.029558,0.042074,0.027338,0.016415,0.000000,0.044883,...,0.052430,0.073395,0.134788,0.124555,0.224532,0.158530,0.120096,0.194038,0.068847,0.010461
127,Paul Brennan,0.053229,0.202671,0.000000,0.082348,0.117218,0.076165,0.045731,0.000000,0.125045,...,0.024652,0.000000,0.088916,0.050177,0.197847,0.086609,0.205878,0.170977,0.123758,0.000000
128,Nick Nguyen,0.036503,0.000000,0.010760,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.124744,0.192843,0.228812,0.248499,0.300766,0.435752,0.024185,0.234522,0.058509,0.067339
129,Veronika Movagharian Pour,0.144554,0.009590,0.032986,0.003897,0.051967,0.003604,0.020274,0.097306,0.005917,...,0.111523,0.090174,0.168896,0.291233,0.160920,0.155672,0.052375,0.139065,0.164916,0.094946
130,Douglas Swehla,0.042268,0.009855,0.065376,0.004004,0.085206,0.003704,0.033242,0.047192,0.006081,...,0.072449,0.070560,0.243007,0.152701,0.087241,0.087840,0.016270,0.108175,0.096557,0.081228
131,Chithra Kumar,0.077885,0.000000,0.121658,0.041636,0.107326,0.000000,0.041872,0.029110,0.000000,...,0.197661,0.128864,0.134889,0.256402,0.120078,0.116534,0.021122,0.103770,0.125186,0.084981
132,Nicole Sanders,0.057239,0.000000,0.074300,0.000000,0.065908,0.000000,0.012740,0.028859,0.000000,...,0.181696,0.072921,0.186711,0.310515,0.180073,0.119941,0.064266,0.142121,0.169117,0.092814
133,Ragamaye Chandupatla,0.005616,0.099074,0.038529,0.040255,0.057301,0.037232,0.022355,0.000000,0.061127,...,0.031388,0.000000,0.079691,0.049057,0.310081,0.042338,0.163561,0.135833,0.093764,0.000000
134,Christine Murphy,0.054888,0.012651,0.075019,0.005140,0.027729,0.004754,0.010818,0.062517,0.007805,...,0.084711,0.124956,0.151027,0.223733,0.073466,0.049733,0.036954,0.063488,0.105588,0.103642
135,Venkat Mechineni MBA,0.000000,0.000000,0.016213,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.005693,0.000000,0.060804,0.034182,0.062813,0.197221,0.065363,0.054282,0.068658,0.038848
136,Swathi B.,0.084304,0.089268,0.039614,0.036271,0.212046,0.033547,0.082728,0.079423,0.030094,...,0.112822,0.075091,0.111824,0.199999,0.059571,0.045951,0.024202,0.051480,0.125343,0.141384
137,Sagar Kadiyala,0.027708,0.015576,0.037822,0.006329,0.046705,0.005853,0.018221,0.012133,0.009610,...,1.000000,0.074547,0.099681,0.156276,0.095490,0.104589,0.015822,0.072135,0.126591,0.046958
138,Luke Ingram,0.032794,0.000000,0.011803,0.000000,0.000000,0.000000,0.000000,0.006844,0.000000,...,0.074547,1.000000,0.119326,0.126795,0.086697,0.101255,0.000000,0.074923,0.051264,0.075256
139,Paul Snook,0.046051,0.017161,0.047840,0.006973,0.023770,0.006449,0.009274,0.043476,0.010588,...,0.099681,0.119326,1.000000,0.234239,0.230408,0.215761,0.071925,0.199116,0.154159,0.075726
140,Purvi Vyas,0.069818,0.000000,0.054070,0.000000,0.056245,0.000000,0.021943,0.053377,0.000000,...,0.156276,0.126795,0.234239,1.000000,0.195334,0.205600,0.044276,0.168805,0.181338,0.123125
141,Pamela Masters,0.024841,0.085930,0.033418,0.034915,0.049699,0.032293,0.019390,0.000000,0.053018,...,0.095490,0.086697,0.230408,0.195334,1.000000,0.326040,0.141862,0.331893,0.081325,0.023748
142,Robin Warner,0.029012,0.100359,0.000000,0.040777,0.058044,0.037715,0.022645,0.000000,0.061920,...,0.104589,0.101255,0.215761,0.205600,0.326040,1.000000,0.038212,0.281760,0.000000,0.027736
143,Peter Scott,0.005069,0.089418,0.000000,0.036332,0.051716,0.033604,0.020177,0.000000,0.055170,...,0.015822,0.000000,0.071925,0.044276,0.141862,0.038212,1.000000,0.122596,0.084627,0.000000
144,Frank Mouton,0.021467,0.074260,0.000000,0.030173,0.042949,0.027907,0.016756,0.000000,0.045817,...,0.072135,0.074923,0.199116,0.168805,0.331893,0.281760,0.122596,1.000000,0.070280,0.020523
145,Jeremy Smallwood,0.052533,0.000000,0.056200,0.000000,0.021500,0.000000,0.035354,0.034036,0.000000,...,0.126591,0.051264,0.154159,0.181338,0.081325,0.000000,0.084627,0.070280,1.000000,0.104166
146,Nozrul Islam,0.018909,0.000000,0.030220,0.000000,0.053166,0.000000,0.020742,0.056581,0.000000,...,0.046958,0.075256,0.075726,0.123125,0.023748,0.027736,0.000000,0.020523,0.104166,1.000000

In [31]:
length = len(cosine_sim_df)

In [32]:
cosine_sim_df.to_csv('cosinematrix.csv',index=False)

In [33]:
import csv

In [34]:
def recommend_by_description(name):
    df = pd.read_csv('cosinematrix.csv')
    with open('cosinematrix.csv', 'r', encoding="utf8") as csvfile:
        rows = csv.reader(csvfile)
        next(rows, None)
        for row in rows:
            if(row[0]==name):
                list1=row[1:]
                list1 = [float(i) for i in list1]
                return list1

In [35]:
out1=recommend_by_description('Paul Garner')

In [36]:
list1=list(range(66))

In [37]:
list1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65]

In [38]:
 dictionary = dict(zip(list1, out1))

In [39]:
dictionary

{0: 1.0000000000000002,
 1: 0.23018340134303367,
 2: 0.06168890986113504,
 3: 0.12685802169807422,
 4: 0.17608953036940292,
 5: 0.08650407651137682,
 6: 0.06869961625860024,
 7: 0.07265052021698341,
 8: 0.21353237410997267,
 9: 0.12210210480209624,
 10: 0.12355914085379861,
 11: 0.08963981014618708,
 12: 0.006107225301727917,
 13: 0.23018340134303367,
 14: 0.09518974603982526,
 15: 0.10866660919608864,
 16: 0.0777365872939007,
 17: 0.08775916573087202,
 18: 0.0696696701890043,
 19: 0.049913398853559554,
 20: 0.006048493803679298,
 21: 0.034785014208153,
 22: 0.005742063966224903,
 23: 0.047814796597482806,
 24: 0.026926274545250557,
 25: 0.08167919916284289,
 26: 0.05128979519835572,
 27: 0.07129577414102278,
 28: 0.03227942135334046,
 29: 0.0837559539585136,
 30: 0.052239383194863445,
 31: 0.005742063966224903,
 32: 0.005742063966224903,
 33: 0.07203211917534828,
 34: 0.008633514970588781,
 35: 0.029560080951223255,
 36: 0.018974081851223616,
 37: 0.037369220685459996,
 38: 0.09677629553282191,
 39: 0.010362575385080453,
 40: 0.030372454869488745,
 41: 0.026266874432943142,
 42: 0.04918375191883006,
 43: 0.047206001157139965,
 44: 0.04194053541461466,
 45: 0.02182825272593924,
 46: 0.007187459993123167,
 47: 0.09664280369561319,
 48: 0.04291880450157899,
 49: 0.01537273642965135,
 50: 0.02283013589085554,
 51: 0.06449720411061609,
 52: 0.08530902284105446,
 53: 0.03827828412646017,
 54: 0.005300826202914958,
 55: 0.03922138227183163,
 56: 0.033200352438316386,
 57: 0.07844893983299296,
 58: 0.001058367770336827,
 59: 0.015818492781801877,
 60: 0.03676057991152932,
 61: 0.028223907283909593,
 62: 0.023817799989824986,
 63: 0.029649714798531065,
 64: 0.05528592393597869,
 65: 0.017007334735843007}

In [40]:
dictionary_sorted_keys = sorted(dictionary, key=dictionary.get, reverse=True)

In [41]:
dictionary_sorted_keys

[0,
 1,
 13,
 8,
 4,
 3,
 10,
 9,
 15,
 38,
 47,
 14,
 11,
 17,
 5,
 52,
 29,
 25,
 57,
 16,
 7,
 33,
 27,
 18,
 6,
 51,
 2,
 64,
 30,
 26,
 19,
 42,
 23,
 43,
 48,
 44,
 55,
 53,
 37,
 60,
 21,
 56,
 28,
 40,
 63,
 35,
 61,
 24,
 41,
 62,
 50,
 45,
 36,
 65,
 59,
 49,
 39,
 34,
 46,
 12,
 20,
 22,
 31,
 32,
 54,
 58]

In [42]:
dictionary_sorted_keys.pop(0)

0

In [43]:
dictionary_sorted_keys

[1,
 13,
 8,
 4,
 3,
 10,
 9,
 15,
 38,
 47,
 14,
 11,
 17,
 5,
 52,
 29,
 25,
 57,
 16,
 7,
 33,
 27,
 18,
 6,
 51,
 2,
 64,
 30,
 26,
 19,
 42,
 23,
 43,
 48,
 44,
 55,
 53,
 37,
 60,
 21,
 56,
 28,
 40,
 63,
 35,
 61,
 24,
 41,
 62,
 50,
 45,
 36,
 65,
 59,
 49,
 39,
 34,
 46,
 12,
 20,
 22,
 31,
 32,
 54,
 58]

In [44]:
new_user_data.iloc[dictionary_sorted_keys]

,Name,Job Title,Location,URL,Old Positions,Old Companies,Number of years,job description,self description,Position1,Position2,Position3,Position4,Position5,Position6,Position7,exp_years,exp_months,description,Keywords
1,Bartosz Dziendzik,Python developer,"London, United Kingdom",https://www.linkedin.com/in/bartoszdziendzik/?...,Python Developer,Intelligent Optimisations,10 mos,"\n Python, JavaScript, Django, ...",NaN,Python Developer,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python developer,"['Python', 'developer']"
13,Isaac To,Python Developer,Greater Los Angeles Area,https://www.linkedin.com/in/candleindark/,Software Developer,"Smart Software Solutions, Inc",4 yrs 4 mos,Develop Python libraries for interacting with ...,NaN,Software Developer,NaN,NaN,NaN,NaN,NaN,NaN,5,4,Python Developer,"['Python', 'Developer']"
8,Scott White,Python Developer / Django Developer at Rockste...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/scott-white-6a377a...,"Python Developer / Django Developer, Python/Dj...","Rocksteady Games, Monumental Games","7 yrs 7 mos, 4 yrs",Working in a team of two on new and legacy pro...,NaN,Python Developer / Django Developer,Python/Django Web Developer,NaN,NaN,NaN,NaN,NaN,12,7,Python Developer / Django Developer at Rockste...,"['Python', 'Developer', '/', 'Django', 'Develo..."
4,Georgi Georgiev,Python Developer/Data Engineer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/georgigeorgiev1/?o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python Developer/Data Engineer,"['Python', 'Developer/Data', 'Engineer']"
3,Danny Butler,Backend Python Developer at Ostmodern,"London, United Kingdom",https://www.linkedin.com/in/danny-butler-62834...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Backend Python Developer at Ostmodern,"['Backend', 'Python', 'Developer', 'Ostmodern']"
10,Harish .N,Python Developer at CISCO,"Sunnyvale, California",https://www.linkedin.com/in/harish-n-29235314a/,"Python Developer, Python Developer, Python Dev...","Express Scripts, JPMorgan Chase & Co., MetLife...","11 mos, 1 yr 3 mos, 1 yr 11 mos, 1 yr 6 mos",â€¢\tDjango Framework that was used in developin...,NaN,Python Developer,Python Developer,Python Developer,Python Developer,NaN,NaN,NaN,6,8,Python Developer at CISCO,"['Python', 'Developer', 'CISCO']"
9,Lukasz Szczesiak,Software Engineer / Stand-Up Comedian,"London, Greater London, United Kingdom",https://www.linkedin.com/in/szczesiaklukasz/?o...,"Senior Software Engineer, Quantitative Investm...","Yoyo, Macquarie Group, J.P. Morgan, Apple","5 mos, 6 mos, 3 yrs 8 mos, 3 yrs 11 mos","Working with the B2B, design and marketing tea...","My IT trades include multi-language, multi-par...",Senior Software Engineer,Quantitative Investment Strategies as Python ...,Manager,Valuation Control Group Tech as Python Developer,Senior Associate,Apple Store Buchanan Street as Mac Specialist,NaN,9,7,"Working with the B2B, design and marketing tea...","['Working', 'B2B', ',', 'design', 'marketing',..."
15,Nivedha Balaji,Associate Technical Consultant at Perficient,San Francisco Bay Area,https://www.linkedin.com/in/nivedha-balaji/,"Python Developer Intern, Software Engineer, Re...","HCL , Uniq Technologies, RMD Engineering college","6 mos, 10 mos, 1 yr",Â·\tDeveloped web-based applications using Pyth...,Self-motivated engineer with 2+ years of exper...,Python Developer Intern,Software Engineer,Research Assistant,NaN,NaN,NaN,NaN,1,0,Â·\tDeveloped web-based applications using Pyth...,"['Â·\\tDeveloped', 'web-based', 'applications',..."
38,David Martirosyan,"Senior front-end developer, Google Maps expert...","Los Angeles, California",https://www.linkedin.com/in/davidmartirosyan/,"Software Engineer, Cloud Architect",SADA Systems,3 yrs 10 mos,"\n Senior front-end developer, Google Map...",NaN,Software Engineer,Cloud Architect,NaN,NaN,NaN,NaN,NaN,4,10,"Senior front-end developer, Google Maps expert...","['Senior', 'front-end', 'developer', ',', 'Goo..."
47,Simona Cotin,Startup Advocacy Lead,"London, Greater London, United Kingdom",https://www.linkedin.com/in/simona-cotin-2ba87...,"Senior Cloud Developer Advocate, Senior Softwa...","Microsoft, Openet, Corvil, - Freelancer, Swiss...","2 yrs 3 mos, 6 mos, 1 yr 7 mos, 1 yr 3 mos, 7 mos",Advocacy sits at the intersection of engineeri...,Simona Cotin is a web developer with a passion...,Senior Cloud Developer Advocate,Senior Software Engineer (Contract),Software Engineer,Freelancer,Technical Lead,NaN,NaN,7,1,Advocacy sits at the intersection of engineeri...,"['Advocacy', 'sits', 'intersection', 'engineer..."
14,Anastasiia Konak,Python Developer at Django Stars,"San Francisco, California",https://www.linkedin.com/in/anastasiia-konak-9...,Python Developer at Uniblue,Ciklum,1 yr 8 mos,Developed a Windows performance enhancement so...,"Communicative and eager to learn, want to adva...",Python Developer at Uniblue,NaN,NaN,NaN,NaN,NaN,NaN,2,8,Developed a Windows performance enhancement so...,"['Developed', 'Windows', 'performance', 'enhan..."
11,Keshav M,Python Developer,"San Francisco, California",https://www.linkedin.com/in/keshav-m-17869487/,"Python Developer, Python Developer, Python Dev...","State of California-\tSan Francisco, CA, Edife...","2 yrs 1 mo, 1 yr, 1 yr, 2 yrs 4 mos, 2 yrs 1 mo",â€¢\tDeveloped the application using Agile metho...,Senior Software Engineer with 7 years of exper...,Python Developer,Python Developer,Python Developer,Python Developer,Linux Administrator,NaN,NaN,8,6,â€¢\tDeveloped the application using Agile metho...,"['â€¢\\tDeveloped', 'application', 'using', 'Agi..."
17,Srinivas Murthy,Python Developer at The affinity project,"Danville, California",https://www.linkedin.com/in/srinivas-murthy-53...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python Developer at The affinity project,"['Python', 'Developer', 'The', 'affinity', 'pr..."
5,Luca Romagnoli,Python Developer at Mavens of London,"London, United Kingdom",https://www.linkedin.com/in/lucaromagnoli79/?o...,Supervisor,Chilango,2 yrs 3 mos,"â€¢ Design, develop and execute automation scrip...",NaN,Supervisor,NaN,NaN,NaN,NaN,NaN,NaN,3,3,Python Developer at Mavens of London,"['Python', 'Developer', 'Mavens', 'London']"
52,Jonathan Bass,"Cloud Developer (contract) at Grass Valley, a ...","Derby, United Kingdom",https://www.linkedin.com/in/jonathan-bass-9818...,"Cloud Developer (contract), Director","Grass Valley, a Belden Brand, Tekcel Ltd.","2 mos, 2 yrs 9 mos","\n Cloud development in AWS, ... , \n ...",Contract software developer with 11 years expe...,Cloud Developer (contract),Director,NaN,NaN,NaN,NaN,NaN,3,9,"\n Cloud development in AWS, ... , \n ...","['\\n', 'Cloud', 'development', 'AWS', ',', '...."
29,Andrea Dammino,Senior Full Stack Developer (contract) at Nati...,"London, United Kingdom",https://www.linkedin.com/in/andrea-dammino-gig...,"Senior Full Stack Developer (contract), Senior...","Nationwide Building Society, Salmon, Lloyds Ba...","2 mos, 4 mos, 1 yr 2 mos",\n - Developing Nationwide for Business a...,Passionate and qualified IT expert with strong...,Senior Full Stack Developer (contract),Senior Front-end Developer (contract),Senior Front-end Developer (contract),NaN,NaN,NaN,NaN,1,2,\n - Developing Nationwide for Business a...,"['\\n', '-', 'Developing', 'Nationwide', 'Busi..."
25,RubÃ©n GarcÃ­a LÃ³pez,Full Stack Developer at Toptal,"London, United Kingdom",https://www.linkedin.com/in/rub%C3%A9n-garc%C3...,"Full Stack Developer, Senior Software Develope...","Toptal, Thomas Cook, Meganexus, Software AG, C...","3 yrs 7 mos, 2 yrs 8 mos, 1 yr 5 mos, 4 yrs 6 ...",Full stack javascript developer working remote...,Software engineer with over 10 years experienc...,Full Stack Developer,Senior Software Developer,Senior Software Developer,Senior Software Developer,Software Developer,NaN,NaN,13,2,Full stack javascript developer working remote...,"['Full', 'stack', 'javascript', 'developer', '..."
57,Ramji Piramanayagam,Cloud Architect | Lead Full Stack Dev,"Melbourne, Australia",https://www.linkedin.com/in/ramji-piramanayaga...,"Azure Full Stack / Devops Developer, Developme...","Viva Energy Australia Pty Ltd, Kloud Solutions...","1 yr 3 mos, 2 yrs 11 mos, 10 mos, 1 yr 3 mos, ...","â€¢ Develop, test, support and maintain client-f...",Microsoft certified professional developer wit...,Azure Full Stack / Devops Developer,Development Consultant,Azure Web Developer,Senior Software Engineer,.Net Developer,NaN,NaN,14,6,"â€¢ Develop, test, support and maintain client-f...","['â€¢', 'Develop', ',', 'test', ',', 'support', ..."
16,Michael Alber,"Senior PHP, Python Developer, and Cloud Admini...",San Francisco Bay Area,https://www.linkedin.com/in/albermichael/,Senior Software Developer and Cloud Administra...,"California Business Technology, Inc., ONE2Mark...","6 yrs 8 mos, 9 yrs 4 mos, 6 yrs 11 mos, 1 yr 1...","A senior PHP, Python developer, and technical ...","Strong professional skills in Python, PHP, Jav...",Senior Software Developer and Cloud Administrator,Partner / Senior Software Developer,Senior Software Developer and Team Lead,Lead Software Developer,Senior Software Developer,NaN,NaN,27,9,"A senior PHP, Python developer, and technical ...","['A', 'senior', 'PHP', ',', 'Python', 'develop..."
7,Pablo Chao Andrade,Python developer,"London, United Kingdom",https://www.linkedin.com/in/pablo-chao-andrade...,"Python Developer, FX Risk developer, FX Risk d...","Bank of America Merrill Lynch, JPMorgan Chase,...","1 yr 7 mos, 2 yrs 7 mos, 12 mos, 1 yr 2 mos",Worked on a reconciliation tool between front ...,"\n Specialties: python, test driven devel...",Python Developer,FX Risk developer,FX Risk developer,Market data developer,NaN,NaN,NaN,8,4,Worked on a reconciliation tool between front ...,"['Worked', 'reconciliation', 'tool', 'front', ..."
33,David Wu,Full Stack Web Developer,"Los Angeles, California",https://www.linkedin.com/in/davidwuwebdev/,"Full-stack Web Developer, Tech News Contributo...","Amazon, TechCrunch, Merrill Lynch, Salem Partn...","2 yrs 1 mo, 2 yrs 2 mos, 1 yr 1 mo, 3 mos, 4 mos","Personal portfolio site: www.davidwu.work, â€¢ ...",NaN,Full-stack Web Developer,Tech News Contributor (Part time),Full-stack Web Developer,Full-stack Web Developer Intern,Investment Banking Analyst Intern,NaN,NaN,5,4,Full Stack Web Developer,"['Full', 'Stack', 'Web', 'Developer']"
27,Vito Tardia,Full Stack Developer at Akkroo,"London, United Kingdom",https://www.linkedin.com/in/vitotardia/?origin...,"web and software developer, web developer / pr...","OFFICINEBIT.CH, Melismelis Srl, nearForm","8 yrs 2 mos, 9 yrs 7 mos, 1 yr 9 mos","Backend web development, e-commerce web sites ...",Iâ€™m a web designer and full stack developer w...,web and software developer,web developer / project manager,Full stack developer,NaN,NaN,NaN,NaN,21,6,"Backend web development, e-commerce web sites ...","['Backend', 'web', 'development', ',', 'e-comm..."
18,mounika s,Python Developer at CapitalOne,Greater Los Angeles Area,https://www.linkedin.com/in/mounikas3333/,"Python Developer, Software Engineer, Software ...","CapitalOne, FGMC, Intense","1 yr 10 mos, 1 yr 8 mos, 1 yr",Capital One is a diversified bank that offers ...,\uf0a7\tAbout 4+ years of IT experience in all...,Python Developer,Software Engineer,Software Engineer,NaN,NaN,NaN,NaN,6,6,Capital One is a diversified bank that offers ...,"['Capital', 'One', 'diversified', 'bank', 'off..."
6,Sandra Greiss,Freelance Data Scientist and Python Developer ...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/sandra-greiss-0666...,"Data Scientist, Internship","Lyst, Commercial Bank","1 yr 7 mos, 1 mo",I spent my internship in the Treasury and Inve...,NaN,Data Scientist,Internship,NaN,NaN,NaN,NaN,NaN,2,7,Freelance Data Scientist and Python Developer ...,"['Freelance', 'Data', 'Scientist', 'Python', '..."
51,Chris Walker,Web/Cloud Developer,"Woking, Surrey, United Kingdom",https://www.linkedin.com/in/chris-walker-66158...,"Senior Backend Developer, Senior Java Develope...","Karhoo, SITA, Q Software Global Ltd, SITA Pass...","2 yrs 4 mos, 4 yrs 11 mos, 2 yrs, 6 yrs, 3 yrs","\n Golang, Kubernetes, Docker, Google Clo...",Agile front- and back-end developer with 19 ye...,Senior Backend Developer,Senior Java Developer and Scrum Master (contr...,Senior Java Developer (contract),Senior Java Developer/Analyst,Software developer,NaN,NaN,20,3,"\n Golang, Kubernetes, Docker, Google Clo...","['\\n', 'Golang', ',', 'Kubernetes', ',', 'Doc..."
2,Cal Paterson,Contract Python Developer at J.P. Morgan,"London, Greater London, United Kingdom",https://www.linkedin.com/in/cal-paterson-290a2...,"Contract Python Developer, Contract Python Dev...","Citi, Bank of America Merrill Lynch","4 mos, 1 yr 3 mos",DevOps (primarily infrastructure automation) o...,\n Senior software engineer with a varied...,Contract Python Developer,Contract Python Developer,NaN,NaN,NaN,NaN,NaN,2,3,DevOps (primarily infrastructure automation) o...,"['DevOps', '(', 'primarily', 'infrastructure',..."
64,Shahriar Rahman,OpenStack Cloud Developer at Vault,"Sydney, Australia",https://www.linkedin.com/in/shahriar-rahman/?o...,"OpenStack Cloud Developer, Systems Engineer, G...","Vault - Secure, Sovereign Community Cloud, MNF...","1 yr 3 mos, 3 yrs 5 mos, 4 yrs 6 mos, 3 yrs 2 mos",â€¢\tSecure public cloud infrastructure design a...,Experienced Systems Engineer with a demonstrat...,OpenStack Cloud Developer,Systems Engineer,Graduate Researcher,Lecturer,NaN,NaN,NaN,14,4,â€¢\tSecure public cloud infrastructure design a...,"['â€¢\\tSecure', 'public', 'cloud', 'infrastruct..."
30,David Lee,Full Stack Web Developer & IT Professional,"Los Angeles, California",https://www.linkedin.com/in/davidhyunlee/,"Full Stack Web Developer, Technical Team Lead,...","Freelance Web Development, BCI7S, Bankinfra Te...","4 yrs 4 mos, 7 mos, 1 yr 8 mos, 4 mos",I develop web applications using the time test...,NaN,Full Stack Web Developer,Technical Team Lead,Web Developer & Technical Documentation Speci...,Web Development Teaching Assistant,NaN,NaN,NaN,8,0,Full Stack Web Developer & IT Professional,"['Full', 'Stack', 'Web', 'Developer', '&', 'IT..."
26,Kiran Kulkarni,Full Stack Web Developer at IBM,"London, Greater London, United Kingdom",https://www.linkedin.com/in/kiran-kulkarni-bb3...,"Inside Sales Executive, Barstaff","Advanced Business Solutions, Allenburys Sports...","9 mos, 2 yrs 7 mos",Advanced Computer Solutions is a leading UK so...,NaN,Inside Sales Executive,Barstaff,NaN,NaN,NaN,NaN,NaN,3,7,Full Stack Web Developer at IBM,"['Full', 'Stack', 'Web', 'Developer', 'IBM']"
19,Santhosh Kumar,Technology Lead at Infosys,"Bengaluru, Karnataka, India",https://www.linkedin.com/in/santhosh156/?origi...,NaN,NaN,NaN,Designation:\tTechnology lead and Senior Pytho...,A result driven technology professional with a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Designation:\tTechnology lead and Senior Pytho...,"['Designation', ':', '\\tTechnology', 'lead', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,Sreekanth Koppuravuri,AWS Cloud developer - Devops at Hermes UK,United Kingdom,https://www.linkedin.com/in/sreekanth-koppurav...,"AWS Cloud developer - Devops, Regulatory Repor...","Hermes, Baillie Gifford, NHS Digital - Health ...","2 yrs 2 mos, 10 mos, 1 yr 5 mos, 2 yrs 4 mos, ...",Hermes strategic decisions to implement the en...,I have solid hands on experience and worked in...,AWS Cloud developer - Devops,Regulatory Reporting Assurance - Oracle Devel...,DevOps,oracle consultant,CRM & Billing test support,NaN,NaN,5,11,Hermes strategic decisions to implement the en...,"['Hermes', 'strategic', 'decisions', 'implemen..."
53,Mark Cooper,"Full-stack JavaScript, ASP.NET and cloud devel...","Penkridge, Staffordshire, United Kingdom",https://www.linkedin.com/in/mark-cooper-081754...,NaN,NaN,NaN,NaN,Iâ€™m a maker at heart (both digital and physica...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,"Full-stack JavaScript, ASP.NET and cloud devel...","['Full-stack', 'JavaScript', ',', 'ASP.NET', '..."
37,Ossama Alami,"Head of Developer Programs Engineering, Google...","San Francisco, California",https://www.linkedin.com/in/ossama/,"Head of Developer Programs Engineering, Google...","Google, Firebase, Google, Accenture, Random Wa...","4 yrs 6 mos, 11 mos, 6 yrs 2 mos, 3 yrs 1 mo, ...",I lead the Developer Programs Engineering team...,Iâ€™m an engineer and engineering manager with a...,Head of Developer Programs Engineering,Google Cloud Platform,VP of Developer Happiness,Head of Glass Developer Relations,Senior Consultant,Senior Consultant (Senior Software Engineer),NaN,17,2,I lead the Developer Programs Engineering team...,"['I', 'lead', 'Developer', 'Programs', 'Engine..."
60,Abhishek Anantharaman,Senior Cloud Developer at nbnâ„¢ Australia,"Melbourne, Australia",https://www.linkedin.com/in/abhishek-ananthara...,"Cloud Engineer, Senior Software Engineer, Seni...","Cevo Australia, GE Digital, Altisource","8 mos, 11 mos, 1 yr 3 mos",We describe ourselves as a team of passionate ...,"Over 9, years of experience in software design...",Cloud Engineer,Senior Software Engineer,Senior Software Engineer,NaN,NaN,NaN,NaN,1,3,We describe ourselves as a team of passionate ...,"['We', 'describe', 'team', 'passionate', 'prob..."
21,Peter Kadlot,Full Stack Developer,"London, United Kingdom",https://www.linkedin.com/in/peterkadlot/?origi...,"Freelance Full Stack JS Developer, Full Stack ...","MakeThink Ltd., StreetHub, Ustream, Inc., agen...","9 yrs, 3 yrs 7 mos, 4 mos, 1 yr",A mobile app and CRM specialized for the real ...,I have built systems that are used by thousand...,Freelance Full Stack JS Developer,Full Stack Software Developer,Designer/Frontend Developer Intern,Developer,UX,Co-Founder,NaN,14,7,A mobile app and CRM specialized for the real ...,"['A', 'mobile', 'app', 'CRM', 'specialized', '..."
56,Ankur Kotwal,APAC Lead of Cloud Developer & DevOps Advocacy...,"Sydney, Australia",https://www.linkedin.com/in/ankurkotwal/?origi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,APAC Lead of Cloud Developer & DevOps Advocacy...,"['APAC', 'Lead', 'Cloud', 'Developer', '&', 'D..."
28,Julian Wyatt,Junior Full Stack Developer. Angular JS | Node...,"London, United Kingdom",https://www.linkedin.com/in/julesjam/?original...,"Student, Operations Manager, Student - Part Ti...","WDI General Assembly London, Webstar-Health, G...","3 yrs 3 mos, 3 yrs 2 mos, less than a year, 3 yrs",Operations Manager Webstar-Health Ltd: Webstar...,"Following a very enjoyable career in Pharmacy,...",Student,Operations Manager,Student - Part Time - Front End Web Developme...,Consultancy for Pharmacy Retail Systems,NaN,NaN,NaN,10,5,Operations Manager Webstar-Health Ltd: Webstar...,"['Operations', 'Manager', 'Webstar-Health', 'L..."
40,Allen Cass,Mobile / Cloud Developer and Augmented Reality...,"Orange County, California Area",https://www.linkedin.com/in/crossmedia411/,"Lead Developer, Strategic Account Manager, Dig...","MERIDIUN, Konica Minolta Business Solutions U....","3 yrs 6 mos, 2 yrs 11 mos, 10 mos, 13 yrs 2 mos",MERIDIUN is an omni-channel mobile technology ...,"Augmented Reality, Artificial Intelligence, Ma...",Lead Developer,Strategic Account Manager,Digital Marketing Manager,Marketing Specialist,NaN,NaN,NaN,22,7,MERIDIUN is an omni-channel mobile technology ...,"['MERIDIUN', 'omni-channel', 'mobile', 'techno..."
63,Lars Klint,Technical Instructor - Microsoft Azure Content...,"Melbourne, Australia",https://www.linkedin.com/in/lklint/?originalSu...,"Proprietor, Podcast Host, Proprietor, Technica...","Crazy Dane Software, The Dane & The Pain, Mitt...","14 yrs, 4 yrs 11 mos, 4 yrs 8 mos, 5 yrs",We are a small customer focused company with a...,"Lars is an author, trainer, Microsoft MVP, com...",Proprietor,Podcast Host,Proprietor,Technical Author,NaN,NaN,NaN,30,7,We are a small customer focused company with a...,"['We', 'small', 'customer', 'focused', 'compan..."

In [45]:
from sklearn.metrics.pairwise import euclidean_distances
eud_dist = euclidean_distances(freq_matrix, freq_matrix)
eud_dist

array([[0.        , 1.24081957, 1.3698986 , ..., 1.39895173, 1.37656624,
        1.40077925],
       [1.24081957, 0.        , 1.36341518, ..., 1.36069107, 1.41421356,
        1.41421356],
       [1.3698986 , 1.36341518, 0.        , ..., 1.41421356, 1.37389988,
        1.39268056],
       ...,
       [1.39895173, 1.36069107, 1.41421356, ..., 0.        , 1.3636126 ,
        1.39962644],
       [1.37656624, 1.41421356, 1.37389988, ..., 1.3636126 , 0.        ,
        1.33853213],
       [1.40077925, 1.41421356, 1.39268056, ..., 1.39962644, 1.33853213,
        0.        ]])

In [46]:
eud_dist_df=pd.DataFrame(eud_dist)

In [47]:
eud_dist_df

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
0,0.000000,1.240820,1.369899,1.321470,1.283675,1.351663,1.364771,1.361873,1.254167,1.325064,...,1.394484,1.390831,1.381267,1.363951,1.396538,1.393548,1.410625,1.398952,1.376566,1.400779
1,1.240820,0.000000,1.363415,1.089666,0.918298,1.117314,1.244473,1.252336,1.112708,1.328173,...,1.403157,1.414214,1.402026,1.414214,1.352087,1.341373,1.349505,1.360691,1.414214,1.414214
2,1.369899,1.363415,0.000000,1.393797,1.332697,1.395340,1.402912,1.280823,1.398739,1.361515,...,1.387211,1.405843,1.379971,1.375449,1.390383,1.414214,1.414214,1.414214,1.373900,1.392681
3,1.321470,1.089666,1.393797,0.000000,1.236934,1.301772,1.347826,1.350782,1.300168,1.379901,...,1.409731,1.414214,1.409274,1.414214,1.389306,1.385080,1.388285,1.392715,1.414214,1.414214
4,1.283675,0.918298,1.332697,1.236934,0.000000,1.251118,1.252194,1.295797,1.248742,1.325717,...,1.380793,1.414214,1.397305,1.373867,1.378623,1.372557,1.377159,1.383511,1.398928,1.376106
5,1.351663,1.117314,1.395340,1.301772,1.251118,0.000000,1.352924,1.355648,1.309077,1.382507,...,1.410068,1.414214,1.409646,1.414214,1.391192,1.387288,1.390249,1.394341,1.414214,1.414214
6,1.364771,1.244473,1.402912,1.347826,1.252194,1.352924,0.000000,1.369234,1.352068,1.364215,...,1.401270,1.414214,1.407641,1.398611,1.400436,1.398109,1.399874,1.402315,1.388990,1.399470
7,1.361873,1.252336,1.280823,1.350782,1.295797,1.355648,1.369234,0.000000,1.366323,1.311911,...,1.405608,1.409366,1.383130,1.375953,1.414214,1.414214,1.414214,1.414214,1.389938,1.373622
8,1.254167,1.112708,1.398739,1.300168,1.248742,1.309077,1.352068,1.366323,0.000000,1.369275,...,1.407402,1.414214,1.406707,1.414214,1.376214,1.369730,1.374649,1.381436,1.414214,1.414214
9,1.325064,1.328173,1.361515,1.379901,1.325717,1.382507,1.364215,1.311911,1.369275,0.000000,...,1.381142,1.388743,1.357616,1.325110,1.411378,1.410901,1.411262,1.411763,1.342846,1.352679
10,1.323964,0.962512,1.387177,1.250517,1.174344,1.263545,1.325804,1.329772,1.261362,1.368701,...,1.408289,1.414214,1.407685,1.414214,1.381212,1.375594,1.379856,1.385740,1.414214,1.414214
11,1.349341,1.372648,1.289815,1.381458,1.369156,1.398738,1.404942,1.368522,1.374894,1.339948,...,1.301970,1.385527,1.312837,1.308825,1.377220,1.382547,1.414214,1.390852,1.286898,1.358839
12,1.409888,1.403148,1.381018,1.409728,1.407824,1.410065,1.411724,1.414214,1.407396,1.387519,...,1.399709,1.406173,1.369082,1.398568,1.410175,1.409495,1.410010,1.410724,1.401252,1.373561
13,1.240820,0.000000,1.363415,1.089666,0.918298,1.117314,1.244473,1.252336,1.112708,1.328173,...,1.403157,1.414214,1.402026,1.414214,1.352087,1.341373,1.349505,1.360691,1.414214,1.414214
14,1.345221,1.313222,1.386386,1.374075,1.356721,1.377129,1.392066,1.375740,1.383845,1.376888,...,1.399244,1.400938,1.404826,1.396369,1.414214,1.414214,1.414214,1.414214,1.392903,1.407276
15,1.335165,1.343777,1.347481,1.386026,1.327031,1.388162,1.392802,1.377742,1.370530,1.348804,...,1.338625,1.393365,1.338911,1.330506,1.386815,1.395426,1.399046,1.390568,1.311261,1.355271
16,1.358134,1.347537,1.358302,1.387508,1.376044,1.389531,1.399446,1.326147,1.389191,1.348279,...,1.386164,1.383061,1.379492,1.381021,1.384715,1.347509,1.408380,1.409371,1.333374,1.385475
17,1.350734,1.112423,1.374187,1.300069,1.248595,1.308985,1.352015,1.354780,1.307489,1.382042,...,1.410008,1.414214,1.355563,1.414214,1.390855,1.386894,1.389898,1.394050,1.401578,1.414214
18,1.364060,1.352166,1.358946,1.389337,1.305531,1.391220,1.382215,1.368141,1.390903,1.335344,...,1.350662,1.388139,1.356282,1.328996,1.390244,1.396504,1.399661,1.393523,1.330358,1.369315
19,1.378468,1.380302,1.359378,1.400534,1.368711,1.401566,1.396638,1.373326,1.401392,1.383607,...,1.355132,1.374829,1.328664,1.321237,1.375042,1.382935,1.411214,1.391137,1.352084,1.363846
20,1.409930,1.336638,1.391364,1.383218,1.369882,1.385570,1.149123,1.414214,1.366871,1.387521,...,1.409201,1.414214,1.408690,1.414214,1.386332,1.381596,1.385189,1.390152,1.414214,1.396862
21,1.389399,1.414214,1.404176,1.414214,1.414214,1.414214,1.414214,1.403330,1.414214,1.389278,...,1.408698,1.404177,1.389708,1.402757,1.414214,1.414214,1.414214,1.384600,1.378685,1.379833
22,1.410147,1.340676,1.392530,1.384805,1.372162,1.387035,1.397958,1.414214,1.369309,1.388885,...,1.409455,1.414214,1.408970,1.414214,1.387758,1.383267,1.386674,1.391381,1.414214,1.397746
23,1.379989,1.400351,1.380601,1.408597,1.406212,1.353175,1.411097,1.375977,1.405677,1.386679,...,1.404841,1.398688,1.373144,1.388743,1.409157,1.408306,1.408951,1.409845,1.371783,1.384349
24,1.395044,1.404761,1.384694,1.410381,1.408754,1.410669,1.412086,1.379999,1.408389,1.370701,...,1.399961,1.366945,1.363694,1.391460,1.396112,1.410182,1.410622,1.411232,1.346307,1.361873
25,1.355228,1.388168,1.332327,1.403689,1.340852,1.404482,1.358456,1.354556,1.398201,1.317713,...,1.380941,1.370959,1.330068,1.361899,1.391310,1.403142,1.404354,1.406030,1.350710,1.377038
26,1.377469,1.334573,1.390769,1.382408,1.368718,1.384822,1.396640,1.414214,1.365626,1.377882,...,1.409071,1.414214,1.408547,1.414214,1.385604,1.380743,1.384431,1.389525,1.392778,1.396411
27,1.362868,1.400138,1.393400,1.372854,1.406090,1.352224,1.411050,1.401138,1.405546,1.381368,...,1.395514,1.395857,1.371609,1.392643,1.409080,1.408216,1.356158,1.409778,1.354834,1.388007
28,1.391201,1.414214,1.392700,1.414214,1.401928,1.383916,1.394963,1.392724,1.414214,1.375476,...,1.407040,1.381880,1.356005,1.356546,1.404929,1.414214,1.404551,1.406194,1.384452,1.379827
29,1.353694,1.401570,1.378263,1.409090,1.406915,1.409475,1.411370,1.401409,1.406426,1.374926,...,1.405564,1.401510,1.389610,1.385783,1.409600,1.408824,1.409413,1.410228,1.369526,1.403193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,1.261350,1.301274,1.356946,1.353137,1.350046,1.372860,1.389532,1.380657,1.295613,1.339551,...,1.389789,1.398923,1.353694,1.337624,1.376735,1.345310,1.411824,1.381885,1.346946,1.395671
118,1.410872,1.354058,1.414214,1.390085,1.379741,1.391912,1.400866,1.414214,1.377409,1.386579,...,1.403757,1.414214,1.366035,1.384753,1.317499,1.388826,1.313423,1.331047,1.357349,1.414214
119,1.410129,1.340336,1.414214,1.384671,1.371970,1.386912,1.397885,1.414214,1.369103,1.400813,...,1.401425,1.414214,1.355106,1.367214,1.295047,1.383126,1.289978,1.311867,1.278908,1.399113
120,1.378091,1.414214,1.403146,1.414214,1.297572,1.414214,1.369889,1.377790,1.414214,1.345889,...,1.313444,1.362112,1.299118,1.129387,1.299466,1.337447,1.365350,1.315638,1.284008,1.315994
121,1.379839,1.405451,1.382707,1.410660,1.394935,1.410927,1.406724,1.400779,1.408814,1.372285,...,1.348427,1.350939,1.280299,1.249581,1.297651,1.281326,1.377114,1.314088,1.330825,1.379909
122,1.384116,1.414214,1.390095,1.414214,1.337892,1.414214,1.384938,1.375508,1.414214,1.317400,...,1.301271,1.381195,1.304301,1.263202,1.368532,1.414214,1.366645,1.374825,1.276299,1.359325
123,1.377482,1.414214,1.398767,1.414214,1.336104,1.414214,1.384264,1.381703,1.414214,1.341520,...,1.360560,1.379679,1.334278,1.230505,1.346655,1.352632,1.399186,1.356028,1.325117,1.378266
124,1.359932,1.414214,1.390059,1.414214,1.414214,1.414214,1.414214,1.397027,1.414214,1.370061,...,1.304113,1.302312,1.270315,1.216224,1.219031,1.240600,1.369613,1.247333,1.301549,1.387165
125,1.410764,1.352064,1.414214,1.389297,1.378610,1.391183,1.400431,1.414214,1.376200,1.398210,...,1.403417,1.414214,1.353781,1.383788,1.314247,1.387995,1.310028,1.328265,1.338757,1.414214
126,1.399265,1.361803,1.414214,1.393156,1.384143,1.394749,1.402559,1.414214,1.382112,1.411813,...,1.376640,1.361326,1.315456,1.323212,1.245365,1.297281,1.326578,1.269616,1.364663,1.406797
127,1.376061,1.262798,1.414214,1.354734,1.328745,1.359290,1.381498,1.414214,1.322842,1.399361,...,1.396673,1.414214,1.349877,1.378276,1.266612,1.351585,1.260255,1.287651,1.323814,1.414214
128,1.388162,1.414214,1.406584,1.414214,1.414214,1.414214,1.414214,1.414214,1.414214,1.407917,...,1.323069,1.270557,1.241924,1.225970,1.182569,1.062306,1.397007,1.237318,1.372218,1.365768
129,1.308011,1.407416,1.390694,1.411456,1.376977,1.411663,1.399804,1.343647,1.410023,1.307876,...,1.333025,1.348945,1.289267,1.190602,1.295438,1.299483,1.376681,1.312200,1.292350,1.345403
130,1.384003,1.407228,1.367205,1.411379,1.352623,1.411592,1.390509,1.380440,1.409907,1.325465,...,1.362021,1.363408,1.230441,1.301767,1.351117,1.350674,1.402662,1.335534,1.344205,1.355560
131,1.358024,1.414214,1.325399,1.384460,1.336169,1.414214,1.384289,1.393478,1.414214,1.343510,...,1.266759,1.319951,1.315379,1.219506,1.326591,1.329260,1.399198,1.338828,1.322735,1.352789
132,1.373143,1.414214,1.360661,1.414214,1.366815,1.414214,1.405176,1.393658,1.414214,1.364066,...,1.279300,1.361675,1.275373,1.174296,1.280568,1.326694,1.368016,1.309870,1.289095,1.346986
133,1.410237,1.342331,1.386701,1.385457,1.373098,1.387637,1.398317,1.414214,1.370309,1.410943,...,1.391842,1.414214,1.356694,1.379089,1.174665,1.383952,1.293398,1.314661,1.346281,1.414214
134,1.374854,1.405240,1.360133,1.410574,1.394468,1.410848,1.406543,1.369294,1.408683,1.362583,...,1.352988,1.322909,1.303053,1.246008,1.361274,1.378599,1.387837,1.368584,1.337469,1.338923
135,1.414214,1.414214,1.402702,1.414214,1.414214,1.414214,1.414214,1.414214,1.414214,1.396713,...,1.410182,1.414214,1.370544,1.389833,1.369078,1.267106,1.367214,1.375295,1.364802,1.386472
136,1.353289,1.349616,1.385919,1.388329,1.255352,1.390290,1.354454,1.356891,1.392771,1.310546,...,1.332050,1.360080,1.332798,1.264912,1.371444,1.381339,1.396996,1.377330,1.322616,1.310432
137,1.394484,1.403157,1.387211,1.409731,1.380793,1.410068,1.401270,1.405608,1.407402,1.381142,...,0.000000,1.360480,1.341879,1.299018,1.344998,1.338216,1.402981,1.362252,1.321672,1.380610
138,1.390831,1.414214,1.405843,1.414214,1.414214,1.414214,1.414214,1.409366,1.414214,1.388743,...,1.360480,0.000000,1.327158,1.321518,1.351520,1.340705,1.414214,1.360204,1.377488,1.359959
139,1.381267,1.402026,1.379971,1.409274,1.397305,1.409646,1.407641,1.383130,1.406707,1.357616,...,1.341879,1.327158,0.000000,1.237547,1.240638,1.252389,1.362406,1.265610,1.300647,1.359613
140,1.363951,1.414214,1.375449,1.414214,1.373867,1.414214,1.398611,1.375953,1.414214,1.325110,...,1.299018,1.321518,1.237547,0.000000,1.268595,1.260476,1.382551,1.289337,1.279579,1.324292
141,1.396538,1.352087,1.390383,1.389306,1.378623,1.391192,1.400436,1.414214,1.376214,1.411378,...,1.344998,1.351520,1.240638,1.268595,0.000000,1.160999,1.310067,1.155947,1.355489,1.397320
142,1.393548,1.341373,1.414214,1.385080,1.372557,1.387288,1.398109,1.414214,1.369730,1.410901,...,1.338216,1.340705,1.252389,1.260476,1.160999,0.000000,1.386931,1.198533,1.414214,1.394464
143,1.410625,1.349505,1.414214,1.388285,1.377159,1.390249,1.399874,1.414214,1.374649,1.411262,...,1.402981,1.414214,1.362406,1.382551,1.310067,1.386931,0.000000,1.324692,1.353051,1.414214
144,1.398952,1.360691,1.414214,1.392715,1.383511,1.394341,1.402315,1.414214,1.381436,1.411763,...,1.362252,1.360204,1.265610,1.289337,1.155947,1.198533,1.324692,0.000000,1.363613,1.399626
145,1.376566,1.414214,1.373900,1.414214,1.398928,1.414214,1.388990,1.389938,1.414214,1.342846,...,1.321672,1.377488,1.300647,1.279579,1.355489,1.414214,1.353051,1.363613,0.000000,1.338532
146,1.400779,1.414214,1.392681,1.414214,1.376106,1.414214,1.399470,1.373622,1.414214,1.352679,...,1.380610,1.359959,1.359613,1.324292,1.397320,1.394464,1.414214,1.399626,1.338532,0.000000

In [48]:
eud_dist_df=pd.concat([user_df,eud_dist_df], axis=1)

In [49]:
eud_dist_df.to_csv('euddist.csv',index=False)

In [50]:
def eud_recommend_by_description(name):
    df = pd.read_csv('euddist.csv')
    with open('euddist.csv', 'r', encoding="utf8") as csvfile:
        rows = csv.reader(csvfile)
        next(rows, None)
        for row in rows:
            if(row[0]==name):
                list1=row[1:]
                list1 = [float(i) for i in list1]
                return list1

In [51]:
out1=eud_recommend_by_description('Paul Garner')

In [52]:
out1

[0.0,
 1.2408195667839594,
 1.3698986021883992,
 1.3214703767409437,
 1.2836747793974899,
 1.3516626232078945,
 1.3647713242454942,
 1.3618733272834276,
 1.2541671546409014,
 1.3250644476386075,
 1.3239643946467756,
 1.3493407203918608,
 1.4098884882842841,
 1.2408195667839594,
 1.3452213601933138,
 1.335165451023888,
 1.3581335815788518,
 1.3507337519060727,
 1.3640603577635386,
 1.3784677008522472,
 1.4099301445081034,
 1.3893991404861652,
 1.4101474646530945,
 1.3799892777862568,
 1.3950438885244787,
 1.3552275091933144,
 1.3774688416088723,
 1.3628677308227513,
 1.3912013360018454,
 1.3536942387714344,
 1.3767792973495327,
 1.4101474646530945,
 1.4101474646530945,
 1.3623273327836096,
 1.4080955116961427,
 1.393154635386019,
 1.4007326069944799,
 1.3875379485365729,
 1.3440414461371184,
 1.4068670332443785,
 1.3925713950318752,
 1.395516481856848,
 1.378996916661651,
 1.380430366836995,
 1.3842394768141715,
 1.398693495569391,
 1.4091220954955443,
 1.344140763688377,
 1.3835325767746998,
 1.4033012959235438,
 1.3979770127646194,
 1.367847064469843,
 1.352546470298855,
 1.3868826308477151,
 1.410460331804539,
 1.3862024511074622,
 1.3905392102070935,
 1.3576089718081614,
 1.4134649852257843,
 1.4029836116064922,
 1.3879765272427849,
 1.3941134047961015,
 1.3972703389181174,
 1.3930902951362976,
 1.3745647136923167,
 1.402135988600362,
 1.4142135623730951,
 1.3902388022972494,
 1.4068670332443785,
 1.3875379485365729,
 1.3925713950318752,
 1.378996916661651,
 1.396333426159077,
 1.380430366836995,
 1.352110480059163,
 1.3842394768141715,
 1.4062133441166011,
 1.4002237563542792,
 1.410460331804539,
 1.393995632654532,
 1.399202867551065,
 1.3998146459047223,
 1.4142135623730951,
 1.394126804045,
 1.403785225532144,
 1.367847064469843,
 1.374377948221279,
 1.371997744426764,
 1.360553879260026,
 1.410463919225457,
 1.3727387601506258,
 1.3857482566972195,
 1.411815446943017,
 1.4109723604391886,
 1.3656635048107746,
 1.3298159596823182,
 1.3694357456737567,
 1.3834530098796132,
 1.3830788287711804,
 1.4101474646530945,
 1.384348973864889,
 1.3692546928877884,
 1.4120373120235,
 1.3910566815771204,
 1.4115602795465927,
 1.3914207116602397,
 1.3243415792154616,
 1.336259254956903,
 1.2408195667839594,
 1.3513346270795268,
 1.3509206213549614,
 1.2787756246763098,
 1.3243415792154616,
 1.3646679973843105,
 1.4105371000417801,
 1.4105410054631027,
 1.319713025157986,
 1.2613499211330257,
 1.4108720986856988,
 1.410129145646161,
 1.378090907288605,
 1.3798387984613574,
 1.384116154091785,
 1.3774815477920337,
 1.359931731237506,
 1.4107636948939712,
 1.3992645612128618,
 1.3760605671592572,
 1.388162279913326,
 1.3080109089348415,
 1.384003036120353,
 1.3580239530522853,
 1.3731432175488791,
 1.4102367313443291,
 1.3748541074419662,
 1.4142135623730951,
 1.353288964655024,
 1.3944835138354605,
 1.3908314993626978,
 1.3812665759430969,
 1.363951468207298,
 1.3965380534343996,
 1.3935482176812388,
 1.4106247857764758,
 1.3989517319908495,
 1.37656623847361,
 1.4007792501085976]

In [53]:
list1=list(range(66))

In [54]:
list1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65]

In [55]:
 dictionary = dict(zip(list1, out1))

In [56]:
dictionary

{0: 0.0,
 1: 1.2408195667839594,
 2: 1.3698986021883992,
 3: 1.3214703767409437,
 4: 1.2836747793974899,
 5: 1.3516626232078945,
 6: 1.3647713242454942,
 7: 1.3618733272834276,
 8: 1.2541671546409014,
 9: 1.3250644476386075,
 10: 1.3239643946467756,
 11: 1.3493407203918608,
 12: 1.4098884882842841,
 13: 1.2408195667839594,
 14: 1.3452213601933138,
 15: 1.335165451023888,
 16: 1.3581335815788518,
 17: 1.3507337519060727,
 18: 1.3640603577635386,
 19: 1.3784677008522472,
 20: 1.4099301445081034,
 21: 1.3893991404861652,
 22: 1.4101474646530945,
 23: 1.3799892777862568,
 24: 1.3950438885244787,
 25: 1.3552275091933144,
 26: 1.3774688416088723,
 27: 1.3628677308227513,
 28: 1.3912013360018454,
 29: 1.3536942387714344,
 30: 1.3767792973495327,
 31: 1.4101474646530945,
 32: 1.4101474646530945,
 33: 1.3623273327836096,
 34: 1.4080955116961427,
 35: 1.393154635386019,
 36: 1.4007326069944799,
 37: 1.3875379485365729,
 38: 1.3440414461371184,
 39: 1.4068670332443785,
 40: 1.3925713950318752,
 41: 1.395516481856848,
 42: 1.378996916661651,
 43: 1.380430366836995,
 44: 1.3842394768141715,
 45: 1.398693495569391,
 46: 1.4091220954955443,
 47: 1.344140763688377,
 48: 1.3835325767746998,
 49: 1.4033012959235438,
 50: 1.3979770127646194,
 51: 1.367847064469843,
 52: 1.352546470298855,
 53: 1.3868826308477151,
 54: 1.410460331804539,
 55: 1.3862024511074622,
 56: 1.3905392102070935,
 57: 1.3576089718081614,
 58: 1.4134649852257843,
 59: 1.4029836116064922,
 60: 1.3879765272427849,
 61: 1.3941134047961015,
 62: 1.3972703389181174,
 63: 1.3930902951362976,
 64: 1.3745647136923167,
 65: 1.402135988600362}

In [57]:
dictionary_sorted_keys = sorted(dictionary, key=dictionary.get)

In [58]:
dictionary_sorted_keys

[0,
 1,
 13,
 8,
 4,
 3,
 10,
 9,
 15,
 38,
 47,
 14,
 11,
 17,
 5,
 52,
 29,
 25,
 57,
 16,
 7,
 33,
 27,
 18,
 6,
 51,
 2,
 64,
 30,
 26,
 19,
 42,
 23,
 43,
 48,
 44,
 55,
 53,
 37,
 60,
 21,
 56,
 28,
 40,
 63,
 35,
 61,
 24,
 41,
 62,
 50,
 45,
 36,
 65,
 59,
 49,
 39,
 34,
 46,
 12,
 20,
 22,
 31,
 32,
 54,
 58]

In [59]:
dictionary_sorted_keys.pop(0)

0

In [60]:
dictionary_sorted_keys

[1,
 13,
 8,
 4,
 3,
 10,
 9,
 15,
 38,
 47,
 14,
 11,
 17,
 5,
 52,
 29,
 25,
 57,
 16,
 7,
 33,
 27,
 18,
 6,
 51,
 2,
 64,
 30,
 26,
 19,
 42,
 23,
 43,
 48,
 44,
 55,
 53,
 37,
 60,
 21,
 56,
 28,
 40,
 63,
 35,
 61,
 24,
 41,
 62,
 50,
 45,
 36,
 65,
 59,
 49,
 39,
 34,
 46,
 12,
 20,
 22,
 31,
 32,
 54,
 58]

In [61]:
new_user_data.iloc[dictionary_sorted_keys]

,Name,Job Title,Location,URL,Old Positions,Old Companies,Number of years,job description,self description,Position1,Position2,Position3,Position4,Position5,Position6,Position7,exp_years,exp_months,description,Keywords
1,Bartosz Dziendzik,Python developer,"London, United Kingdom",https://www.linkedin.com/in/bartoszdziendzik/?...,Python Developer,Intelligent Optimisations,10 mos,"\n Python, JavaScript, Django, ...",NaN,Python Developer,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python developer,"['Python', 'developer']"
13,Isaac To,Python Developer,Greater Los Angeles Area,https://www.linkedin.com/in/candleindark/,Software Developer,"Smart Software Solutions, Inc",4 yrs 4 mos,Develop Python libraries for interacting with ...,NaN,Software Developer,NaN,NaN,NaN,NaN,NaN,NaN,5,4,Python Developer,"['Python', 'Developer']"
8,Scott White,Python Developer / Django Developer at Rockste...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/scott-white-6a377a...,"Python Developer / Django Developer, Python/Dj...","Rocksteady Games, Monumental Games","7 yrs 7 mos, 4 yrs",Working in a team of two on new and legacy pro...,NaN,Python Developer / Django Developer,Python/Django Web Developer,NaN,NaN,NaN,NaN,NaN,12,7,Python Developer / Django Developer at Rockste...,"['Python', 'Developer', '/', 'Django', 'Develo..."
4,Georgi Georgiev,Python Developer/Data Engineer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/georgigeorgiev1/?o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python Developer/Data Engineer,"['Python', 'Developer/Data', 'Engineer']"
3,Danny Butler,Backend Python Developer at Ostmodern,"London, United Kingdom",https://www.linkedin.com/in/danny-butler-62834...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Backend Python Developer at Ostmodern,"['Backend', 'Python', 'Developer', 'Ostmodern']"
10,Harish .N,Python Developer at CISCO,"Sunnyvale, California",https://www.linkedin.com/in/harish-n-29235314a/,"Python Developer, Python Developer, Python Dev...","Express Scripts, JPMorgan Chase & Co., MetLife...","11 mos, 1 yr 3 mos, 1 yr 11 mos, 1 yr 6 mos",â€¢\tDjango Framework that was used in developin...,NaN,Python Developer,Python Developer,Python Developer,Python Developer,NaN,NaN,NaN,6,8,Python Developer at CISCO,"['Python', 'Developer', 'CISCO']"
9,Lukasz Szczesiak,Software Engineer / Stand-Up Comedian,"London, Greater London, United Kingdom",https://www.linkedin.com/in/szczesiaklukasz/?o...,"Senior Software Engineer, Quantitative Investm...","Yoyo, Macquarie Group, J.P. Morgan, Apple","5 mos, 6 mos, 3 yrs 8 mos, 3 yrs 11 mos","Working with the B2B, design and marketing tea...","My IT trades include multi-language, multi-par...",Senior Software Engineer,Quantitative Investment Strategies as Python ...,Manager,Valuation Control Group Tech as Python Developer,Senior Associate,Apple Store Buchanan Street as Mac Specialist,NaN,9,7,"Working with the B2B, design and marketing tea...","['Working', 'B2B', ',', 'design', 'marketing',..."
15,Nivedha Balaji,Associate Technical Consultant at Perficient,San Francisco Bay Area,https://www.linkedin.com/in/nivedha-balaji/,"Python Developer Intern, Software Engineer, Re...","HCL , Uniq Technologies, RMD Engineering college","6 mos, 10 mos, 1 yr",Â·\tDeveloped web-based applications using Pyth...,Self-motivated engineer with 2+ years of exper...,Python Developer Intern,Software Engineer,Research Assistant,NaN,NaN,NaN,NaN,1,0,Â·\tDeveloped web-based applications using Pyth...,"['Â·\\tDeveloped', 'web-based', 'applications',..."
38,David Martirosyan,"Senior front-end developer, Google Maps expert...","Los Angeles, California",https://www.linkedin.com/in/davidmartirosyan/,"Software Engineer, Cloud Architect",SADA Systems,3 yrs 10 mos,"\n Senior front-end developer, Google Map...",NaN,Software Engineer,Cloud Architect,NaN,NaN,NaN,NaN,NaN,4,10,"Senior front-end developer, Google Maps expert...","['Senior', 'front-end', 'developer', ',', 'Goo..."
47,Simona Cotin,Startup Advocacy Lead,"London, Greater London, United Kingdom",https://www.linkedin.com/in/simona-cotin-2ba87...,"Senior Cloud Developer Advocate, Senior Softwa...","Microsoft, Openet, Corvil, - Freelancer, Swiss...","2 yrs 3 mos, 6 mos, 1 yr 7 mos, 1 yr 3 mos, 7 mos",Advocacy sits at the intersection of engineeri...,Simona Cotin is a web developer with a passion...,Senior Cloud Developer Advocate,Senior Software Engineer (Contract),Software Engineer,Freelancer,Technical Lead,NaN,NaN,7,1,Advocacy sits at the intersection of engineeri...,"['Advocacy', 'sits', 'intersection', 'engineer..."
14,Anastasiia Konak,Python Developer at Django Stars,"San Francisco, California",https://www.linkedin.com/in/anastasiia-konak-9...,Python Developer at Uniblue,Ciklum,1 yr 8 mos,Developed a Windows performance enhancement so...,"Communicative and eager to learn, want to adva...",Python Developer at Uniblue,NaN,NaN,NaN,NaN,NaN,NaN,2,8,Developed a Windows performance enhancement so...,"['Developed', 'Windows', 'performance', 'enhan..."
11,Keshav M,Python Developer,"San Francisco, California",https://www.linkedin.com/in/keshav-m-17869487/,"Python Developer, Python Developer, Python Dev...","State of California-\tSan Francisco, CA, Edife...","2 yrs 1 mo, 1 yr, 1 yr, 2 yrs 4 mos, 2 yrs 1 mo",â€¢\tDeveloped the application using Agile metho...,Senior Software Engineer with 7 years of exper...,Python Developer,Python Developer,Python Developer,Python Developer,Linux Administrator,NaN,NaN,8,6,â€¢\tDeveloped the application using Agile metho...,"['â€¢\\tDeveloped', 'application', 'using', 'Agi..."
17,Srinivas Murthy,Python Developer at The affinity project,"Danville, California",https://www.linkedin.com/in/srinivas-murthy-53...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python Developer at The affinity project,"['Python', 'Developer', 'The', 'affinity', 'pr..."
5,Luca Romagnoli,Python Developer at Mavens of London,"London, United Kingdom",https://www.linkedin.com/in/lucaromagnoli79/?o...,Supervisor,Chilango,2 yrs 3 mos,"â€¢ Design, develop and execute automation scrip...",NaN,Supervisor,NaN,NaN,NaN,NaN,NaN,NaN,3,3,Python Developer at Mavens of London,"['Python', 'Developer', 'Mavens', 'London']"
52,Jonathan Bass,"Cloud Developer (contract) at Grass Valley, a ...","Derby, United Kingdom",https://www.linkedin.com/in/jonathan-bass-9818...,"Cloud Developer (contract), Director","Grass Valley, a Belden Brand, Tekcel Ltd.","2 mos, 2 yrs 9 mos","\n Cloud development in AWS, ... , \n ...",Contract software developer with 11 years expe...,Cloud Developer (contract),Director,NaN,NaN,NaN,NaN,NaN,3,9,"\n Cloud development in AWS, ... , \n ...","['\\n', 'Cloud', 'development', 'AWS', ',', '...."
29,Andrea Dammino,Senior Full Stack Developer (contract) at Nati...,"London, United Kingdom",https://www.linkedin.com/in/andrea-dammino-gig...,"Senior Full Stack Developer (contract), Senior...","Nationwide Building Society, Salmon, Lloyds Ba...","2 mos, 4 mos, 1 yr 2 mos",\n - Developing Nationwide for Business a...,Passionate and qualified IT expert with strong...,Senior Full Stack Developer (contract),Senior Front-end Developer (contract),Senior Front-end Developer (contract),NaN,NaN,NaN,NaN,1,2,\n - Developing Nationwide for Business a...,"['\\n', '-', 'Developing', 'Nationwide', 'Busi..."
25,RubÃ©n GarcÃ­a LÃ³pez,Full Stack Developer at Toptal,"London, United Kingdom",https://www.linkedin.com/in/rub%C3%A9n-garc%C3...,"Full Stack Developer, Senior Software Develope...","Toptal, Thomas Cook, Meganexus, Software AG, C...","3 yrs 7 mos, 2 yrs 8 mos, 1 yr 5 mos, 4 yrs 6 ...",Full stack javascript developer working remote...,Software engineer with over 10 years experienc...,Full Stack Developer,Senior Software Developer,Senior Software Developer,Senior Software Developer,Software Developer,NaN,NaN,13,2,Full stack javascript developer working remote...,"['Full', 'stack', 'javascript', 'developer', '..."
57,Ramji Piramanayagam,Cloud Architect | Lead Full Stack Dev,"Melbourne, Australia",https://www.linkedin.com/in/ramji-piramanayaga...,"Azure Full Stack / Devops Developer, Developme...","Viva Energy Australia Pty Ltd, Kloud Solutions...","1 yr 3 mos, 2 yrs 11 mos, 10 mos, 1 yr 3 mos, ...","â€¢ Develop, test, support and maintain client-f...",Microsoft certified professional developer wit...,Azure Full Stack / Devops Developer,Development Consultant,Azure Web Developer,Senior Software Engineer,.Net Developer,NaN,NaN,14,6,"â€¢ Develop, test, support and maintain client-f...","['â€¢', 'Develop', ',', 'test', ',', 'support', ..."
16,Michael Alber,"Senior PHP, Python Developer, and Cloud Admini...",San Francisco Bay Area,https://www.linkedin.com/in/albermichael/,Senior Software Developer and Cloud Administra...,"California Business Technology, Inc., ONE2Mark...","6 yrs 8 mos, 9 yrs 4 mos, 6 yrs 11 mos, 1 yr 1...","A senior PHP, Python developer, and technical ...","Strong professional skills in Python, PHP, Jav...",Senior Software Developer and Cloud Administrator,Partner / Senior Software Developer,Senior Software Developer and Team Lead,Lead Software Developer,Senior Software Developer,NaN,NaN,27,9,"A senior PHP, Python developer, and technical ...","['A', 'senior', 'PHP', ',', 'Python', 'develop..."
7,Pablo Chao Andrade,Python developer,"London, United Kingdom",https://www.linkedin.com/in/pablo-chao-andrade...,"Python Developer, FX Risk developer, FX Risk d...","Bank of America Merrill Lynch, JPMorgan Chase,...","1 yr 7 mos, 2 yrs 7 mos, 12 mos, 1 yr 2 mos",Worked on a reconciliation tool between front ...,"\n Specialties: python, test driven devel...",Python Developer,FX Risk developer,FX Risk developer,Market data developer,NaN,NaN,NaN,8,4,Worked on a reconciliation tool between front ...,"['Worked', 'reconciliation', 'tool', 'front', ..."
33,David Wu,Full Stack Web Developer,"Los Angeles, California",https://www.linkedin.com/in/davidwuwebdev/,"Full-stack Web Developer, Tech News Contributo...","Amazon, TechCrunch, Merrill Lynch, Salem Partn...","2 yrs 1 mo, 2 yrs 2 mos, 1 yr 1 mo, 3 mos, 4 mos","Personal portfolio site: www.davidwu.work, â€¢ ...",NaN,Full-stack Web Developer,Tech News Contributor (Part time),Full-stack Web Developer,Full-stack Web Developer Intern,Investment Banking Analyst Intern,NaN,NaN,5,4,Full Stack Web Developer,"['Full', 'Stack', 'Web', 'Developer']"
27,Vito Tardia,Full Stack Developer at Akkroo,"London, United Kingdom",https://www.linkedin.com/in/vitotardia/?origin...,"web and software developer, web developer / pr...","OFFICINEBIT.CH, Melismelis Srl, nearForm","8 yrs 2 mos, 9 yrs 7 mos, 1 yr 9 mos","Backend web development, e-commerce web sites ...",Iâ€™m a web designer and full stack developer w...,web and software developer,web developer / project manager,Full stack developer,NaN,NaN,NaN,NaN,21,6,"Backend web development, e-commerce web sites ...","['Backend', 'web', 'development', ',', 'e-comm..."
18,mounika s,Python Developer at CapitalOne,Greater Los Angeles Area,https://www.linkedin.com/in/mounikas3333/,"Python Developer, Software Engineer, Software ...","CapitalOne, FGMC, Intense","1 yr 10 mos, 1 yr 8 mos, 1 yr",Capital One is a diversified bank that offers ...,\uf0a7\tAbout 4+ years of IT experience in all...,Python Developer,Software Engineer,Software Engineer,NaN,NaN,NaN,NaN,6,6,Capital One is a diversified bank that offers ...,"['Capital', 'One', 'diversified', 'bank', 'off..."
6,Sandra Greiss,Freelance Data Scientist and Python Developer ...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/sandra-greiss-0666...,"Data Scientist, Internship","Lyst, Commercial Bank","1 yr 7 mos, 1 mo",I spent my internship in the Treasury and Inve...,NaN,Data Scientist,Internship,NaN,NaN,NaN,NaN,NaN,2,7,Freelance Data Scientist and Python Developer ...,"['Freelance', 'Data', 'Scientist', 'Python', '..."
51,Chris Walker,Web/Cloud Developer,"Woking, Surrey, United Kingdom",https://www.linkedin.com/in/chris-walker-66158...,"Senior Backend Developer, Senior Java Develope...","Karhoo, SITA, Q Software Global Ltd, SITA Pass...","2 yrs 4 mos, 4 yrs 11 mos, 2 yrs, 6 yrs, 3 yrs","\n Golang, Kubernetes, Docker, Google Clo...",Agile front- and back-end developer with 19 ye...,Senior Backend Developer,Senior Java Developer and Scrum Master (contr...,Senior Java Developer (contract),Senior Java Developer/Analyst,Software developer,NaN,NaN,20,3,"\n Golang, Kubernetes, Docker, Google Clo...","['\\n', 'Golang', ',', 'Kubernetes', ',', 'Doc..."
2,Cal Paterson,Contract Python Developer at J.P. Morgan,"London, Greater London, United Kingdom",https://www.linkedin.com/in/cal-paterson-290a2...,"Contract Python Developer, Contract Python Dev...","Citi, Bank of America Merrill Lynch","4 mos, 1 yr 3 mos",DevOps (primarily infrastructure automation) o...,\n Senior software engineer with a varied...,Contract Python Developer,Contract Python Developer,NaN,NaN,NaN,NaN,NaN,2,3,DevOps (primarily infrastructure automation) o...,"['DevOps', '(', 'primarily', 'infrastructure',..."
64,Shahriar Rahman,OpenStack Cloud Developer at Vault,"Sydney, Australia",https://www.linkedin.com/in/shahriar-rahman/?o...,"OpenStack Cloud Developer, Systems Engineer, G...","Vault - Secure, Sovereign Community Cloud, MNF...","1 yr 3 mos, 3 yrs 5 mos, 4 yrs 6 mos, 3 yrs 2 mos",â€¢\tSecure public cloud infrastructure design a...,Experienced Systems Engineer with a demonstrat...,OpenStack Cloud Developer,Systems Engineer,Graduate Researcher,Lecturer,NaN,NaN,NaN,14,4,â€¢\tSecure public cloud infrastructure design a...,"['â€¢\\tSecure', 'public', 'cloud', 'infrastruct..."
30,David Lee,Full Stack Web Developer & IT Professional,"Los Angeles, California",https://www.linkedin.com/in/davidhyunlee/,"Full Stack Web Developer, Technical Team Lead,...","Freelance Web Development, BCI7S, Bankinfra Te...","4 yrs 4 mos, 7 mos, 1 yr 8 mos, 4 mos",I develop web applications using the time test...,NaN,Full Stack Web Developer,Technical Team Lead,Web Developer & Technical Documentation Speci...,Web Development Teaching Assistant,NaN,NaN,NaN,8,0,Full Stack Web Developer & IT Professional,"['Full', 'Stack', 'Web', 'Developer', '&', 'IT..."
26,Kiran Kulkarni,Full Stack Web Developer at IBM,"London, Greater London, United Kingdom",https://www.linkedin.com/in/kiran-kulkarni-bb3...,"Inside Sales Executive, Barstaff","Advanced Business Solutions, Allenburys Sports...","9 mos, 2 yrs 7 mos",Advanced Computer Solutions is a leading UK so...,NaN,Inside Sales Executive,Barstaff,NaN,NaN,NaN,NaN,NaN,3,7,Full Stack Web Developer at IBM,"['Full', 'Stack', 'Web', 'Developer', 'IBM']"
19,Santhosh Kumar,Technology Lead at Infosys,"Bengaluru, Karnataka, India",https://www.linkedin.com/in/santhosh156/?origi...,NaN,NaN,NaN,Designation:\tTechnology lead and Senior Pytho...,A result driven technology professional with a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Designation:\tTechnology lead and Senior Pytho...,"['Designation', ':', '\\tTechnology', 'lead', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,Sreekanth Koppuravuri,AWS Cloud developer - Devops at Hermes UK,United Kingdom,https://www.linkedin.com/in/sreekanth-koppurav...,"AWS Cloud developer - Devops, Regulatory Repor...","Hermes, Baillie Gifford, NHS Digital - Health ...","2 yrs 2 mos, 10 mos, 1 yr 5 mos, 2 yrs 4 mos, ...",Hermes strategic decisions to implement the en...,I have solid hands on experience and worked in...,AWS Cloud developer - Devops,Regulatory Reporting Assurance - Oracle Devel...,DevOps,oracle consultant,CRM & Billing test support,NaN,NaN,5,11,Hermes strategic decisions to implement the en...,"['Hermes', 'strategic', 'decisions', 'implemen..."
53,Mark Cooper,"Full-stack JavaScript, ASP.NET and cloud devel...","Penkridge, Staffordshire, United Kingdom",https://www.linkedin.com/in/mark-cooper-081754...,NaN,NaN,NaN,NaN,Iâ€™m a maker at heart (both digital and physica...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,"Full-stack JavaScript, ASP.NET and cloud devel...","['Full-stack', 'JavaScript', ',', 'ASP.NET', '..."
37,Ossama Alami,"Head of Developer Programs Engineering, Google...","San Francisco, California",https://www.linkedin.com/in/ossama/,"Head of Developer Programs Engineering, Google...","Google, Firebase, Google, Accenture, Random Wa...","4 yrs 6 mos, 11 mos, 6 yrs 2 mos, 3 yrs 1 mo, ...",I lead the Developer Programs Engineering team...,Iâ€™m an engineer and engineering manager with a...,Head of Developer Programs Engineering,Google Cloud Platform,VP of Developer Happiness,Head of Glass Developer Relations,Senior Consultant,Senior Consultant (Senior Software Engineer),NaN,17,2,I lead the Developer Programs Engineering team...,"['I', 'lead', 'Developer', 'Programs', 'Engine..."
60,Abhishek Anantharaman,Senior Cloud Developer at nbnâ„¢ Australia,"Melbourne, Australia",https://www.linkedin.com/in/abhishek-ananthara...,"Cloud Engineer, Senior Software Engineer, Seni...","Cevo Australia, GE Digital, Altisource","8 mos, 11 mos, 1 yr 3 mos",We describe ourselves as a team of passionate ...,"Over 9, years of experience in software design...",Cloud Engineer,Senior Software Engineer,Senior Software Engineer,NaN,NaN,NaN,NaN,1,3,We describe ourselves as a team of passionate ...,"['We', 'describe', 'team', 'passionate', 'prob..."
21,Peter Kadlot,Full Stack Developer,"London, United Kingdom",https://www.linkedin.com/in/peterkadlot/?origi...,"Freelance Full Stack JS Developer, Full Stack ...","MakeThink Ltd., StreetHub, Ustream, Inc., agen...","9 yrs, 3 yrs 7 mos, 4 mos, 1 yr",A mobile app and CRM specialized for the real ...,I have built systems that are used by thousand...,Freelance Full Stack JS Developer,Full Stack Software Developer,Designer/Frontend Developer Intern,Developer,UX,Co-Founder,NaN,14,7,A mobile app and CRM specialized for the real ...,"['A', 'mobile', 'app', 'CRM', 'specialized', '..."
56,Ankur Kotwal,APAC Lead of Cloud Developer & DevOps Advocacy...,"Sydney, Australia",https://www.linkedin.com/in/ankurkotwal/?origi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,APAC Lead of Cloud Developer & DevOps Advocacy...,"['APAC', 'Lead', 'Cloud', 'Developer', '&', 'D..."
28,Julian Wyatt,Junior Full Stack Developer. Angular JS | Node...,"London, United Kingdom",https://www.linkedin.com/in/julesjam/?original...,"Student, Operations Manager, Student - Part Ti...","WDI General Assembly London, Webstar-Health, G...","3 yrs 3 mos, 3 yrs 2 mos, less than a year, 3 yrs",Operations Manager Webstar-Health Ltd: Webstar...,"Following a very enjoyable career in Pharmacy,...",Student,Operations Manager,Student - Part Time - Front End Web Developme...,Consultancy for Pharmacy Retail Systems,NaN,NaN,NaN,10,5,Operations Manager Webstar-Health Ltd: Webstar...,"['Operations', 'Manager', 'Webstar-Health', 'L..."
40,Allen Cass,Mobile / Cloud Developer and Augmented Reality...,"Orange County, California Area",https://www.linkedin.com/in/crossmedia411/,"Lead Developer, Strategic Account Manager, Dig...","MERIDIUN, Konica Minolta Business Solutions U....","3 yrs 6 mos, 2 yrs 11 mos, 10 mos, 13 yrs 2 mos",MERIDIUN is an omni-channel mobile technology ...,"Augmented Reality, Artificial Intelligence, Ma...",Lead Developer,Strategic Account Manager,Digital Marketing Manager,Marketing Specialist,NaN,NaN,NaN,22,7,MERIDIUN is an omni-channel mobile technology ...,"['MERIDIUN', 'omni-channel', 'mobile', 'techno..."
63,Lars Klint,Technical Instructor - Microsoft Azure Content...,"Melbourne, Australia",https://www.linkedin.com/in/lklint/?originalSu...,"Proprietor, Podcast Host, Proprietor, Technica...","Crazy Dane Software, The Dane & The Pain, Mitt...","14 yrs, 4 yrs 11 mos, 4 yrs 8 mos, 5 yrs",We are a small customer focused company with a...,"Lars is an author, trainer, Microsoft MVP, com...",Proprietor,Podcast Host,Proprietor,Technical Author,NaN,NaN,NaN,30,7,We are a small customer focused company with a...,"['We', 'small', 'customer', 'focused', 'compan..."

In [62]:
from sklearn.metrics.pairwise import manhattan_distances
man_dist = manhattan_distances(freq_matrix, freq_matrix)
man_dist

array([[ 0.        ,  7.38557523, 12.62626864, ...,  8.90184711,
        14.68718834, 17.87346386],
       [ 7.38557523,  0.        ,  8.1507071 , ...,  3.54386712,
        10.58776451, 13.08247135],
       [12.62626864,  8.1507071 ,  0.        , ...,  9.44367124,
        15.09666746, 18.11042274],
       ...,
       [ 8.90184711,  3.54386712,  9.44367124, ...,  0.        ,
        11.21720028, 14.0792015 ],
       [14.68718834, 10.58776451, 15.09666746, ..., 11.21720028,
         0.        , 19.09853   ],
       [17.87346386, 13.08247135, 18.11042274, ..., 14.0792015 ,
        19.09853   ,  0.        ]])

In [63]:
man_dist_df=pd.DataFrame(man_dist)

In [64]:
man_dist_df=pd.concat([user_df,man_dist_df], axis=1)

In [65]:
man_dist_df.to_csv('mandist.csv',index=False)

In [66]:
def man_recommend_by_description(name):
    df = pd.read_csv('mandist.csv')
    with open('mandist.csv', 'r', encoding="utf8") as csvfile:
        rows = csv.reader(csvfile)
        next(rows, None)
        for row in rows:
            if(row[0]==name):
                list1=row[1:]
                list1 = [float(i) for i in list1]
                return list1

In [67]:
out1=man_recommend_by_description('Paul Garner')

In [68]:
out1

[0.0,
 7.385575234842183,
 12.6262686433491,
 7.702962278709282,
 7.765121369971691,
 7.841813531384772,
 8.759459491205288,
 11.476159318126948,
 7.442280798064805,
 16.484365851222222,
 7.599627789005842,
 16.38701413061997,
 14.686238187184353,
 7.385575234842183,
 11.016937980917522,
 15.107826244590427,
 13.962738624981471,
 8.073271803700285,
 15.055848115740275,
 13.937109444366031,
 8.334379778745168,
 13.518440228875392,
 8.30521307594648,
 12.522128512526606,
 14.95973944218607,
 14.148236606715512,
 8.360473665535519,
 12.22423414389661,
 14.554192559331229,
 11.959254850159043,
 8.65771402502464,
 8.30521307594648,
 8.30521307594648,
 8.221588357551418,
 14.121168255371956,
 14.611294581709021,
 13.11250864045275,
 15.83101877836523,
 8.688905867043712,
 9.604776944727483,
 14.92073774588674,
 13.834613233858168,
 8.453371090365454,
 15.993481924205087,
 13.686130429137009,
 9.252789959603344,
 13.075474130819911,
 16.51221133925549,
 17.743127555511776,
 9.167329139350194,
 7.933733125251726,
 16.147728526112758,
 10.040680318851106,
 8.794942256091458,
 8.671618480374345,
 17.467814301085408,
 8.786429868769504,
 17.30755451191463,
 12.25382808235748,
 8.482725855052024,
 11.653138265694851,
 15.10433806667587,
 16.91026534848776,
 13.579299108771867,
 15.816458499695912,
 12.146946733010296,
 8.757874956209918,
 9.144175481239534,
 9.604776944727483,
 15.83101877836523,
 14.92073774588674,
 8.453371090365454,
 8.12539573533111,
 15.993481924205087,
 11.665703354098197,
 13.686130429137009,
 14.737681663394124,
 16.234179973254157,
 8.671618480374345,
 8.952538768823224,
 8.253779394285333,
 17.28457859493212,
 9.576710731653941,
 9.635489872716127,
 18.582769736410974,
 16.147728526112758,
 12.692580068619849,
 16.926462495969844,
 14.89821844849206,
 8.350110537453954,
 17.46832427883538,
 15.930124461144892,
 9.172517834627627,
 8.5473859233593,
 12.205521177032404,
 11.170938277884005,
 12.106276198450999,
 14.435402705683883,
 11.980292544412752,
 8.305213075946481,
 8.499806114426814,
 11.457693734497596,
 9.524711554556644,
 15.618977373031882,
 9.16921691950656,
 13.927213848993578,
 10.960537953434628,
 7.544255468016464,
 7.385575234842183,
 16.568714006789556,
 14.168579405049044,
 9.032015258343712,
 10.960537953434628,
 8.286625806169212,
 8.09644964897401,
 8.35467175576107,
 11.824228122523996,
 12.77594379161032,
 8.613642852200453,
 8.300938807017527,
 15.460397261167788,
 13.616305994857823,
 15.04023567416206,
 13.516447093979378,
 14.384458767409448,
 8.584428425497865,
 8.681142433245974,
 8.148325353279976,
 11.623830153897924,
 13.381544063986473,
 16.807682685547853,
 13.149927704411414,
 13.654200375868445,
 8.321350401376995,
 12.226968370431964,
 9.639322074025092,
 17.177618253382022,
 12.554908487244225,
 11.356012380814288,
 15.746287152494904,
 14.422708334605211,
 8.675149496149222,
 8.544365190669856,
 8.340653482303146,
 8.90184710964504,
 14.687188341096636,
 17.87346386130615]

In [69]:
list1=list(range(66))

In [70]:
 dictionary = dict(zip(list1, out1))

In [71]:
dictionary_sorted_keys = sorted(dictionary, key=dictionary.get)

In [72]:
dictionary_sorted_keys.pop(0)

0

In [73]:
new_user_data.iloc[dictionary_sorted_keys]

,Name,Job Title,Location,URL,Old Positions,Old Companies,Number of years,job description,self description,Position1,Position2,Position3,Position4,Position5,Position6,Position7,exp_years,exp_months,description,Keywords
1,Bartosz Dziendzik,Python developer,"London, United Kingdom",https://www.linkedin.com/in/bartoszdziendzik/?...,Python Developer,Intelligent Optimisations,10 mos,"\n Python, JavaScript, Django, ...",NaN,Python Developer,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python developer,"['Python', 'developer']"
13,Isaac To,Python Developer,Greater Los Angeles Area,https://www.linkedin.com/in/candleindark/,Software Developer,"Smart Software Solutions, Inc",4 yrs 4 mos,Develop Python libraries for interacting with ...,NaN,Software Developer,NaN,NaN,NaN,NaN,NaN,NaN,5,4,Python Developer,"['Python', 'Developer']"
8,Scott White,Python Developer / Django Developer at Rockste...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/scott-white-6a377a...,"Python Developer / Django Developer, Python/Dj...","Rocksteady Games, Monumental Games","7 yrs 7 mos, 4 yrs",Working in a team of two on new and legacy pro...,NaN,Python Developer / Django Developer,Python/Django Web Developer,NaN,NaN,NaN,NaN,NaN,12,7,Python Developer / Django Developer at Rockste...,"['Python', 'Developer', '/', 'Django', 'Develo..."
10,Harish .N,Python Developer at CISCO,"Sunnyvale, California",https://www.linkedin.com/in/harish-n-29235314a/,"Python Developer, Python Developer, Python Dev...","Express Scripts, JPMorgan Chase & Co., MetLife...","11 mos, 1 yr 3 mos, 1 yr 11 mos, 1 yr 6 mos",â€¢\tDjango Framework that was used in developin...,NaN,Python Developer,Python Developer,Python Developer,Python Developer,NaN,NaN,NaN,6,8,Python Developer at CISCO,"['Python', 'Developer', 'CISCO']"
3,Danny Butler,Backend Python Developer at Ostmodern,"London, United Kingdom",https://www.linkedin.com/in/danny-butler-62834...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Backend Python Developer at Ostmodern,"['Backend', 'Python', 'Developer', 'Ostmodern']"
4,Georgi Georgiev,Python Developer/Data Engineer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/georgigeorgiev1/?o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python Developer/Data Engineer,"['Python', 'Developer/Data', 'Engineer']"
5,Luca Romagnoli,Python Developer at Mavens of London,"London, United Kingdom",https://www.linkedin.com/in/lucaromagnoli79/?o...,Supervisor,Chilango,2 yrs 3 mos,"â€¢ Design, develop and execute automation scrip...",NaN,Supervisor,NaN,NaN,NaN,NaN,NaN,NaN,3,3,Python Developer at Mavens of London,"['Python', 'Developer', 'Mavens', 'London']"
50,Chris Connelly,Cloud Developer at Cloudreach,"Edinburgh, United Kingdom",https://www.linkedin.com/in/chris-connelly-76a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Cloud Developer at Cloudreach,"['Cloud', 'Developer', 'Cloudreach']"
17,Srinivas Murthy,Python Developer at The affinity project,"Danville, California",https://www.linkedin.com/in/srinivas-murthy-53...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Python Developer at The affinity project,"['Python', 'Developer', 'The', 'affinity', 'pr..."
33,David Wu,Full Stack Web Developer,"Los Angeles, California",https://www.linkedin.com/in/davidwuwebdev/,"Full-stack Web Developer, Tech News Contributo...","Amazon, TechCrunch, Merrill Lynch, Salem Partn...","2 yrs 1 mo, 2 yrs 2 mos, 1 yr 1 mo, 3 mos, 4 mos","Personal portfolio site: www.davidwu.work, â€¢ ...",NaN,Full-stack Web Developer,Tech News Contributor (Part time),Full-stack Web Developer,Full-stack Web Developer Intern,Investment Banking Analyst Intern,NaN,NaN,5,4,Full Stack Web Developer,"['Full', 'Stack', 'Web', 'Developer']"
22,Tiago Fernandes,Full Stack Developer at Zava,"London, United Kingdom",https://www.linkedin.com/in/tmsfernandes/?orig...,Researcher,Universidade do Minho,11 mos,"Research in Cryptography, particularly Concret...",NaN,Researcher,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Full Stack Developer at Zava,"['Full', 'Stack', 'Developer', 'Zava']"
31,Eric Carmona,Full Stack Developer at Brighter,"Chatsworth, California",https://www.linkedin.com/in/esc93279/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Full Stack Developer at Brighter,"['Full', 'Stack', 'Developer', 'Brighter']"
32,Brian Ly,Full Stack Developer at RuleMeister,"Monterey Park, California",https://www.linkedin.com/in/brian-ly-95617082/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Full Stack Developer at RuleMeister,"['Full', 'Stack', 'Developer', 'RuleMeister']"
20,Jeremy N Pitt,Freelance Full-Stack Developer,"London, Greater London, United Kingdom",https://www.linkedin.com/in/jeremypitt/?origin...,NaN,NaN,NaN,NaN,I am an experienced Freelance Full-Stack Devel...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Freelance Full-Stack Developer,"['Freelance', 'Full-Stack', 'Developer']"
26,Kiran Kulkarni,Full Stack Web Developer at IBM,"London, Greater London, United Kingdom",https://www.linkedin.com/in/kiran-kulkarni-bb3...,"Inside Sales Executive, Barstaff","Advanced Business Solutions, Allenburys Sports...","9 mos, 2 yrs 7 mos",Advanced Computer Solutions is a leading UK so...,NaN,Inside Sales Executive,Barstaff,NaN,NaN,NaN,NaN,NaN,3,7,Full Stack Web Developer at IBM,"['Full', 'Stack', 'Web', 'Developer', 'IBM']"
42,Jules Kremer,"Manager, Cloud Developer Relations at Google","San Diego, California",https://www.linkedin.com/in/juleskremer/,Head of Apps Strategic Insights & Sales Succes...,"Google, Microsoft, Neudesic, Sheppard, Mullin,...","4 yrs 4 mos, 2 yrs 2 mos, 1 yr, 1 yr","\n I work on Angular things., ... , As He...",NaN,Head of Apps Strategic Insights & Sales Success,Enterprise Technology Strategist,Principal Consultant,Senior Web Developer,NaN,NaN,NaN,8,6,"Manager, Cloud Developer Relations at Google","['Manager', ',', 'Cloud', 'Developer', 'Relati..."
59,Sermil M.,Cloud Developer (Remote) at itGenius Australia,"NCR - National Capital Region, Philippines",https://www.linkedin.com/in/sermil/?originalSu...,NaN,NaN,NaN,NaN,Full Stack Web Developer with strong infrastru...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Cloud Developer (Remote) at itGenius Australia,"['Cloud', 'Developer', '(', 'Remote', ')', 'it..."
30,David Lee,Full Stack Web Developer & IT Professional,"Los Angeles, California",https://www.linkedin.com/in/davidhyunlee/,"Full Stack Web Developer, Technical Team Lead,...","Freelance Web Development, BCI7S, Bankinfra Te...","4 yrs 4 mos, 7 mos, 1 yr 8 mos, 4 mos",I develop web applications using the time test...,NaN,Full Stack Web Developer,Technical Team Lead,Web Developer & Technical Documentation Speci...,Web Development Teaching Assistant,NaN,NaN,NaN,8,0,Full Stack Web Developer & IT Professional,"['Full', 'Stack', 'Web', 'Developer', '&', 'IT..."
54,Adam Jackson,Developer Relations Program Manager at Microsoft,"London, Greater London, United Kingdom",https://www.linkedin.com/in/adampjackson/?orig...,NaN,NaN,NaN,NaN,The Developer Relations team is part of Azure ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Developer Relations Program Manager at Microsoft,"['Developer', 'Relations', 'Program', 'Manager..."
38,David Martirosyan,"Senior front-end developer, Google Maps expert...","Los Angeles, California",https://www.linkedin.com/in/davidmartirosyan/,"Software Engineer, Cloud Architect",SADA Systems,3 yrs 10 mos,"\n Senior front-end developer, Google Map...",NaN,Software Engineer,Cloud Architect,NaN,NaN,NaN,NaN,NaN,4,10,"Senior front-end developer, Google Maps expert...","['Senior', 'front-end', 'developer', ',', 'Goo..."
6,Sandra Greiss,Freelance Data Scientist and Python Developer ...,"London, Greater London, United Kingdom",https://www.linkedin.com/in/sandra-greiss-0666...,"Data Scientist, Internship","Lyst, Commercial Bank","1 yr 7 mos, 1 mo",I spent my internship in the Treasury and Inve...,NaN,Data Scientist,Internship,NaN,NaN,NaN,NaN,NaN,2,7,Freelance Data Scientist and Python Developer ...,"['Freelance', 'Data', 'Scientist', 'Python', '..."
56,Ankur Kotwal,APAC Lead of Cloud Developer & DevOps Advocacy...,"Sydney, Australia",https://www.linkedin.com/in/ankurkotwal/?origi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,APAC Lead of Cloud Developer & DevOps Advocacy...,"['APAC', 'Lead', 'Cloud', 'Developer', '&', 'D..."
53,Mark Cooper,"Full-stack JavaScript, ASP.NET and cloud devel...","Penkridge, Staffordshire, United Kingdom",https://www.linkedin.com/in/mark-cooper-081754...,NaN,NaN,NaN,NaN,Iâ€™m a maker at heart (both digital and physica...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,"Full-stack JavaScript, ASP.NET and cloud devel...","['Full-stack', 'JavaScript', ',', 'ASP.NET', '..."
49,Amy Kate Boyd,"Cloud Developer Advocate (UK) in AI/ML , Devel...","Churchover, Warwickshire, United Kingdom",https://www.linkedin.com/in/amykatenicho/?orig...,NaN,NaN,NaN,NaN,"A highly passionate, motivated, hardworking an...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,"Cloud Developer Advocate (UK) in AI/ML , Devel...","['Cloud', 'Developer', 'Advocate', '(', 'UK', ..."
45,Jo Banda,Solutions Architect - 3 X Salesforce Certified...,"Orange County, California Area",https://www.linkedin.com/in/jo-banda-12554b177/,NaN,NaN,NaN,NaN,3X Salesforce Certified with 6 years expertise...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Solutions Architect - 3 X Salesforce Certified...,"['Solutions', 'Architect', '-', '3', 'X', 'Sal..."
39,Aysegul Yonet,Senior Cloud Developer Advocate at Microsoft.\...,"San Francisco, California",https://www.linkedin.com/in/aysegulyonet/,NaN,NaN,NaN,NaN,\n Google Developer Expert Angular & Web...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Senior Cloud Developer Advocate at Microsoft.\...,"['Senior', 'Cloud', 'Developer', 'Advocate', '..."
52,Jonathan Bass,"Cloud Developer (contract) at Grass Valley, a ...","Derby, United Kingdom",https://www.linkedin.com/in/jonathan-bass-9818...,"Cloud Developer (contract), Director","Grass Valley, a Belden Brand, Tekcel Ltd.","2 mos, 2 yrs 9 mos","\n Cloud development in AWS, ... , \n ...",Contract software developer with 11 years expe...,Cloud Developer (contract),Director,NaN,NaN,NaN,NaN,NaN,3,9,"\n Cloud development in AWS, ... , \n ...","['\\n', 'Cloud', 'development', 'AWS', ',', '...."
14,Anastasiia Konak,Python Developer at Django Stars,"San Francisco, California",https://www.linkedin.com/in/anastasiia-konak-9...,Python Developer at Uniblue,Ciklum,1 yr 8 mos,Developed a Windows performance enhancement so...,"Communicative and eager to learn, want to adva...",Python Developer at Uniblue,NaN,NaN,NaN,NaN,NaN,NaN,2,8,Developed a Windows performance enhancement so...,"['Developed', 'Windows', 'performance', 'enhan..."
7,Pablo Chao Andrade,Python developer,"London, United Kingdom",https://www.linkedin.com/in/pablo-chao-andrade...,"Python Developer, FX Risk developer, FX Risk d...","Bank of America Merrill Lynch, JPMorgan Chase,...","1 yr 7 mos, 2 yrs 7 mos, 12 mos, 1 yr 2 mos",Worked on a reconciliation tool between front ...,"\n Specialties: python, test driven devel...",Python Developer,FX Risk developer,FX Risk developer,Market data developer,NaN,NaN,NaN,8,4,Worked on a reconciliation tool between front ...,"['Worked', 'reconciliation', 'tool', 'front', ..."
60,Abhishek Anantharaman,Senior Cloud Developer at nbnâ„¢ Australia,"Melbourne, Australia",https://www.linkedin.com/in/abhishek-ananthara...,"Cloud Engineer, Senior Software Engineer, Seni...","Cevo Australia, GE Digital, Altisource","8 mos, 11 mos, 1 yr 3 mos",We describe ourselves as a team of passionate ...,"Over 9, years of experience in software design...",Cloud Engineer,Senior Software Engineer,Senior Software Engineer,NaN,NaN,NaN,NaN,1,3,We describe ourselves as a team of passionate ...,"['We', 'describe', 'team', 'passionate', 'prob..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,Cal Paterson,Contract Python Developer at J.P. Morgan,"London, Greater London, United Kingdom",https://www.linkedin.com/in/cal-paterson-290a2...,"Contract Python Developer, Contract Python Dev...","Citi, Bank of America Merrill Lynch","4 mos, 1 yr 3 mos",DevOps (primarily infrastructure automation) o...,\n Senior software engineer with a varied...,Contract Python Developer,Contract Python Developer,NaN,NaN,NaN,NaN,NaN,2,3,DevOps (primarily infrastructure automation) o...,"['DevOps', '(', 'primarily', 'infrastructure',..."
46,Mahfuz Choudhury,Salesforce Developer(Contract) / Integration C...,"London, United Kingdom",https://www.linkedin.com/in/mahfuz-choudhury-2...,"Lead Salesforce Developer, Jitterbit Consultan...","BMO Global Asset Management (EMEA), Capgemini","3 mos, 1 mo",\n Delivered Client Mandate book of recor...,Salesforce.com Certified Technical Consultant/...,Lead Salesforce Developer,Jitterbit Consultant (Consultancy on behalf o...,NaN,NaN,NaN,NaN,NaN,1,0,\n Delivered Client Mandate book of recor...,"['\\n', 'Delivered', 'Client', 'Mandate', 'boo..."
36,Angel Diaz,Global Director of Engineering for Technology ...,"Palo Alto, California",https://www.linkedin.com/in/diazangel/,Global Director of Engineering for Technology,EY,2 mos,Dr. Angel Luis Diaz is Ernst & Youngâ€™s Global ...,Dr. Angel Luis Diaz is Ernst & Youngâ€™s Global ...,Global Director of Engineering for Technology,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Dr. Angel Luis Diaz is Ernst & Youngâ€™s Global ...,"['Dr.', 'Angel', 'Luis', 'Diaz', 'Ernst', '&',..."
21,Peter Kadlot,Full Stack Developer,"London, United Kingdom",https://www.linkedin.com/in/peterkadlot/?origi...,"Freelance Full Stack JS Developer, Full Stack ...","MakeThink Ltd., StreetHub, Ustream, Inc., agen...","9 yrs, 3 yrs 7 mos, 4 mos, 1 yr",A mobile app and CRM specialized for the real ...,I have built systems that are used by thousand...,Freelance Full Stack JS Developer,Full Stack Software Developer,Designer/Frontend Developer Intern,Developer,UX,Co-Founder,NaN,14,7,A mobile app and CRM specialized for the real ...,"['A', 'mobile', 'app', 'CRM', 'specialized', '..."
63,Lars Klint,Technical Instructor - Microsoft Azure Content...,"Melbourne, Australia",https://www.linkedin.com/in/lklint/?originalSu...,"Proprietor, Podcast Host, Proprietor, Technica...","Crazy Dane Software, The Dane & The Pain, Mitt...","14 yrs, 4 yrs 11 mos, 4 yrs 8 mos, 5 yrs",We are a small customer focused company with a...,"Lars is an author, trainer, Microsoft MVP, com...",Proprietor,Podcast Host,Proprietor,Technical Author,NaN,NaN,NaN,30,7,We are a small customer focused company with a...,"['We', 'small', 'customer', 'focused', 'compan..."
44,Rich Cahill,Cloud Application Specialist and Developer,San Francisco Bay Area,https://www.linkedin.com/in/rich-cahill-670b22a7/,Cloud Application and Datacenter Acceleration ...,"Intel Corporation, Insight Electronics, IDT - ...","4 yrs 1 mo, 2 yrs 5 mos, 2 yrs 5 mos","SW and HW accelerator application development,...",20+ years of experience in the technology indu...,Cloud Application and Datacenter Acceleration ...,Applications Engineer,Product Engineer,NaN,NaN,NaN,NaN,8,11,"SW and HW accelerator application development,...","['SW', 'HW', 'accelerator', 'application', 'de..."
41,Shalakha Sidmul,Associate Cloud Developer at Amazon Web Servi...,San Francisco Bay Area,https://www.linkedin.com/in/shalakhansidmul/,"Software Engineering Intern, Software Engineer...","Zendesk, eQ Technologic, Tata Research, Design...","4 mos, 3 yrs 1 mo, 11 mos, 3 mos",1. Proof-of-concept for piping items from Kafk...,\n I am a tech enthusiast. I love program...,Software Engineering Intern,Software Engineer,Project Intern,Project Intern,NaN,NaN,NaN,4,1,1. Proof-of-concept for piping items from Kafk...,"['1', '.', 'Proof-of-concept', 'piping', 'item..."
19,Santhosh Kumar,Technology Lead at Infosys,"Bengaluru, Karnataka, India",https://www.linkedin.com/in/santhosh156/?origi...,NaN,NaN,NaN,Designation:\tTechnology lead and Senior Pytho...,A result driven technology professional with a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,Designation:\tTechnology lead and Senior Pytho...,"['Designation', ':', '\\tTechnology', 'lead', ..."
16,Michael Alber,"Senior PHP, Python Developer, and Cloud Admini...",San Francisco Bay Area,https://www.linkedin.com/in/albermichael/,Senior Software Developer and Cloud Administra...,"California Business Technology, Inc., ONE2Mark...","6 yrs 8 mos, 9 yrs 4 mos, 6 yrs 11 mos, 1 yr 1...","A senior PHP, Python developer, and technical ...","Strong professional skills in Python, PHP, Jav...",Senior Software Developer and Cloud Administrator,Partner / Senior Software Developer,Senior Software Developer and Team Lead,Lead Software Developer,Senior Software Developer,NaN,NaN,27,9,"A senior PHP, Python developer, and technical ...","['A', 'senior', 'PHP', ',', 'Python', 'develop..."
34,Karanvir Sandhu,Full Stack Developer at GLXY,"San Jose, California",https://www.linkedin.com/in/karanvir-sandhu-44...,"Vice president , Advanced Summer Youth leader...","California For Justice Chapter, Independence ...","10 mos, 3 mos",- Organized meetings with school district memb...,Seeking a summer internship position in the fi...,Vice president,Advanced Summer Youth leadership Intern,Independence High School,NaN,NaN,NaN,NaN,1,0,- Organized meetings with school district memb...,"['-', 'Organized', 'meetings', 'school', 'dist..."
25,RubÃ©n GarcÃ­a LÃ³pez,Full Stack Developer at Toptal,"London, United Kingdom",https://www.linkedin.com/in/rub%C3%A9n-garc%C3...,"Full Stack Developer, Senior Software Develope...","Toptal, Thomas Cook, Meganexus, Software AG, C...","3 yrs 7 mos, 2 yrs 8 mos, 1 yr 5 mos, 4 yrs 6 ...",Full stack javascript developer working remote...,Software engineer with over 10 years experienc...,Full Stack Developer,Senior Software Developer,Senior Software Developer,Senior Software Developer,Software Developer,NaN,NaN,13,2,Full stack javascript developer working remote...,"['Full', 'stack', 'javascript', 'developer', '..."
28,Julian Wyatt,Junior Full Stack Developer. Angular JS | Node...,"London, United Kingdom",https://www.linkedin.com/in/julesjam/?original...,"Student, Operations Manager, Student - Part Ti...","WDI General Assembly London, Webstar-Health, G...","3 yrs 3 mos, 3 yrs 2 mos, less than a year, 3 yrs",Operations Manager Webstar-Health Ltd: Webstar...,"Following a very enjoyable career in Pharmacy,...",Student,Operations Manager,Student - Part Time - Front End Web Developme...,Consultancy for Pharmacy Retail Systems,NaN,NaN,NaN,10,5,Operations Manager Webstar-Health Ltd: Webstar...,"['Operations', 'Manager', 'Webstar-Health', 'L..."
35,Laura Salcido,Full Stack Developer,"Orange County, California Area",https://www.linkedin.com/in/devlaura/,"Full Stack Web Developer, Coding Bootcamp Teac...","FUSION OF IDEAS, UC Irvine, Freelance, self-em...","10 mos, 11 mos, 1 yr 4 mos, 1 yr 5 mos, 3 yrs ...",Iâ€™ve always been interested in web development...,Lifelong learner and passionate about web deve...,Full Stack Web Developer,Coding Bootcamp Teaching Assistant,Software Developer,Inside Sales Representative,Interior Design Manager,NaN,NaN,8,8,Iâ€™ve always been interested in web development...,"['I', 'â€™', 'always', 'interested', 'web', 'dev..."
12,Iskandar Bakhtizin,Python Developer,"Santa Monica, California",https://www.linkedin.com/in/iskandar-bakhtizin...,NaN,NaN,NaN,"Ecommerce Lov2lov (lov2lov.com), Within this p...",Junior results-oriented software developer I a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,"Ecommerce Lov2lov (lov2lov.com), Within this p...","['Ecommerce', 'Lov2lov', '(', 'lov2lov.com', '..."